@use '../../_styles/colors.scss' as *;

 .create-user-form-wrapper {
  .signup-card {
    max-width: 500px;
    .mat-mdc-card-header {
      justify-content: center;
      margin-bottom: 24px;
      .mat-mdc-card-title {
        color: $vl-primary;
        font-weight: bold;
        font-size: 1.9em;
      }
    }
  }

  .form {
    .form-fields {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .actions {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 20px;
    }
    .success {
      display: flex;
      flex-direction: column;
      color: $vl-primary-dark;
      text-align: center;
      font-weight: bold;
      p.icon-success {
        font-size: 62px;
        .mat-icon {
          height: 100px;
          width: 100px;
          border: 2px solid $vl-primary;
          border-radius: 50px;
        }
      }
    }
  }
}
