<div class="identification-inline-wrapper">
  <ul class="identification-element" *ngIf="myIdentifications.length === 0 && otherIdentifications.length === 0">
    <li>
      <span class="label">
        <span class="layer" *ngIf="_element.layer && _element.layer">{{ _element.layer }}</span>
        <span class="text no-identification">Aucune identification</span>
      </span>
    </li>
  </ul>

  <ul class="identification-element" *ngIf="myIdentifications.length > 0">
    <li class="my-identification" *ngFor="let myIdentification of myIdentifications">
      <span class="label">
        <div class="pe-2">
          <vl-user-initials-avatar [user]="myIdentification.owner" [diameterEm]="2" [options]="{highlight: true}"></vl-user-initials-avatar>
        </div>
        <span class="layer pe-2" *ngIf="_element.layer && _element.layer">{{ _element.layer }}</span>
        <span class="date pe-2">{{ myIdentification.createdAt | date:'dd/MM/yy' }}</span>
        <span class="text">
          <span> [{{ myIdentification.repository }}] {{ myIdentification.taxonomicalName }}</span>
          <span *ngIf="allowDelete">
            <button mat-icon-button color="warn" (click)="deleteElement(myIdentification)" matTooltip="Marquer comme à supprimer">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </span>
      </span>
      <!--<mat-icon *ngIf="!showAllIdentifications" [class.disabled]="otherIdentifications.length === 0" (click)="toggleShowAllIdentifications()">keyboard_arrow_up</mat-icon>
      <mat-icon *ngIf="showAllIdentifications" (click)="toggleShowAllIdentifications()">keyboard_arrow_down</mat-icon>-->
    </li>
    <li class="showHideOtherIdentifications" *ngIf="!showAllIdentifications && otherIdentifications.length > 0" (click)="showAllIdentifications = !showAllIdentifications">
      <span class="text" *ngIf="otherIdentifications.length === 1">Afficher 1 autre identification</span>
      <span class="text" *ngIf="otherIdentifications.length > 1">Afficher {{ otherIdentifications.length }} autres identifications</span>
    </li>
    <li class="showHideOtherIdentifications" *ngIf="showAllIdentifications && otherIdentifications.length > 0" (click)="showAllIdentifications = !showAllIdentifications">
      <span class="text" *ngIf="otherIdentifications.length === 1">Masquer  1 autre identification</span>
      <span class="text" *ngIf="otherIdentifications.length > 1">Masquer {{ otherIdentifications.length }} autres identifications</span>
    </li>
    <div *ngIf="showAllIdentifications">
      <li class="other-identification" *ngFor="let identification of otherIdentifications">
        <span class="label">
          <div class="pe-2">
            <vl-user-initials-avatar [user]="identification.owner" [diameterEm]="2" [options]="{highlight:false}"></vl-user-initials-avatar>
          </div>
          <span class="layer" *ngIf="_element.layer && _element.layer">{{ _element.layer }}</span>
          <span class="text">[{{ identification.repository }}] {{ identification.taxonomicalName }}</span>
        </span>
      </li>
    </div>
  </ul>

  <ul class="identification-element" *ngIf="myIdentifications.length === 0">
    <li *ngIf="otherIdentifications.length > 0">
      <span class="label">
        <div class="pe-2">
          <vl-user-initials-avatar [user]="otherIdentifications[0].owner" [diameterEm]="2" [options]="{highlight:false}"></vl-user-initials-avatar>
        </div>
        <span class="layer" *ngIf="_element.layer && _element.layer">{{ _element.layer }}</span>
        <span class="text">[{{ otherIdentifications[0].repository }}] {{ otherIdentifications[0].taxonomicalName }}</span>
      </span>
      <!--<mat-icon *ngIf="!showAllIdentifications" [class.disabled]="otherIdentifications.length === 1" (click)="toggleShowAllIdentifications()">keyboard_arrow_up</mat-icon>
      <mat-icon *ngIf="showAllIdentifications" (click)="toggleShowAllIdentifications()">keyboard_arrow_down</mat-icon>-->
    </li>
    <li class="showHideOtherIdentifications" *ngIf="!showAllIdentifications && otherIdentifications.length > 1" (click)="showAllIdentifications = !showAllIdentifications">
      <span class="text" *ngIf="otherIdentifications.length - 1 === 1">Afficher 1 autre identification</span>
      <span class="text" *ngIf="otherIdentifications.length - 1 > 1">Afficher {{ otherIdentifications.length - 1 }} autres identifications</span>
    </li>
    <li class="showHideOtherIdentifications" *ngIf="showAllIdentifications && otherIdentifications.length > 1" (click)="showAllIdentifications = !showAllIdentifications">
      <span class="text" *ngIf="otherIdentifications.length - 1 === 1">Masquer 1 autre identification</span>
      <span class="text" *ngIf="otherIdentifications.length - 1 > 1">Masquer {{ otherIdentifications.length - 1 }} autres identifications</span>
    </li>
    <div *ngIf="showAllIdentifications">
      <li class="other-identification" *ngFor="let identification of otherIdentifications | slice:1">
        <span class="label">
          <div class="pe-2">
            <vl-user-initials-avatar [user]="identification.owner" [diameterEm]="2" [options]="{highlight:false}"></vl-user-initials-avatar>
          </div>
          <span class="layer" *ngIf="_element.layer && _element.layer">{{ _element.layer }}</span>
          <span class="text">[{{ identification.repository }}] {{ identification.taxonomicalName }}</span>
        </span>
      </li>
    </div>
  </ul>

</div>
