<div class="geo-search-wrapper">
  <mat-form-field class="level-input">
    <mat-label>Niveau</mat-label>
    <mat-select [(value)]="selectedLevel">
      <mat-option value="all">Tous</mat-option>
      <mat-option value="country">Pays</mat-option>
      <mat-option value="region">Région</mat-option>
      <mat-option value="county">Département</mat-option>
      <mat-option value="city">Commune</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="autocomplete-input">
    <mat-label>Rechercher</mat-label>
    <input #searchInput
           type="text"
           placeholder="Rechercher"
           matInput
           [formControl]="geoSearchCtrl"
           [matAutocomplete]="autoGeoSearch">
    <mat-autocomplete
      autoActiveFirstOption
      #autoGeoSearch="matAutocomplete"
      (optionSelected)="onOptionSelected($event)">
        <mat-option  *ngFor="let option of filteredOptions | async" [value]="option">
          {{ geoService.displayFn(option) }}
        </mat-option>
    </mat-autocomplete>
    <mat-spinner *ngIf="isLoading" matSuffix diameter="18"></mat-spinner>
  </mat-form-field>
</div>
