@use '../../_styles/colors.scss' as *;

.login-wrapper {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../../assets/img/login_nb.jpg');
  background-size: cover;

  .login-card {
    max-width: 500px;
    .mat-mdc-card-header {
      justify-content: center;
      margin-bottom: 24px;
      .mat-mdc-card-title {
        color: $vl-primary;
        font-weight: bold;
        font-size: 1.9em;
      }
    }
  }

  .tela-botanica-header-image {
    width: 70px;
    height: 70px;
    background-image: url('../../../assets/img/tela-bota/logo_sans_mots.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .content {
    text-align: center;
    mat-form-field {
      width: 220px;
    }
    .error-message {
      text-align: center;
    color: red;
    }
    .icon-show-hide-password {
      cursor: pointer;
    }
  }

  .action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    .button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &.login {
        width: 120px;
        height: 36px;
      }
    }
  }
}

// auto loading indicator

$brand-success: $vl-primary;
$loader-size: 7em;
$check-height: 3.2em; //$loader-size/2;
$check-width: $check-height/2;
$check-left: 1.2em; // ($loader-size/6 + $loader-size/12);
$check-thickness: 6px;
$check-color: $brand-success;

.circle-loader {
  margin-bottom: $loader-size/2;
  border: 8px solid rgba(0, 0, 0, 0.2);
  border-left-color: $check-color;
  animation: loader-spin .8s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
  &.load-complete {
    background-color: white;
    animation: none;
    border-color: $check-color;
    transition: border 500ms ease-out;
  }
}



.checkmark {
  &.hide {
    display: none;
  }

  &.draw:after {
    animation-duration: 600ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }

  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: $check-thickness solid $check-color;
    border-top: $check-thickness solid $check-color;
    content: '';
    left: $check-left;
    top: $check-height;
    position: absolute;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}
