<div class="login-wrapper">
  <div *ngIf="autoLogging">
    <div class="circle-loader" [class.load-complete]="autoLoggingSuccessful">
      <div class="checkmark draw" [class.hide]="!autoLoggingSuccessful"></div>
    </div>
  </div>

  <mat-card *ngIf="!autoLogging" appearance="outlined" class="login-card">
    <mat-card-header>
      <!--<div mat-card-avatar><mat-icon aria-hidden="false" aria-label="Icone connexion">account_circle</mat-icon></div>-->
      <mat-card-title>Se connecter</mat-card-title>
      <!--<mat-card-subtitle>avec Tela Botanica</mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content class='content'>
      <form>
        <p>
          <mat-form-field>
            <input matInput placeholder="E-mail ou nom d'utilisateur" name="username" type="text" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input matInput placeholder="Mot de passe" name="password" [type]="hidePassword ? 'password' : 'text'" [formControl]="password" (keypress)="onPasswordKeyup($event)" required>
            <mat-icon class="icon-show-hide-password" matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Afficher le mot de passe'" [attr.aria-pressed]="'Masquer le mot de passe'">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </p>

        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      </form>
    </mat-card-content>
    <mat-card-actions class="action-buttons">
      <!--<a class="button" mat-button href="https://www.tela-botanica.org/inscription/" target="_blank">Créer un compte</a>-->
      <button mat-raised-button class="button login" color="primary" *ngIf="!isLogging" type="submit" [disabled]="!isFormComplete()" (click)="login()">Connexion</button>
      <button mat-raised-button class="button login" color="primary" *ngIf="isLogging" disabled><mat-spinner diameter="16"></mat-spinner></button>
    </mat-card-actions>
  </mat-card>
</div>
