<form [formGroup]="tableForm">
  <h1 *ngIf="title">{{ title }}</h1>

  <div class="form-items">
    <!-- Title -->
    <mat-form-field>
      <input matInput #titleInput formControlName="title" placeholder="Titre du tableau" maxlength="{{ maxTitleLength }}">
      <mat-hint align="end">{{titleInput.value?.length || 0}}/{{ maxTitleLength }}</mat-hint>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field>
      <textarea matInput #descriptionInput formControlName="description" placeholder="Courte description du tableau" maxlength="{{ maxDescriptionLength }}"></textarea>
      <mat-hint align="end">{{descriptionInput.value?.length || 0}}/{{ maxDescriptionLength }}</mat-hint>
    </mat-form-field>

    <!-- Syntaxon -->
    <div class="inline-form syntaxon">
      <mat-slide-toggle formControlName="isDiagnosis">Diagnose originale</mat-slide-toggle>
    </div>

    <div class="relatedPdfFiles">
      <!-- PDF -->
      <div class="pdfFile" *ngIf="tableForm.controls.isDiagnosis.value && pdfFilesToSend.length == 0">
          <vl-dropfile-box
            label="Ajouter le fichier PDF de la diagnose"
            labelHelp="15 Mo maximum"
            maxFileSize="15000"
            [allowFullWindowDrop]="false"
            [showTable]="false"
            [allowedFileTypes]="allowedUploadedFileTypes"
            (acceptedFiles)="pdfUploaded($event)"
          ></vl-dropfile-box>
        </div>
        <!-- pdf file to be sent -->
        <div *ngIf="pdfFilesToSend.length == 1" class="pdfFileList">
          <div class="icon"><mat-icon>attachment</mat-icon></div>
          <div class="displayName">{{ relatedPdfFile[0]?.file.name }}</div>
          <div class="actions">
            <button mat-icon-button aria-label="Delete" (click)="deleteRelatedPdfFile(relatedPdfFile[0])"><mat-icon>delete</mat-icon></button>
          </div>
        </div>
        <!-- pdf file already exists -->
        <div *ngIf="currentTablePdfFiles.length > 0" class="pdfFileList">
          <div class="icon"><mat-icon>attachment</mat-icon></div>
          <div class="displayName">{{ currentTablePdfFiles[0].originalName }}</div>
          <div class="actions">
            <button mat-icon-button aria-label="Delete" (click)="deleteTablePdfFile(currentTablePdfFiles[0])"><mat-icon>delete</mat-icon></button>
          </div>
        </div>
    </div>
  </div>

  <div class="saveCurrentTable" *ngIf="!tableService.isSavingCurrentTable">
    <button mat-raised-button color="primary" (click)="saveTable()" [disabled]="uploadingPdf || postingOrPutingTable" [class.spinner]="uploadingPdf || postingOrPutingTable">Enregistrer le tableau</button>
  </div>
  <div class="saveCurrentTable">
    <p *ngIf="uploadingPdf">Enregistrement du fichier PDF en cours...</p>
    <p *ngIf="postingOrPutingTable">Enregistrement du tableau en cours...</p>
  </div>
</form>
