@use '../../../app/_styles/colors' as *;

:host {
  .toast-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  color: #000000;
  border-left-style: solid;
  border-left-width: 10px;
  &.toast-info { background-color: lighten($info, 50%); border-color: $info; }
  &.toast-success { background-color: lighten($success, 50%); border-color: $success; }
  &.toast-warning { background-color: lighten($warning, 30%); border-color: $warning; }
  &.toast-error { background-color: lighten($error, 50%); border-color: $error; }

  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 10px 10px 10px 10px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  pointer-events: all;
  cursor: pointer;
}
.btn-pink {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
