@use '../../_styles/colors.scss' as *;
@use '../../_styles/range-slider' as *;

.mat-sidenav-container {
  background-color: transparent;
  height: 100%;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 0;
    height: 100%;
    h1 {
      text-align: center;
      padding-right: 10px;
      font-size: 20px;
    }
    .filter-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
      mat-tab-group {
        .tab-body-wrapper {
          padding: 10px;
          .tab-section {
            padding-left: 10px;
            padding-right: 10px;
            border-left: 3px solid white;
            text-align: center;
            &:hover {
              border-left: 3px solid $blue-material-light;
            }
            .section-title {
              font-size: 1.2em;
              color: $blue-material;
              font-variant-caps: all-small-caps;
              text-align: center;
              padding-top: 5px;
              padding-bottom: 5px;
            }
            .section-body {
              margin-top: 5px;
              margin-bottom: 15px;
            }
          }
        }
        .occurrence-filter-box {
          min-height: 50px;
          width: 100%;
          border: 1px dashed grey;
          margin-bottom: 10px;
          padding: 10px;
          &.must {
            border-color: green;
          }
          &.must-not {
            border-color: red;
          }
        }
      }
    }

    .spacer {
      flex: 2;
    }

    .results-container {
      overflow-y: scroll;
      .header {
        // position: sticky;
        // top: 0;
        // z-index: 99;
        .progress-bar-container {
          min-height: 4px;
        }
        .result-top-bar {
          margin-bottom: 10px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: baseline;
          font-weight: bold;
          .result-title {
            font-size: 1.4em;
            color: grey;
            margin-right: 15px;
          }
        }
      }
      .results {
        overflow-y: scroll;
        .results-cards {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
        }
      }
    }
  }
}



table.must-not-table {
  thead {
    th.title {
      width: 20%;
    }
    th.taxo-input {
      height: 80px;
    }
  }

  tbody {
    .row {
      display: table-row;
      td.title {
        padding-bottom: 10px;
        font-size: .9em;
      }
      &.must {
        .title {
          color: green;
        }
      }
      &.must-not {
        .title {
          color: red;
        }
      }
    }
  }
}

.table-filter {
  .result-item {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .display-name {
      flex: 2;
    }
    .actions {
      align-self: center;
    }
  }
}


img.vl-base-element-icon {
  &.inline {
    margin-right: 5px;
    height: 25px;
    width: 25px;
  }
}
