<mat-sidenav-container class="sidenav-container" (backdropClick)="closeSidenav()">
  <mat-sidenav #sidenav class="sidenav" position="end" (keydown.escape)="closeSidenav()">
    <div class="sidenav-content-wrapper">
      <div *ngIf="tableInfo">
        <vl-table-preview [table]="tableInfo" (close)="closePreview($event)"></vl-table-preview>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <div class="container">
      <h1>Rechercher un tableau</h1>
      <!-- FILTERS -->
      <div class="filter-container">
        <mat-tab-group mat-stretch-tabs>
          <!-- ************* -->
          <!-- Table filters -->
          <!-- ************* -->
          <mat-tab label="Tableau">
            <ng-template mat-tab-label>
              <img class="vl-base-element-icon inline" src="./assets/img/icons/tab-icon.jpg">
              Tableau
            </ng-template>
            <div class="tab-body-wrapper">
              <!-- search by id -->
              <!--<div class="tab-section">
                <div class="section-title">
                  Filtrer par identifiant unique
                </div>
                <div class="section-body">
                  <mat-form-field>
                    <input matInput placeholder="Identifiant unique">
                  </mat-form-field>
                </div>
              </div>-->

              <!-- search by vegetation -->
              <div class="tab-section">
                <div class="section-title">
                  Filtrer par végétation
                </div>
                <div class="section-body">
                    <mat-slide-toggle color="primary" (change)="tableMustBeADiagnosisChange($event)">Diagnose originale</mat-slide-toggle>
                    <mat-slide-toggle color="primary" (change)="tableMustHaveAPdfisChange($event)" [disabled]="!tableMustBeADiagnosis">Avec PDF</mat-slide-toggle>
                    <vl-taxo-search-box
                      level="synusy"
                      placeholder="Nom de végétation"
                      autoResetWhenSelected="true"
                      [defaultRepository]="defaultSyntaxonRepository"
                      [showRepositoryInput]="true"
                      (newData)="setTableIdentificationFilter($event)">
                    </vl-taxo-search-box>

                    <div class="table-filter" *ngIf="tableIdentification">
                      <div class="result-item">
                        <mat-chip-listbox #chipList>
                          <mat-chip-option
                            [removable]="true"
                            (removed)="removeTableIdentificationFilter()">
                            <div class="chip-text-nowrap">{{ tableIdentification.name }}</div>
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip-option>
                        </mat-chip-listbox>
                      </div>
                    </div>
                </div>
              </div>

              <!-- search bu biblio -->
              <div class="tab-section">
                <div class="section-title">
                  Filtrer par référence bibliographique
                </div>
                <div class="section-body">
                  <vl-biblio-search
                    fuzzySearch="true"
                    placeholder="Référence bibliographique"
                    clearAfterEmit="true"
                    (selectedBiblio)="tableBiblioChange($event)"
                    ></vl-biblio-search>

                  <div class="biblio-filter" *ngIf="tableBiblioFilter !== null">
                    <mat-chip-listbox>
                      <mat-chip-option
                        [removable]="true"
                        (removed)="resetTableBiblioFilter()">
                        <div class="chip-text-nowrap">{{ tableBiblioFilter.title }}</div>
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip-option>
                    </mat-chip-listbox>
                  </div>
                </div>
              </div>

              <!-- search my tables -->
              <div class="tab-section">
                <div class="section-title">
                  Filtrer par utilisateur
                </div>
                <div class="section-body">
                    <mat-slide-toggle color="primary" (change)="tableMustBeMineChange($event)">Mes tableaux</mat-slide-toggle>
                </div>
              </div>
            </div>
          </mat-tab>

          <!-- *********************** -->
          <!-- Col Occurrences filters -->
          <!-- ("Relevés" level)       -->
          <!-- *********************** -->
          <mat-tab label="Relevés">
            <ng-template mat-tab-label>
              <img class="vl-base-element-icon inline" src="./assets/img/icons/rel-icon.jpg">
              Relevés
            </ng-template>
            <div class="tab-body-wrapper">
              <!-- search by id -->
              <!--<div class="tab-section">
                <div class="section-title">
                  Filtrer par identifiant unique
                </div>
                <div class="section-body">
                  <mat-form-field>
                    <input matInput placeholder="Identifiant unique">
                  </mat-form-field>
                </div>
              </div>-->

              <!-- search by "species" -->
              <div class="tab-section">
                <div class="section-title">
                  Filtrer par végétation
                </div>
                <div class="section-body">
                  <mat-chip-listbox></mat-chip-listbox> <!-- https://github.com/angular/material2/issues/9964#issuecomment-480287541 -->
                  <table class="must-not-table">
                    <thead>
                      <tr class="header">
                        <th class="title"></th>
                        <th class="taxo-input">
                          <vl-taxo-search-box
                            level="synusy"
                            placeholder="Nom de végétation"
                            autoResetWhenSelected="true"
                            [defaultRepository]="defaultSyntaxonRepository"
                            [showRepositoryInput]="true"
                            (newData)="addColOccurrenceToFilter($event)">
                          </vl-taxo-search-box>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="row must">
                        <td class="title">Les tableaux <b>doivent</b> contenir</td>
                        <td>
                          <!-- must/should contain box -->
                          <div cdkDropList #mustContainColList="cdkDropList" [cdkDropListData]="mustContainColOccurrences" [cdkDropListConnectedTo]="[mustNotContainColList]" (cdkDropListDropped)="dropColOccurrenceBetweenLists($event)" id="mustContainBox" class="occurrence-filter-box must">
                            <mat-chip-option cdkDrag *ngFor="let item of mustContainColOccurrences" removable="true" (removed)="removeColOccurrenceFromMustContainList(item)">
                              {{ item.name }} {{ item.author }}
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip-option>
                          </div>
                        </td>
                      </tr>
                      <tr class="row must-not">
                        <td class="title">Les tableaux <b>ne doivent pas</b> contenir</td>
                        <td>
                          <!-- must not/should not contain box -->
                          <div cdkDropList #mustNotContainColList="cdkDropList" [cdkDropListData]="mustNotContainColOccurrences" [cdkDropListConnectedTo]="[mustContainColList]" (cdkDropListDropped)="dropColOccurrenceBetweenLists($event)" id="mustNotContainBox" class="occurrence-filter-box must-not">
                            <mat-chip-option cdkDrag *ngFor="let item of mustNotContainColOccurrences" removable="true" (removed)="removeColOccurrenceFromMustNotContainList(item)">
                              {{ item.name }} {{ item.author }}
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip-option>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </mat-tab>

          <!-- *********************** -->
          <!-- ROW Occurrences filters -->
          <!-- ("Species" level)       -->
          <!-- *********************** -->
          <mat-tab label="Espèces">
            <ng-template mat-tab-label>
              <img class="vl-base-element-icon inline" src="./assets/img/icons/occ-icon.jpg">
              Espèces
            </ng-template>
            <div class="tab-body-wrapper">
              <!-- search by "species" -->
              <div class="tab-section">
                <div class="section-title">
                  Filtrer par espèces
                </div>
                <div class="section-body">
                  <mat-chip-listbox></mat-chip-listbox> <!-- https://github.com/angular/material2/issues/9964#issuecomment-480287541 -->
                  <table class="must-not-table">
                    <thead>
                      <tr class="header">
                        <th class="title"></th>
                        <th class="taxo-input">
                          <vl-taxo-search-box
                            level="idiotaxon"
                            placeholder="Ajouter une espèce au filtre"
                            autoResetWhenSelected="true"
                            [defaultRepository]="defaultIdiotaxonRepository"
                            [showRepositoryInput]="true"
                            (newData)="addRowOccurrenceToFilter($event)">
                          </vl-taxo-search-box>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="row must">
                        <td class="title">Les tableaux <b>doivent</b> contenir</td>
                        <td>
                          <!-- must/should contain box -->
                          <div cdkDropList #mustContainList="cdkDropList" [cdkDropListData]="mustContainRowOccurrences" [cdkDropListConnectedTo]="[mustNotContainList]" (cdkDropListDropped)="dropRowOccurrenceBetweenLists($event)" id="mustContainBox" class="occurrence-filter-box must">
                            <mat-chip-option cdkDrag *ngFor="let item of mustContainRowOccurrences" removable="true" (removed)="removeRowOccurrenceFromMustContainList(item)">
                              {{ item.name }} {{ item.author }}
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip-option>
                          </div>
                        </td>
                      </tr>
                      <tr class="row must-not">
                        <td class="title">Les tableaux <b>ne doivent pas</b> contenir</td>
                        <td>
                          <!-- must not/should not contain box -->
                          <div cdkDropList #mustNotContainList="cdkDropList" [cdkDropListData]="mustNotContainRowOccurrences" [cdkDropListConnectedTo]="[mustContainList]" (cdkDropListDropped)="dropRowOccurrenceBetweenLists($event)" id="mustNotContainBox" class="occurrence-filter-box must-not">
                            <mat-chip-option cdkDrag *ngFor="let item of mustNotContainRowOccurrences" removable="true" (removed)="removeRowOccurrenceFromMustNotContainList(item)">
                              {{ item.name }} {{ item.author }}
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip-option>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>


      <!-- RESULTS -->
      <div class="spacer"></div>
      <div class="results-container">
        <div class="header">
          <div class="progress-bar-container">
            <mat-progress-bar *ngIf="isSearching" mode="indeterminate"></mat-progress-bar>
          </div>
          <div class="result-top-bar">
            <div class="result-title">
              <div *ngIf="tables.length == 0">
                <p class="result-title" *ngIf="noFilterApplied()">Aucun filtre appliqué</p>
                <p class="result-title" *ngIf="!noFilterApplied()">Aucun résultat</p>
              </div>
              <p class="result-title" *ngIf="resultCount == 1"><b>1 résultat</b></p>
              <p class="result-title" *ngIf="resultCount > 1"><b>{{ resultCount }} résultats</b></p>
            </div>
            <div class="results-button">
              <button mat-stroked-button [matMenuTriggerFor]="selectedTablesMenu"
                color="primary"
                [disabled]="!selectedTablesIds || selectedTablesIds.length === 0">
                  <mat-icon color="primary">add_circle_outline</mat-icon>
                  <span *ngIf="selectedTablesIds.length === 0" >Utiliser le tableau selectionné</span>
                  <span *ngIf="selectedTablesIds.length === 1">Utiliser le tableau selectionné</span>
                  <span *ngIf="selectedTablesIds.length >= 2">Utiliser les tableaux selectionnés</span>
              </button>
              <mat-menu #selectedTablesMenu="matMenu">
                <button mat-menu-item *ngIf="selectedTablesIds.length === 1" (click)="setSelectedTablesAsCurrentTable(true)">Utiliser comme tableau courant</button>
                <button mat-menu-item *ngIf="selectedTablesIds.length >= 2" [matMenuTriggerFor]="setTables">Utiliser comme tableau courant</button>
                <button mat-menu-item [matMenuTriggerFor]="mergeTables" [disabled]="!currentTableSetAndNotEmpty">Fusionner au tableau courant</button>
              </mat-menu>
              <mat-menu #setTables="matMenu">
                <button mat-menu-item (click)="setSelectedTablesAsCurrentTable(true)">Conserver les groupes de colonnes</button>
                <button mat-menu-item (click)="setSelectedTablesAsCurrentTable(false)">Ne conserver que les relevés</button>
              </mat-menu>
              <mat-menu #mergeTables="matMenu">
                <button mat-menu-item (click)="mergeSelectedTablesWithCurrentTable(true)">Conserver les groupes de colonnes</button>
                <button mat-menu-item (click)="mergeSelectedTablesWithCurrentTable(false)">Ne conserver que les relevés</button>
              </mat-menu>
            </div>
          </div>
        </div>
        <div class="results">
          <div class="table-results">
            <vl-tables-table-view
              [count]="resultCount"
              [size]="tablesPaginatorSize"
              [pageIndex]="tablesPageIndex"
              [tables]="tables"
              [selectable]="true"
              [isLoading]="isSearching"
              (pageChange)="_tablePageChanged($event)"
              (previewTable)="previewTableAction($event)"
              (selectedTables)="selectedTablesChange($event)"></vl-tables-table-view>
          </div>
          <!--
          <div class="results-cards">
            <div @items *ngFor="let table of tables">
                <vl-table-card [table]="table"></vl-table-card>
            </div>
          </div>
          -->
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
