<div class="phyto_app_container">
  <div class="row layout">
    <!--   SPLIT Action -- Table + Info   -->
    <as-split #actionTablePanels unit="percent" direction="horizontal" (dragEnd)="actionPanelDragEnd()">
      <!-- ACTION PANEL -->
      <as-split-area size="40" [order]="0" *ngIf="wsPhytoService.isActionPanelOpened()">
        <div id="action_panel">
          <div id="close-button-wrapper">
              <button [style.top]="displayClosePanelButton ? '0' : '-1000px'" id="close-action-panel" mat-icon-button (click)="panelsSizeOrPositionHaveBeenUpdated(); router.navigate(['/phyto/app'])" matTooltip="Fermer"><mat-icon>close</mat-icon></button>
          </div>
          <div id="action-panel-router">
            <router-outlet></router-outlet>
          </div>
        </div>
      </as-split-area>
      <as-split-area size="60" [order]="1" id="content" [class.horizontal]="wsPhytoService.getInfoPanelSplitDirection() === 'horizontal'">
        <!--   SPLIT Table -- Info   -->
        <as-split #tableInfoPanels unit="percent" [direction]="wsPhytoService.getInfoPanelSplitDirection()" (dragEnd)="infoPanelDragEnd()">
          <!-- TABLE PANEL -->
          <as-split-area size="67" [order]="0" id="table-panel">
            <div class="progress-bar-container" *ngIf="tableService.isLoadingData | async">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div class="table-area-wrapper" #tableArea>
              <div class="table-area" *ngIf="_tableView === 'view'">
                <vl-table-simple></vl-table-simple>
              </div>
              <div class="table-area" *ngIf="_tableView === 'edit'">
                <vl-table></vl-table>
              </div>
            </div>
            <div *ngIf="!infoPanelActive" class="info-panel-button">
              <button mat-mini-fab color="primary" [disabled]="_infoPanelDisabled" [matTooltip]="infoPanelToggleButtonLabel()" (click)="openInfoPanel()">
                <mat-icon *ngIf="wsPhytoService.getInfoPanelSplitDirection() === 'vertical'">more_horiz</mat-icon>
                <mat-icon *ngIf="wsPhytoService.getInfoPanelSplitDirection() === 'horizontal'" >more_vert</mat-icon>
              </button>
            </div>
          </as-split-area>
          <!-- INFO PANEL -->
          <as-split-area *ngIf="infoPanelActive && !_infoPanelDisabled" size="33" [order]="1">
            <!-- info panel vertical -->
            <div class="info-panel vertical" *ngIf="wsPhytoService.getInfoPanelSplitDirection() === 'vertical'">
              <div class="content">
                <div class="no-active-area" *ngIf="noActiveArea()">
                  <div class="icon"><mat-icon inline="true">more_horiz</mat-icon></div>
                  <div class="title">Panneau d'informations</div>
                  <div class="text">
                    <p>Cet espace est dédié à l'affichage des informations relatives au tableau : identifications, auteurs, métadonnées, localisation des relevés, etc.</p>
                    <p>Activez l'un des modules via les boutons de droite pour afficher les informations.</p>
                  </div>
                </div>
                <as-split direction="horizontal" (dragEnd)="infoSubPanelDragEnd($event)" *ngIf="!noActiveArea()">
                  <as-split-area order=0 *ngIf="mapAreaActive"><vl-table-overview-map [invalidateSize]="panelsSizeChanged | async"></vl-table-overview-map></as-split-area>
                  <as-split-area order=1 *ngIf="infoAreaActive"><vl-table-selected-element></vl-table-selected-element></as-split-area>
                  <as-split-area order=2 *ngIf="idioPhotoAreaActive"><vl-idiotaxon-images></vl-idiotaxon-images></as-split-area>
                  <as-split-area order=4 *ngIf="pdfAreaActive"><vl-pdf-viewer></vl-pdf-viewer></as-split-area>
                  <as-split-area order=5 *ngIf="rClusteringActive"><vl-table-r-clustering></vl-table-r-clustering></as-split-area>
                  <!--<as-split-area order=5 *ngIf="chartAreaActive">
                    <vl-baseflor-diagram-selector></vl-baseflor-diagram-selector>
                  </as-split-area>-->
                </as-split>
              </div>
              <div class="actions-bar">
                <div class="button close" (click)="closeInfoPanel()" matTooltip="Fermer"><mat-icon>close</mat-icon></div>
                <div class="button toggle-direction" (click)="toggleSplitInfoPanel()" matTooltip="Basculer le paneau"><mat-icon>arrow_forward</mat-icon></div>
                <div class="separator"></div>
                <div class="button map"   [class.active]="mapAreaActive"   (click)="toggleMap()" matTooltip="Carte"><mat-icon>map</mat-icon></div>
                <div class="button info"  [class.active]="infoAreaActive"  (click)="toggleInfo()" matTooltip="Informations du tableau"><mat-icon>info</mat-icon></div>
                <div class="button idio-photo"  [class.active]="idioPhotoAreaActive"  (click)="toggleIdioPhoto()" matTooltip="Images eFlore"><mat-icon>photo</mat-icon></div>
                <div class="button pdf"   [class.active]="pdfAreaActive"   (click)="togglePdf()" matTooltip="Diagnose PDF"><mat-icon>picture_as_pdf</mat-icon></div>
                <div class="separator"></div>
                <div class="button chart" [class.active]="rClusteringActive" (click)="toggleRClustering()" matTooltip="R cluster"><mat-icon svgIcon="r_dendrogram_sm"></mat-icon></div>
              </div>
            </div>

            <!-- info panel horizontal -->
            <div class="info-panel horizontal" *ngIf="wsPhytoService.getInfoPanelSplitDirection() === 'horizontal'">
              <div class="actions-bar">
                <div class="button close" (click)="closeInfoPanel()" matTooltip="Fermer"><mat-icon>close</mat-icon></div>
                <div class="button toggle-direction" (click)="toggleSplitInfoPanel()" matTooltip="Basculer le paneau"><mat-icon>arrow_downward</mat-icon></div>
                <div class="separator"></div>
                <div class="button map"   [class.active]="mapAreaActive"   (click)="toggleMap()" matTooltip="Carte"><mat-icon>map</mat-icon></div>
                <div class="button info"  [class.active]="infoAreaActive"  (click)="toggleInfo()" matTooltip="Informations du tableau"><mat-icon>info</mat-icon></div>
                <div class="button idio-photo"  [class.active]="idioPhotoAreaActive"  (click)="toggleIdioPhoto()" matTooltip="Images eFlore"><mat-icon>photo</mat-icon></div>
                <div class="button pdf"   [class.active]="pdfAreaActive"   (click)="togglePdf()" matTooltip="Diagnose PDF"><mat-icon>picture_as_pdf</mat-icon></div>
                <div class="separator"></div>
                <div class="button chart" [class.active]="rClusteringActive" (click)="toggleRClustering()" matTooltip="R cluster"><mat-icon svgIcon="r_dendrogram_sm"></mat-icon></div>
              </div>
              <div class="content">
                <div class="no-active-area" *ngIf="noActiveArea()">
                  <div class="icon"><mat-icon inline="true">more_vert</mat-icon></div>
                  <div class="title">Panneau d'informations</div>
                  <div class="text">
                    <p>Cet espace est dédié à l'affichage des informations relatives au tableau : identifications, auteurs, métadonnées, localisation des relevés, etc.</p>
                    <p>Activez l'un des modules via les boutons ci-dessus pour afficher les informations.</p>
                  </div>
                </div>
                <as-split direction="vertical" (dragEnd)="infoSubPanelDragEnd($event)" *ngIf="!noActiveArea()">
                  <as-split-area order=0 *ngIf="mapAreaActive"><vl-table-overview-map [invalidateSize]="panelsSizeChanged | async"></vl-table-overview-map></as-split-area>
                  <as-split-area order=1 *ngIf="infoAreaActive"><vl-table-selected-element></vl-table-selected-element></as-split-area>
                  <as-split-area order=2 *ngIf="idioPhotoAreaActive"><vl-idiotaxon-images></vl-idiotaxon-images></as-split-area>
                  <as-split-area order=4 *ngIf="pdfAreaActive"><vl-pdf-viewer></vl-pdf-viewer></as-split-area>
                  <as-split-area order=5 *ngIf="rClusteringActive"><vl-table-r-clustering></vl-table-r-clustering></as-split-area>
                  <!--<as-split-area order=5 *ngIf="chartAreaActive">
                    <vl-baseflor-diagram-selector></vl-baseflor-diagram-selector>
                  </as-split-area>-->
                </as-split>
              </div>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>
    </as-split>
  </div>
</div>
