@use '../../_styles/colors.scss' as *;

.phyto_app_container {
  height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  overflow: hidden;
  .layout {
    height: calc(100vh - 50px);
    #action_panel {
      height: 100%;
      overflow: hidden;
      #close-button-wrapper {
        text-align: right;
        margin-top: 0;
        margin-bottom: -40px;
        #close-action-panel {
          z-index: 10;
          padding-right: 0;
          position: relative;
        }
      }
      #action-panel-router {
        max-height: 100%;
        height: 100%;
        background-color: white;
        margin: 0;
        margin-left: 15px;
        margin-right: 15px;
        overflow-y: scroll;
        padding-top: 10px;
        &.col-md-6 {
          padding: 0;
        }
      }
    }
    #content.horizontal {
      padding-right: 15px;
    }
    #table-panel {
      .info-panel-button {
        position: absolute;
        bottom: 15px;
        right: 30px;
        margin: 30px;
      }
      .progress-bar-container {
        min-height: 4px;
      }
      .table-area-wrapper {
        width: 100%;
        height: 100%;
        .table-area {
          width: 100%;
          height: 100%;
        }
      }

    }
  }


  .info-panel.vertical {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    .actions-bar {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;

      background-color: #EEEEEE;
      color: grey;
      .button {
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 3px;
        padding-bottom: 3px;
        cursor: pointer;
        &:hover {
          color: black;
        }
        &.active {
          color: $vl-primary;
        }
      }
      .separator {
        width: 100%;
        height: 1px;
        border-top: 1px #BEBEBE solid;
      }
    }
    .content {
      width: 100%;
      .no-active-area {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        color: $vl-text-grey;
        padding-left: 60px;
        .icon {
          height: 100px;
          width: 100px;
          padding-left: 18px;
          padding-top: 5px;
          border: 2px solid lightgrey;
          font-size: 60px;
          border-radius: 50px;
        }
        .title {
          margin-bottom: 30px;
          font-size: 1.5em;
          font-weight: bold;
        }
        .text {
          max-width: 500px;
          text-align: justify;
        }
      }
    }
  }

  .info-panel.horizontal {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    .actions-bar {
      min-height: 40px;
      position: sticky;
      top: 0;
      z-index: 2;

      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      overflow-y: hidden;
      overflow-x: hidden;
      width: 100%;

      background-color: #EEEEEE;
      color: grey;
      .button {
        padding: 7px;
        cursor: pointer;
        &:hover {
          color: black;
        }
        &.active {
          color: $vl-primary;
        }
      }
      .separator {
        width: 1px;
        height: 100%;
        border-right: 1px #BEBEBE solid;
      }
    }
    .content {
      height: 100%;
      overflow-y: hidden;
      .no-active-area {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        color: $vl-text-grey;
        .icon {
          height: 100px;
          width: 100px;
          padding-left: 18px;
          padding-top: 5px;
          border: 2px solid lightgrey;
          font-size: 60px;
          border-radius: 50px;
        }
        .title {
          margin-bottom: 30px;
          font-size: 1.5em;
          font-weight: bold;
        }
        .text {
          max-width: 400px;
          text-align: justify;
        }
      }
    }
  }
}
