.table-identifications-preview-wrapper {
  table {
    width: 100%;
    font-size: .9em;
    thead, tbody {
      th, td {
        padding-left: 8px;
        padding-right: 8px;
      }
      th.element, th.id {
        width: 0
      }
      tr.row_ {
        td {
          &.element {
            &._sye {
              padding-left: 15px;
            }
            &._releve {
              padding-left: 30px;
            }
          }
          &.identification {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 0;
          }
        }
      }

    }
  }
}
