.occurrence-metadata-preview-wrapper {
  table {
    width: 100%;
    tr {
      th, td {
        padding-left: 10px;
        padding-right: 10px;
      }
      td.description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      td.value {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }
  }
}
