<div class="occurrence-metadata-preview-wrapper">
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Valeur</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let metaValue of esMetadataValues">
        <td class="description" title="{{ getMetadataForFieldId(metaValue.fieldId) ? getMetadataForFieldId(metaValue.fieldId).extendedFieldTranslations[0].description : '-' }}">{{ getMetadataForFieldId(metaValue.fieldId) ? getMetadataForFieldId(metaValue.fieldId).extendedFieldTranslations[0].description : '-' }}</td>
        <td class="value">{{ metaValue.value }} {{ getMetadataForFieldId(metaValue.fieldId) ? getMetadataForFieldId(metaValue.fieldId).unit || '-' : '-' }}</td>
      </tr>
    </tbody>
  </table>
</div>
