@use '../../../app/_styles/colors' as *;

h1 {
  text-align: center;
  padding-right: 10px;
  font-size: 20px;
}

.loading-tree {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.no-data {
  margin-top: 4em;
  text-align: center;
  color: grey;
}

.table-tree {
  ul {
    list-style-type: none;
    &:not(:first-child) {
      border-left: 2px lightgray solid;
    }
  }
  li {
    margin-left: -1.2em;
  }

  .table-tree-node-card {
    margin: 1.2em;
    border-left: 3px $table-color solid;
    &.highlight {
      border: 3px $table-color solid;
    }

    .card-header {
      padding: 1em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .left {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        .title-description {
          .title-block {
            margin-bottom: 0.5em;
            .title {
              font-weight: bold;
              font-size: 1.2em;
            }
            .extra {
              margin-top: 0.5em;
            }
          }
          .description {
            font-style: italic;
          }
        }

      }
      .right {
        .user {
          margin-left: 1.2em;
          margin-right: 1.2em;
        }
        .user-actions {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
    }

    .card-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: start;
      justify-content: normal;
      padding: 1em;
      .left {
        margin-right: 2em;
      }
    }
  }
}


