<div class="table-tree-wrapper">
  <h1>Arborescence des tableaux</h1>

  <div class="loading-tree" *ngIf="!tableTree && isLoadingTree">
    <mat-spinner diameter="35"></mat-spinner>
  </div>

  <div class="no-data" *ngIf="!tableTree && !isLoadingTree">
    <h3>Aucune information à afficher</h3>
  </div>

  <div class="table-tree" *ngIf="tableTree">
    <ul>
      <ng-container
        *ngFor="let node of tableTree"
        [ngTemplateOutlet]="treeNode"
        [ngTemplateOutletContext]="{ $implicit: node }"
      >
      </ng-container>
    </ul>

    <ng-template #treeNode let-data>
      <li>
        <mat-card class="table-tree-node-card" [class.highlight]="data.table?.id === currentTable.id">
          <mat-card-header class="card-header">
            <div class="left">
              <div class="table-id-badge">{{ data.table?.id }}</div>
              <div class="title-description">
                <mat-card-title class="title-block">
                  <div class="title">{{ data.table?.title }}</div>
                  <div class="extra">{{ data.table?.updatedAt ? (data.table?.updatedAt | date:'dd/MM/yy') : data.table?.createdAt ? (data.table?.createdAt | date:'dd/MM/yy') : '-' }} |
                    {{ countOccurrences(data.table) }} {{ countOccurrences(data.table) > 1 ? 'relevés répartis' : 'relevé réparti' }} dans {{ data.table?.sye?.length }} {{ data.table?.sye?.length > 1 ? 'groupes' : 'groupe' }}</div>
                </mat-card-title>
                <mat-card-subtitle class="description">{{ data.table?.description }}</mat-card-subtitle>
              </div>
            </div>
            <div class="right">
              <div class="user-actions">
                <div class="user">
                  <vl-user-initials-avatar
                    [user]="data.table?.owner"
                    [diameterEm]="2.5"
                    [options]="{ showFirstAndLastNames: false, highlight: (data.table.owner.id === currentUser.id), cursor: 'default' }">
                  </vl-user-initials-avatar>
                </div>
                <div class="actions">
                  <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #actionsMenu="matMenu">
                    <!--<button mat-menu-item (click)="tableOverview(data.table?.id)">Aperçu</button>-->
                    <button mat-menu-item (click)="setCurrentTable(data.table?.id)" [disabled]="currentTable.id && data.table?.id === currentTable.id">Utiliser comme tableau courant</button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </mat-card-header>
          <mat-card-footer>
            <mat-progress-bar mode="indeterminate" *ngIf="isLoadingTableId === data.table?.id"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
      </li>

      <ng-container *ngIf="data.children">
        <ul>
          <ng-container
            *ngFor="let child of data.children"
            [ngTemplateOutlet]="treeNode"
            [ngTemplateOutletContext]="{ $implicit: child }">
          </ng-container>
        </ul>
      </ng-container>
    </ng-template>
  </div>
</div>
