<div *ngIf="!currentUser">
  <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="login()">Se connecter</button>
  </mat-menu>
</div>

<div *ngIf="currentUser">
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon> {{ userName }}</button>
    <mat-menu #menu="matMenu">
      <!--<button mat-menu-item *ngIf="isAdmin()" (click)="router.navigate(['/admin'])">Tableau de bord</button>-->
      <button mat-menu-item (click)="router.navigate(['/admin'])" *ngIf="isAdmin">Tableau de bord</button>
      <button mat-menu-item (click)="router.navigate(['/my-data'])">Mes données</button>
      <button mat-menu-item (click)="router.navigate(['/logout'])">Se deconnecter</button>
    </mat-menu>
  </div>
