<div class="user-initials-avatar-wrapper">
  <div class="circle-avatar" [class.highlight]="options.highlight"
                             [style.cursor]="options.cursor"
                             matTooltip="{{ !options.showFirstAndLastNames ? user.firstname + ' ' + user.lastname : null }}">
    <div class="circle" [style.height.em]="diameterEm" [style.width.em]="diameterEm">
      <span class="initials" [style.font-size.em]="diameterEm / 1.9">{{  user.acronym }}</span>
    </div>
    <div class="first-last-names" *ngIf="options.showFirstAndLastNames">{{ user.firstname }} {{ user.lastname }}</div>
  </div>
</div>

