@use '../../../app/_styles/colors' as *;

$avatar-size: 3em;

.user-initials-avatar-wrapper {
  .circle-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    .circle {
      background-color: #ccc;
      border-radius: 50%;
      // height: $avatar-size;
      text-align: center;
      // width: $avatar-size;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .initials {
        // font-size: calc($avatar-size / 1.9); /* 50% of parent */
      }
    }
    .first-last-names {
      margin-left: 1em;
    }

    &.highlight {
      background: linear-gradient(45deg, $vl-primary, $vl-secondary);
      border-radius: 50%;

      .circle { }
      .initials {
        font-weight: bold;
      }
    }
  }
}
