<div class="table-view-container">
  <mat-progress-bar *ngIf="isLoading" class="progress-bar-top" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="isLoading" class="loading-shade"></div>

  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="_occurrences">

      <ng-container matColumnDef="custom_col_selectable" sticky>
        <th mat-header-cell *matHeaderCellDef style="width: 50px;"><mat-checkbox (change)="occurrencesAllSelectedChange($event)"></mat-checkbox></th>
        <td mat-cell *matCellDef="let element" [class.is-child]="element.isChildrenOf">
          <mat-checkbox
            [(ngModel)]="element.selected"
            [(indeterminate)]="element.isInCurrentTable || element.hasChildInCurrentTable"
            [(disabled)]="element.isInCurrentTable || element.hasChildInCurrentTable"
            (change)="occurrenceSelectedChange(element, $event)"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="width: 90px;"> id </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
      </ng-container>

      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef> Obs. </th>
        <td mat-cell *matCellDef="let element"> {{ printObservers(element) }}</td>
      </ng-container>

      <ng-container matColumnDef="layer">
        <th mat-header-cell *matHeaderCellDef> Strate </th>
        <td mat-cell *matCellDef="let element;">
          <span *ngIf="getLayer(element) == null" class="grey" matTooltip="Ce relevé contient certainement plusieurs strates"><i>multiples</i></span>
          <span *ngIf="getLayer(element) !== null">{{ getLayer(element) }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="custom_col_identification">
        <th mat-header-cell *matHeaderCellDef> Identification </th>
        <td mat-cell *matCellDef="let element"> {{ getIdentification(element) }} </td>
      </ng-container>

      <ng-container matColumnDef="dateObserved">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.dateObservedPrecision">{{ element.dateObserved | momentLocalDate:element.dateObservedPrecision }}</span>
          <span *ngIf="!element.dateObservedPrecision">{{ element.dateObserved | momentLocalDate }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="locality">
        <th mat-header-cell *matHeaderCellDef> Localisation </th>
        <td mat-cell *matCellDef="let element"> {{ getLocality(element) }} </td>
      </ng-container>

      <ng-container matColumnDef="vlLocationAccuracy">
        <th mat-header-cell *matHeaderCellDef> Précision localisation </th>
        <td mat-cell *matCellDef="let element"> {{ element.locationAccuracy || '-' }} </td>
      </ng-container>

      <ng-container matColumnDef="custom_col_actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef class="action-cell"></th>
        <td mat-cell *matCellDef="let element" class="action-cell">
          <button mat-icon-button [matMenuTriggerFor]="actionsMenu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #actionsMenu="matMenu">
            <button mat-menu-item (click)="previewOccurrenceAction(element)">Aperçu</button>
            <button mat-menu-item *ngIf="deleteOption" (click)="deleteOccurrenceAction(element)">Supprimer</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator #OccurrencesPaginator
                  [length]="count"
                  [pageSize]="size"
                  hidePageSize="false"
                  [pageSizeOptions]="[5, 10, 20, 100, 500, 1000]"
                  (page)="_pageChange($event)"></mat-paginator>
  </div>
</div>

