@use '../../../_styles/colors.scss' as *;

.bf-diag-selector-wrapper {
  width: 100%;
  height: calc(100% - 52px);
  .topbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    &.no-table {
      color: $vl-text-grey;
      font-weight: bold;
      font-size: 1.2em;
    }
  }
}
