<div class="determination-wrapper">
  <h1>Identifier une végétation</h1>
  <p>Par sa composition floristique</p>
  <mat-slide-toggle
      (checked)="useFrequency"
      (change)="useFrequency = $event.source.checked; search();">
    Utiliser la fréquence
  </mat-slide-toggle>

  <vl-taxo-search-box
    level="idiotaxon"
    placeholder="Ajouter une espèce au filtre"
    autoResetWhenSelected="true"
    defaultRepository="taxref"
    showRepositoryInput="true"
    (newData)="addOccurrenceToFilter($event)">
  </vl-taxo-search-box>

  <mat-chip-listbox #chipList>
    <mat-chip-option *ngFor="let occurrenceFilter of occurrencesFilter" [selectable]="false"
              [removable]="true" (removed)="removeOccurrenceFilter(occurrenceFilter)">
      {{occurrenceFilter.name}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip-option>
  </mat-chip-listbox>

  <button mat-button (click)="clearFilter()">Tout effacer</button>

  <div class="results" *ngIf="results && results.count > 0">
    <p>{{ results.count }} résultats</p>
    <div *ngFor="let result of results.source">
      <!-- result.score & result.source : result.source.identifications & result.sources.items -->
      <div *ngIf="result.source.identifications.length > 0">
        [{{ result.score }}] {{ result.source.identifications[0].repository }} : {{ result.source.identifications[0].taxonomicalName }}
      </div>

      <!--<div *ngIf="result.source.identifications.length === 0">
        Aucune identification pour cet élément
      </div>-->
    </div>
  </div>
</div>
