@use '../../_styles/colors.scss' as *;

.app-toolbar {
  min-height: 40px !important;
  height: 40px;
  .mat-toolbar-row {
    height: 40px;
    overflow: hidden;
  }

  button.mat-mdc-menu-item.app-toolbar-button {
    width: auto !important;
    max-height: 34px;
    line-height: inherit !important;
    height: 34px !important;
  }

  .spacer {
    flex: 1 1 auto;
  }

  a {
    color: #8C8C8C;
    font-weight: normal;
    margin-left: 5px;
    margin-right: 5px;

    &:hover {
      text-decoration: none;
    }

    &.navbar-brand {
      position:relative;
      text-decoration: none;
      height: 100%;
      margin-left: -16px;
      background-color: $vl-primary;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &.ws {
        background-color: $vl-secondary;
      }

      .title {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
      }

      .triangle {
        position: relative;
        height: 100%;
        width: 28px;
        border-style: solid;
        border-width: 21px 0px 21px 15px;
        margin-left: -5px;

        &.vl {
          border-color: $vl-secondary whitesmoke $vl-secondary $vl-primary;
        }

        &.ws {
          border-color: whitesmoke whitesmoke whitesmoke $vl-secondary;
        }
      }
    }
  }
}
