<mat-toolbar class="app-toolbar">
  <mat-toolbar-row>
    <a class="navbar-brand" [routerLink]="['/']">
      <div class="title"><mat-icon>home</mat-icon></div>
      <div *ngIf="currentWorkspace !== 'none'" class="triangle vl"></div>
    </a>
    <a *ngIf="currentWorkspace !== 'none'" class="navbar-brand ws" [routerLink]="getWorkspaceNavigationPath()">
      <div class="title">{{ currentWorkspace | wsLabel }}</div>
      <div class="triangle ws"></div>
    </a>
    <mat-toolbar class="app-toolbar">
      <ng-container *ngFor="let menuItem of menuTree">
        <button mat-menu-item [matMenuTriggerFor]="sub_menu" class="app-toolbar-button" style="width: auto !important;">{{ menuItem.label }}</button>
        <mat-menu #sub_menu="matMenu">
          <button mat-menu-item *ngFor="let subItem of menuItem.children" (click)="goToPage(subItem.path)">{{ subItem.label }}</button>
        </mat-menu>
      </ng-container>

    </mat-toolbar>
    <span class="spacer"></span>
    <vl-auth></vl-auth>
  </mat-toolbar-row>
</mat-toolbar>
