<div id="table-wrapper" [class.hide-table]="!currentDataView">
  <div class="table-menu">
    <div class="left-block">
      <div class="button">
        <button mat-icon-button class="action-button" type="button"
                matTooltip="Nouveau tableau"
                (click)="createEmptyTable()">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>

      <div class="button">
        <button mat-icon-button
                [matMenuTriggerFor]="menuSaveAction"
                matTooltip="Enregistrer"
                [disabled]="isSavingTable || !currentTableOwnedByCurrentUser"
                [class.spinner]="isSavingTable">
          <mat-icon>save</mat-icon>
        </button>
      </div>
      <mat-menu #menuSaveAction="matMenu">
        <button mat-menu-item [disabled]="_currentTable && _currentTable.id == null || tableActions.length === 0" (click)="quickSaveTable()">Enregistrer</button>
        <button mat-menu-item (click)="router.navigate(['/phyto/app/create-table'])">Enregistrer sous</button>
      </mat-menu>

      <div class="button">
        <button mat-icon-button
                (click)="forkCurrentTable()"
                matTooltip="Dupliquer le tableau courant"
                [disabled]="isDuplicatingTable || _currentTable && _currentTable.id == null"
                [class.spinner]="isDuplicatingTable">
          <mat-icon>file_copy</mat-icon>
        </button>
      </div>

      <div class="button">
        <button mat-icon-button
                (click)="exportCurrentTableToCsv()"
                matTooltip="Exporter">
          <mat-icon>file_download</mat-icon>
        </button>
      </div>

      <div class="separator"></div>

      <div class="button">
        <button mat-icon-button
                (click)="router.navigate(['/phyto/app/identification'])"
                matTooltip="Identifications">
          <mat-icon>check_circle</mat-icon>
        </button>
      </div>

      <div class="button">
        <button mat-icon-button
                (click)="router.navigate(['/phyto/app/table-hierarchy'])"
                matTooltip="Arboresence des tableaux dérivés">
          <mat-icon>alt_route</mat-icon>
        </button>
      </div>

      <div class="separator"></div>

      <!--<div class="button">
        <button mat-button class="button">
          <mat-icon>undo</mat-icon>
        </button>
      </div>
      <div class="button">
        <button mat-button class="button">
          <mat-icon>redo</mat-icon>
        </button>
      </div>-->

      <div class="button">
        <button mat-icon-button
                [matMenuTriggerFor]="menuSortAction"
                matTooltip="Trier"
                [disabled]="isSavingTable || !currentTableOwnedByCurrentUser"
                [class.spinner]="isSavingTable">
          <mat-icon>sort</mat-icon>
        </button>
      </div>
      <mat-menu #menuSortAction="matMenu">
        <button mat-menu-item (click)="sortTableByLayers()">Par strate</button>
      </mat-menu>

      <!--<div class="button">
        <button mat-icon-button class="button" disabled>
          <mat-icon>forum</mat-icon>
        </button>
      </div>-->

    </div>

    <div class="center-block">
      <span class="table-id-badge" *ngIf="_currentTable?.id && _currentTable?.title">{{ _currentTable?.id }}</span>
      <span class="table-title" *ngIf="_currentTable?.id && _currentTable?.title">{{ _currentTable?.title }}</span>
    </div>

    <div class="right-block">
      <div *ngIf="_currentTable && _currentTable.owner">
        <vl-user-initials-avatar
          [user]="_currentTable?.owner"
          [options]="{highlight: currentTableOwnedByCurrentUser}">
        </vl-user-initials-avatar>
      </div>
    </div>

  </div>
  <!--<table>
    <tbody>
      <tr id="table-sub-header">
        <td class="spacer" [style.width.px]="tableSpacerPx"></td>
        <td *ngFor="let sye of currentSyes"
          [style.width]="getSyeVisibleWidth(sye.syeId)"
          [style.maxWidth]="getSyeVisibleWidth(sye.syeId)"
          [class]="getSubHeaderClassname(sye.syeId)">[{{ sye.syeId }}] Nom du syntaxon ({{ sye.occurrencesCount }})</td>
      </tr>
    </tbody>
  </table>-->

  <div class="handsontable-container">
    <hot-table
      [hotId]="hotTableId"
      [settings]="tableSettings"
    ></hot-table>
  </div>

  <button mat-button (click)="router.navigate(['/phyto/app/create-table'])">Enregistrer le tableau</button>
</div>

<div *ngIf="!currentDataView" class="no-data-table">
  <div class="icon"><mat-icon inline="true">table_chart</mat-icon></div>
  <div class="title">Aucun tableau à afficher</div>
  <div class="action-buttons">
    <button mat-button (click)="router.navigate(['/phyto/app/search-occurrence'])">Rechercher un relevé</button>
    <button mat-button (click)="router.navigate(['/phyto/app/search-table'])">Rechercher un tableau</button>
  </div>
</div>
