@use '../../_styles/colors.scss' as *;

.no-data-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: $vl-text-grey;
  .icon {
    height: 100px;
    width: 100px;
    padding-left: .3em;
    padding-top: .3em;
    border: 2px solid lightgrey;
    font-size: 60px;
    border-radius: 50px;
  }
  .title {
    margin-bottom: 50px;
    font-size: 1.5em;
    font-weight: bold;
  }
  .action-buttons {
    display: flex;
    flex-direction: column;
    button {
      color: black;
      margin-bottom: 20px;
    }
  }
}

#table-sub-header {
  font-size: .8em;
  .spacer {
    background-color: #F0F0F0;
  }
  .sub-header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    &.sye-0 {background-color: rgba($cell-color-0, $cell-color-transparency); }
    &.sye-1 {background-color: rgba($cell-color-1, $cell-color-transparency); }
    &.sye-2 {background-color: rgba($cell-color-2, $cell-color-transparency); }
    &.sye-3 {background-color: rgba($cell-color-3, $cell-color-transparency); }
    &.sye-4 {background-color: rgba($cell-color-4, $cell-color-transparency); }
  }
}

.mat-mdc-focus-indicator {
  background-color: transparent !important;
}

#table-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  &.hide-table {
    height: 0;
  }
  .table-menu {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: row;
    align-items: center;

    .separator {
      width: 2px;
      border: 1px solid #ccc;
      margin-left: 10px;
      margin-right: 10px;
    }

    .left-block {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .button {
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
        color: grey;
        &:hover {
          color: black;
        }
      }
    }

    .center-block {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-left: 2em;
      padding-right: 2em;
      .table-id-badge {
        margin-right: 1em;
      }
      .table-title {
        font-size: 1.2em;
        font-weight: bold;
      }
    }

    .right-block {
      padding-right: 2em;
    }



  }
  .handsontable-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
