<!-- class attribute is code-side managed-->
<div class="dropzone" [class.disabled]="!componentEnabled"
  #dropzone
  droppable
  [_allowedFileTypes]="allowedFileTypes"
  [_maxFileSize]="maxFileSize"
  [_maxImageFileSize] ="maxImageFileSize"
  [_ignoreOversizedFiles]="ignoreOversizedFiles"
  [_ignoreOversizedImageFiles]="ignoreOversizedImageFiles"
  [_windowDrag]="windowDrag"
  [_allowFullWindowDrop]="allowFullWindowDrop"
  (_filesChangeEmitter)="acceptedFilesChange($event)"
  (_filesRejectedEmitter)="rejectedFilesChange($event)"
  (click)="addFiles()">
  <div *ngIf="!sendingImages">
    <span class="label">{{ dropZoneLabel }}</span>
    <span class="labelHelp" *ngIf="labelHelp != ''">{{ labelHelp }}</span>
  </div>
  <div *ngIf="sendingImages">
    <div class="send-images-spinner-text">
      <span class="spinner"><mat-spinner diameter="18"></mat-spinner></span>
      <span *ngIf="nbImagesToSend() == 1">Envoi de l'image en cours</span>
      <span *ngIf="nbImagesToSend() > 1">Envoi de {{ nbImagesToSend() }} images en cours</span>
    </div>
  </div>
</div>

<div [formGroup]="form" style="display: none">
  <input type="file" #file (change)="onFilesInputChange()" formControlName="files" multiple />
</div>

<div class="button-action" *ngIf="nbImagesToSend() > 0 && uploadPhotoFiles">

</div>

<div *ngIf="nbImagesToSend() > 0 && showTable">
  <table #table mat-table [dataSource]="fileList" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let element"> {{ element.file.name }} </td>
    </ng-container>
    <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef>Taille</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.initialFileSize">{{element.initialFileSize | fileSize }} &rarr; </span>
          <span>{{ element.file.size | fileSize }}</span>
        </td>
    </ng-container>
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell class="mat-flex-cell" *matCellDef="let element">
          <p>{{ element.file.type | fileType:element.file.name }}</p>
          <p class="additionalInfoIcons">
            <mat-icon *ngIf="element.exifGPSLat != null && element.exifGPSLng != null" class="iconInfo iconTooltip" matTooltip="Cette image contient la latitude et de la longitude de la prise de vue">where_to_vote</mat-icon>
            <mat-icon *ngIf="element.exifGPSAltitude != null" class="iconInfo iconTooltip" matTooltip="Cette image contient l'altitude de la prise de vue">terrain</mat-icon>
          </p>
          <button type="button" mat-icon-button (click)="$event.preventDefault(); deleteFileByFileIndex(element.index)"><mat-icon>delete</mat-icon></button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

<div *ngIf="showThumbnails" class="imagesList">
  <div *ngFor="let data of fileList; let index = index" >
    <mat-card appearance="outlined" *ngIf="isImage(data.file)" class="imageCard">
      <img mat-card-image [class.toBigForUpload]="data.file.size > (maxImageFileSize*1000)" src="{{ data.dataUrl }}" alt="{{ data.file.name }}">
      <mat-card-actions *ngIf="data.uploaded != true" class="card-actions">
        <!--
        <div class="action" *ngIf="data.file.size <= (maxImageFileSize*1000)">
          <button mat-icon-button (click)="imageRotate(data, 'left')"><mat-icon>rotate_left</mat-icon></button>
          <button mat-icon-button (click)="imageRotate(data, 'right')"><mat-icon>rotate_right</mat-icon></button>
        </div>
        <div class="action" *ngIf="data.file.size > (maxImageFileSize*1000)">
          <button mat-icon-button color="warn" matTooltip="L'image est trop volumineuse pour être utilisée"><mat-icon>warning</mat-icon></button>
          <button mat-icon-button matTooltip="Réduire la taille de 30%"(click)="reduceImageFileSize(data)"><mat-icon>photo_size_select_large</mat-icon></button>
        </div>
        -->
        <div class="action" *ngIf="data.uploaded == 'error'">
          <button type="button" mat-icon-button color="warn" matTooltip="Nous n'avons pas réussi à envoyer cette image"><mat-icon>warning</mat-icon></button>
        </div>
        <div class="additionalInfoIcons">
          <mat-icon *ngIf="data.exifGPSLat != null && data.exifGPSLng != null" class="iconInfo iconTooltip" matTooltip="Cette image contient la latitude et la longitude de la prise de vue">where_to_vote</mat-icon>
          <mat-icon *ngIf="data.exifGPSAltitude != null" class="iconInfo iconTooltip" matTooltip="Cette image contient l'altitude de la prise de vue">terrain</mat-icon>
        </div>
        <div class="action">
          <button type="button" mat-icon-button (click)="$event.preventDefault(); deleteFile(index)"><mat-icon>delete</mat-icon></button>
        </div>
      </mat-card-actions>

      <mat-card-actions *ngIf="data.uploaded == true" class="card-actions">
        <div class="additionalInfoIcons">
          <mat-icon *ngIf="data.exifGPSLat != null && data.exifGPSLng != null" class="iconInfo iconTooltip" matTooltip="Cette image contient la latitude et la longitude de la prise de vue">where_to_vote</mat-icon>
          <mat-icon *ngIf="data.exifGPSAltitude != null" class="iconInfo iconTooltip" matTooltip="Cette image contient l'altitude de la prise de vue">terrain</mat-icon>
        </div>
        <div class="action" style="color:green;">
          <button type="button" mat-icon-button><mat-icon>check_circle</mat-icon></button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<canvas id="canvas" style="display: none;"></canvas>
