<div *ngIf="rowElements.length === 0 && columnElements.length === 0 && syeElement === null" class="no-selection">
  <p>Afficher les informations d'une ligne ou d'une colonne</p>
  <p class="min">Sélectionnez une ligne ou une colonne du tableau pour afficher les informations</p>
</div>

<!-- ROW -->
<div *ngIf="elementType === 'row'" class="row-container">
  <div class="content">
    <mat-list class="row-item">
      <mat-list-item *ngFor="let rowElement of rowElements">
        <span matListItemLine><b>{{ rowElement.rowName }}</b></span>
        <span matListItemLine>(référentiel : {{ rowElement.rowRepo }})</span>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<!-- COLUMN -->
<div *ngIf="elementType === 'column'" class="column-container">
    <div class="content">
      <div *ngFor="let releve of columnEsElements">
        <vl-occurrence-preview [occurrence]="releve" [options]="occurrencePreviewOptions"></vl-occurrence-preview>
      </div>
    </div>
  </div>

  <!-- COLUMN (synthetic col) -->
  <div *ngIf="elementType === 'syntheticColumn' && syeElement" class="column-container">
    <div class="content">
      <mat-list class="row-item parent">
        <mat-list-item>
          <span matListItemLine><b>Colonne synthétique n° {{ syeElement.id }}</b></span>
          <span matListItemLine><b>{{ getSyeIdentification(syeElement) }}</b></span>
          <span matListItemLine *ngIf="syeElement.syntheticSye">Cette colonne synthétique ne contient aucun relevé</span>
          <span matListItemLine *ngIf="!syeElement.syntheticSye">Cette colonne synthétique contient {{ syeElement.occurrencesCount }} {{ syeElement.occurrencesCount > 1 ? 'relevés' : 'relevé' }}</span>
        </mat-list-item>
      </mat-list>

      <!-- Same code as above -->
      <div *ngFor="let releve of syeElement.occurrences">
        <mat-list class="row-item parent">
          <mat-list-item>
            <span matListItemLine><b>{{ releve.level | level }} n° {{ releve.id }}</b></span>
            <span matListItemLine><b>{{ getOccurrenceIdentification(releve) }}</b></span>
            <span matListItemLine>Strate : {{ releve.layer ? releve.layer : '-' }}</span>
            <span matListItemLine>Auteur(s) : {{ getOccurrenceVlObservers(releve) }}</span>
            <span matListItemLine *ngIf="!releve.dateObservedPrecision">Date : {{ releve.dateObserved | momentLocalDate }}</span>
            <span matListItemLine *ngIf="releve.dateObservedPrecision">Date : {{ releve.dateObserved | momentLocalDate:releve.dateObservedPrecision }}</span>
            <span matListItemLine>Localisation : <span *ngIf="releve.locationAccuracy">[{{ releve.locationAccuracy }}] </span>{{ releve.city}} ({{ releve.countryCode | uppercase }} {{ releve.postcode | slice:0:2 }})</span>
          </mat-list-item>
        </mat-list>
        <div *ngIf="releve.level === 'microcenosis'">
          <mat-list *ngFor="let child of releve.children" class="row-item child">
            <mat-list-item>
              <span matListItemLine><b>{{ child.level | level }} n° {{ child.id }}</b></span>
              <span matListItemLine><b>{{ getOccurrenceIdentification(releve) }}</b></span>
              <span matListItemLine>Strate : {{ child.layer }}</span>
              <span matListItemLine>Auteur(s) : {{ getOccurrenceVlObservers(child) }}</span>
              <span matListItemLine *ngIf="!child.dateObservedPrecision">Date : {{ child.dateObserved | momentLocalDate }}</span>
              <span matListItemLine *ngIf="child.dateObservedPrecision">Date : {{ child.dateObserved | momentLocalDate:child.dateObservedPrecision }}</span>
              <span matListItemLine>Localisation : <span *ngIf="child.locationAccuracy">[{{ child.locationAccuracy }}] </span>{{ child.city}} ({{ child.countryCode | uppercase }} {{ child.postcode | slice:0:2 }})</span>
            </mat-list-item>
          </mat-list>
        </div>
        <hr />
      </div>
    </div>
  </div>
