.form-wrapper {
  height: 100%;
  min-width: 100%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 20px;
  }
  .inline-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .layer {
      width: 40px;
      padding-right: 5px;
    }
    .taxo-input {
      flex: 2;
    }
    .coef {
      width: 40px;
    }
  }

  .input-section {
    margin-bottom: 20px;
    .title {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-bottom: 8px;
      font-weight: bold;
      font-variant: all-small-caps;
      span.spacer {
        flex: 1;
        margin-top: 9px;
        margin-left: 10px;
        border-top: 1px solid #EDEDED;
      }
    }
    .content {
      margin-left: 25px;
    }
  }

  .occurrences-table {
    margin-top: 20px;
    table {
      thead {
        .taxa {
          width: 100%;
        }
        .layer, .coef, .actions {
          max-width: 40px;
        }
      }
    }
  }

  .observer-date-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    mat-form-field {
      max-width: 160px;
    }
  }
}


.bottom-action-bar {
  position: sticky;
  bottom: 0;
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .action-buttons {
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    button {
      margin-right: 15px;
    }
    span.info {
      display: flex;
      align-items: center;
    }
  }
}

.metadatas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .metadata-item {
    .button-light-gray {
      color: lightgray;
    }
  }
}

.vl-location-accuracy {
  text-align: center;
}
