@use '../../../../_styles/colors.scss' as *;

.no-table {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $vl-text-grey;
  font-weight: bold;
  font-size: 1.2em;
}

.table-tile {
  text-align: center;
  padding: 5px;
  border: 1px solid lightgrey;
  font-size: .9em;
}
.sye-tile {
  text-align: center;
  padding: 5px;
  border: 1px solid lightgrey;
  font-size: .9em;
}
.releve-tile {
  text-align: center;
  padding: 5px;
  border: 1px solid lightgrey;
  font-size: .9em;
  writing-mode: vertical-rl;
}
