@use '../../_styles/colors.scss' as *;

.no-data-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: $vl-text-grey;
  .icon {
    height: 100px;
    width: 100px;
    padding-left: .3em;
    padding-top: .3em;
    border: 2px solid lightgrey;
    font-size: 60px;
    border-radius: 50px;
  }
  .title {
    margin-bottom: 50px;
    font-size: 1.5em;
    font-weight: bold;
  }
  .action-buttons {
    display: flex;
    flex-direction: column;
    button {
      color: black;
      margin-bottom: 20px;
    }
  }
}


#table-simple-wrapper {
  overflow: scroll;
  width: 100%;
  height: 100%;
  &.hide-table {
    height: 0;
  }
  table {
    .cell {
      border: 1px solid #E1E1E1;
      height: 20px;
      width: 20px;
      overflow: hidden;

      &.header {
        width: 300px;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &.group {
          font-weight: bold;
        }
      }

      &.main {
        text-align: center;
        &.synth {
          background-color: #E6E6E6;
        }
      }

    }
  }
}
