.tsb-container {
  display: flex;
  width: 100%;
  form.tsb-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
}

mat-form-field {
  &.fullWidth {
    width: 100%;
    padding-right: 5px;
  }
}

[hidden] {
  display: none !important;
}

.repo-description {
  display: block;
  margin-top: 10px;
  font-size: .8em;
  color: grey;
  width: fit-content;
}

.isNotSynonym {
  font-weight: bold;
}
