<div *ngIf="noOneRepositoryError">
    <mat-chip-listbox><mat-chip-option>{{ noOneRepositoryErrorMessage }}</mat-chip-option></mat-chip-listbox>
</div>

<div *ngIf="!noOneRepositoryError" class="tsb-container">
  <form class="tsb-form" [formGroup]="form">
    <!-- Repositories list -->
    <mat-form-field [hidden]="!showRepositoryInput" [floatLabel]="floatLabel">
      <mat-select id="repositoryInput" formControlName="repository" placeholder="Référentiel">
        <mat-option *ngFor="let repo of listRepo" [value]="repo.value">
          {{ repo.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Input field -->
    <mat-form-field [class.fullWidth]="inputFullWidth" [color]="isEditingData?'accent':'primary'" [floatLabel]="floatLabel" [hintLabel]="hintRepoLabel?hintRepoLabelMessage():''">
      <input #taxoInput #matAutocomplete matInput id="taxoInput" formControlName="input"
                      placeholder="{{ inputPlaceholder() }}"
                      [matAutocomplete]="auto"
                      [matAutocompleteDisabled]="!autoComplete"
                      (keydown.enter)="keyDownEnter()"
                      (blur)="onBlur()"
                      [errorStateMatcher]="matcher"
                      >
      <mat-autocomplete #auto="matAutocomplete" [autoActiveFirstOption]=true [displayWith]="showAuthor?displayInputWithAuthor.bind(this):displayInputWithoutAuthor.bind(this)">
        <mat-option *ngFor="let item of dataFromRepo" [value]="item">
          <span [class.isNotSynonym]="!item.isSynonym">{{ item.name + (showAuthor && item.author !== null ? (' ' + item.author) : '') }}</span>
        </mat-option>
      </mat-autocomplete>
      <mat-spinner *ngIf="isLoading" matSuffix diameter="18"></mat-spinner>
      <!--<button type="button" mat-button [hidden]="!isEditingData || isLoading" matTooltip="Annuler"  matSuffix mat-icon-button aria-label="Clear" (click)="$event.preventDefault(); cancelEditingTaxo()">
        <mat-icon>close</mat-icon>
      </button>-->
    </mat-form-field>
  </form>
</div>

<!-- Repository description -->
<div [hidden]="!showRepositoryDescription">
  <div class="repo-description" [hidden]="!showRepositoryDescription">
      "{{ currentRepository }}" : {{ repositoryDescriptionTooltip() }}
  </div>
</div>
