<div id="my-data-container">

  <div class="header">
    <h1>Mes données<br /><small>connecté en tant que {{ getUserName() }}</small></h1>
  </div>

  <div>
    <mat-sidenav-container class="sidenav-container" (backdropClick)="close()">
      <mat-sidenav #sidenav class="sidenav" position="end" (keydown.escape)="close()">
        <div class="sidenav-content-wrapper">
          <!-- Table info -->
          <div *ngIf="tableInfo" class="table-infos">
            <vl-table-preview [table]="tableInfo" (close)="closePreview($event)"></vl-table-preview>
          </div>

          <!-- Occurrence info -->
          <div *ngIf="occurrenceInfo" class="occurrence-info">
              <vl-occurrence-preview [occurrence]="occurrenceInfo" (close)="closePreview($event)"></vl-occurrence-preview>
          </div>

          <!-- Delete a table -->
          <div *ngIf="tableToDelete" class="table-delete">
            <div class="sidenav-header table">
              <h3>Tableau n°{{ tableToDelete.id }}</h3>
              <p>Suppression</p>
            </div>
            <div class="sidenav-content">
              <vl-table-basic-infos-preview [table]="tableToDelete"></vl-table-basic-infos-preview>
              <hr />
              <div class="confirm-delete">
                <!--<p>Lorsque vous supprimez un tableau, les relevés qui le compose ne sont par supprimés.</p>-->
                <p>Lorsque vous supprimez un tableau, les relevés qui le compose <b>ne sont pas</b> supprimés.</p>
                <br />
                <p><b>La suppression de ce tableau est irreversible.</b></p>
                <div class="action-buttons">
                  <button mat-flat-button color="warn"
                    (click)="deleteTable(tableToDelete)"
                    [disabled]="removingTable"
                    [class.spinner]="removingTable">Confirmer la suppression</button>

                  <button mat-flat-button color="primary"
                    (click)="cancelTableDelete()"
                    [disabled]="removingTable"
                    [class.spinner]="removingTable">Annuler</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Delete an occurrence -->
          <div *ngIf="occurrenceToDelete" class="occurrence-delete">
            <div class="sidenav-header occurrence">
              <h3>Relevé n°{{ occurrenceToDelete.id }}</h3>
              <p>Suppression</p>
            </div>
            <div class="sidenav-content">
              <vl-occurrence-basic-infos-preview [occurrence]="occurrenceToDelete"></vl-occurrence-basic-infos-preview>
              <hr />
              <div class="confirm-delete">
                <p><b>La suppression de ce relevé est irreversible.</b></p>
                <div class="action-buttons">
                  <button mat-flat-button color="warn" (click)="deleteOccurrence(occurrenceToDelete)">Confirmer la suppression</button>
                  <button mat-flat-button color="primary" (click)="cancelOccurrenceDelete()">Annuler</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <div class="container-vl">
          <!-- main content -->
          <div class="section">
            <div *ngIf="waitingForReload">
              <mat-card appearance="outlined" class="wait-for-update">Les données vont être mises à jour...</mat-card>
            </div>
            <!-- TABLES -->
            <h3 class="title">Mes tableaux<span class="badge">{{ myTablesCount }}</span></h3>

            <div class="no-tables" *ngIf="!myTablesLoading && myTablesSet && myTables.length === 0">
              Vous n'avez aucun tableau pour l'instant.
            </div>

            <div class="my-tables-content">
              <vl-tables-table-view [count]="myTablesCount"
                                    [size]="myTablesPaginatorSize"
                                    [pageIndex]="myTablesPageIndex"
                                    [tables]="myTables"
                                    [deleteOption]="true"
                                    [isLoading]="myTablesLoading"
                                    (pageChange)="_tablePageChanged($event)"
                                    (previewTable)="previewTableAction($event)"
                                    (deleteTable)="deleteTableAction($event)"
                                    ></vl-tables-table-view>
              <div class="info-paragraph">
                Vous ne pouvez modifier que les tableaux que vous avez vous-même créés ou ceux qui vous avez dupliqués.
              </div>
            </div>
          </div>
          <!-- RELEVES -->
          <div class="section">
            <h3 class="title">Mes relevés<span class="badge">{{ myOccurrencesCount }}</span></h3>

            <div class="no-occurrences" *ngIf="!myOccurrencesLoading && myOccurrencesSet && myOccurrences.length === 0">
              Vous n'avez aucun relevé pour l'instant.
            </div>

            <div class="my-occurrences-content">
              <vl-occurrences-table-view [count]="myOccurrencesCount"
                                        [size]="myOccurrencesPaginatorSize"
                                        [pageIndex]="myOccurrencesPageIndex"
                                        [occurrences]="myOccurrences"
                                        [isLoading]="myOccurrencesLoading"
                                        [displayedColumns]="occurrencesDisplayedColumns"
                                        [deleteOption]="true"
                                        (pageChange)="_occurrencePageChanged($event)"
                                        (previewOccurrence)="previewOccurrenceAction($event)"
                                        (deleteOccurrence)="deleteOccurrenceAction($event)"
                                        ></vl-occurrences-table-view>
              <div class="info-paragraph">
                Vous ne pouvez modifier que les relevés que vous avez vous-même créés.
              </div>
            </div>
          </div>
          <!--
          <div class="section">
            <h3 class="title">Projets</h3>
          </div>
          <div class="section">
            <h3 class="title">4</h3>
          </div>
          -->

        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>


</div>
