@use '../../_styles/colors.scss' as *;

#my-data-container {

  .header, .fullwidth-block, .footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .header {
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url('../../../assets/wsPhyto/img/phytosocio_nb.jpg');
    background-size: cover;
    color: white;

    h1 {
      font-size: 3em;
      margin-bottom: 0px;
    }
    h2 {
      font-size: 1.5em;
      text-align: center;
    }
  }

  .sidenav-container {
    width: 100%;
    background-color: white;
    .sidenav {
      min-width: 500px;
      max-width: 50%;
      .sidenav-content-wrapper {
        .sidenav-header {
          padding: 15px;
          &.table {
            background-color: $table-color;
            color: $table-color-text;
          }
          &.occurrence {
            background-color: $occurrence-color;
            color: $occurrence-color-text;
          }
        }
        .sidenav-content {
          .confirm-delete {
            padding: 25px;
            .action-buttons {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            }
          }
        }
      }
    }
    .container-vl {
      margin-top: 30px;
      .section {
        &:not(:first-child) {
          padding-top: 2em;
        }
        width: 100%;

        h3 {
          width: max-content;
        }
        .title {
          img {
            width: 35px;
          }
          .badge {
            margin-left: 5px;
            background-color: $vl-primary;
            color: white;
            border-radius: 5px;
          }
        }
        .info-paragraph {
          padding-top: 15px;
          font-style: italic;
        }
        .wait-for-update {
          text-align: center;
          font-weight: bold;
          font-size: 1.2em;
          margin-bottom: 20px;
        }
      }
      .my-tables-content {
        width: 100%;
      }
      .my-occurrences-content {
        width: 100%;
      }
    }



    .inline-spinner {
      margin-right: 8px;
    }
  }

}
