@use '../../_styles/colors.scss' as *;

.logout-wrapper {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../../assets/img/login_nb.jpg');
  background-size: cover;
  .backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.5em;
      color: white;
      border: 1px solid white;
      border-radius: 10px;
      padding: 10px;
      span {
        margin-left:.4em;
      }
    }
  }
}
