<div id="geoloc-map">
  <div id="geoloc-map-meta">
    <!-- geosearch autocomplete -->
    <mat-form-field style="width: 100%;">
      <input matInput #locationInput [formControl]="geoSearchFormGroup.controls.placeInput" matTooltip="Trouver une commune" placeholder="Trouver une commune" aria-label="Trouver une commune" [matAutocomplete]="auto">
      <mat-spinner *ngIf="isLoadingAddress" diameter="20" matSuffix></mat-spinner>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addressSelectedChanged($event)" [panelWidth]="'auto'">
        <mat-option *ngFor="let address of geoSearchResults" [value]="address">
          <span>{{ geoService.getReadableAddressFromCommonGeocodedData(address) }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="geolocationInputs" *ngIf="showLatLngElevationInputs">
      <!-- lat/lng inputs -->
      <div [formGroup]="latlngFormGroup">
        <!-- latitude / longitude decimal format -->
        <div class="lat-lng-dec-wrapper" *ngIf="latLngFormat=='dec'">
          <!-- latitude / longitude format selection -->
          <div class="latitude-wrapper">
            <button type="button" mat-icon-button (click)="$event.preventDefault()" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-form-field class="latitude-input-group">
              <input matInput formControlName="latInput" matTooltip="Saisir les coordonnées géographiques" placeholder="latitude">
              <mat-spinner *ngIf="isLoadingLatitude" diameter="20" matSuffix></mat-spinner>
              <mat-error *ngIf="latlngFormGroup.controls.latInput.dirty && latlngFormGroup.controls.latInput.hasError('malformedLatLngDecFormat')">Format non valide</mat-error>
            </mat-form-field>
          </div>

          <div class="longitude-wrapper">
            <mat-form-field class="longitude-input-group">
              <input matInput formControlName="lngInput" matTooltip="Saisir les coordonnées géographiques" placeholder="longitude">
              <mat-spinner *ngIf="isLoadingLongitude" diameter="20" matSuffix></mat-spinner>
              <mat-error *ngIf="latlngFormGroup.controls.latInput.dirty && latlngFormGroup.controls.latInput.hasError('malformedLatLngDecFormat')">Format non valide</mat-error>
            </mat-form-field>
            <button type="button" mat-icon-button (click)="$event.preventDefault(); addMarkerFromLatLngCoord(); callGeolocElevationApisUsingLatLngInputsValues();" [disabled]="!latlngFormGroup.controls.latInput.valid || !latlngFormGroup.controls.lngInput.valid" color="primary">
              <mat-icon matTooltip="Utiliser ces coordonnées">where_to_vote</mat-icon>
            </button>
          </div>
        </div>

        <!-- latitude / longitude DMS format -->
        <div *ngIf="latLngFormat=='dms'" class="lat-lng-dms-wrapper">
          <!-- latitude / longitude format selection -->
          <div class="latitude-wrapper">
            <button type="button" mat-icon-button (click)="$event.preventDefault()" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-form-field class="latitude-input-group">
              <input matInput formControlName="dmsLatInput" matTooltip="Saisir les coordonnées géographiques" placeholder="(deg)°  (min)'  (sec)&quot;">
              <span matPrefix>N&nbsp;</span>
              <mat-spinner *ngIf="isLoadingLatitude" diameter="20" matSuffix></mat-spinner>
              <mat-error *ngIf="latlngFormGroup.controls.dmsLatInput.dirty && latlngFormGroup.controls.dmsLatInput.hasError('malformedLatLngDmsFormat')">Format non valide</mat-error>
            </mat-form-field>
          </div>

          <div class="longitude-wrapper">
            <mat-form-field class="longitude-input-group">
              <input matInput formControlName="dmsLngInput" matTooltip="Saisir les coordonnées géographiques" placeholder="(deg)°  (min)'  (sec)&quot;">
              <span matPrefix>E&nbsp;</span>
              <mat-spinner *ngIf="isLoadingLongitude" diameter="20" matSuffix></mat-spinner>
              <mat-error *ngIf="latlngFormGroup.controls.dmsLatInput.dirty && latlngFormGroup.controls.dmsLatInput.hasError('malformedLatLngDmsFormat')">Format non valide</mat-error>
            </mat-form-field>

            <button type="button" mat-icon-button (click)="$event.preventDefault(); addMarkerFromDmsCoord(); callGeolocElevationApisUsingLatLngInputsValues();" [disabled]="!latlngFormGroup.controls.dmsLatInput.valid || !latlngFormGroup.controls.dmsLngInput.valid" color="primary">
              <mat-icon matTooltip="Utiliser ces coordonnées">where_to_vote</mat-icon>
            </button>
          </div>
        </div>

        <!-- menu format decimal / dms-->
        <mat-menu #menu="matMenu">
          <button type="button" mat-menu-item (click)="$event.preventDefault(); setLatLngInputFormat('dec')">Décimal</button>
          <button type="button" mat-menu-item (click)="$event.preventDefault(); setLatLngInputFormat('dms')">Degrés minutes secondes</button>
        </mat-menu>
      </div>

      <!-- elevation -->
      <div class="elevationInput" [formGroup]="elevationFormGroup">
        <mat-form-field style="width: 100px;">
          <input matInput formControlName="elevationInput" matTooltip="Saisir l'altitude" placeholder="altitude">
          <mat-spinner *ngIf="isLoadingElevation" diameter="20" matSuffix></mat-spinner>
          <span *ngIf="!isLoadingElevation" matSuffix>m</span>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div id="geoloc-map-draw" [style.height]="height" [style.minHeight]="height" [style.width]="width" [style.maxWidth]="width"
      leaflet
      [leafletOptions]="mapOptions"
      (leafletMapReady)="onMapReady($event)">
  </div>
  <div *ngIf="!showLatLngElevationInputs" class="sub-map-infos" [class.has-data]="latlngFormGroup.controls.latInput.value !== '' && latlngFormGroup.controls.lngInput.value !== ''">
    <div>latitude : {{ latlngFormGroup.controls.latInput.value | number:'2.0-6' }}</div>
    <div>longitude : {{ latlngFormGroup.controls.lngInput.value | number:'2.0-6' }}</div>
    <div *ngIf="!isLoadingElevation">altitude : {{ elevationFormGroup.controls.elevationInput.value }} m</div>
    <div *ngIf="isLoadingElevation">altitude : calcul en cours...</div>
  </div>
</div>
