[hidden] {
  display: none !important;
}

#geoloc-map {
  display: flex;
  flex-direction: column;
  min-height: 200px;

  #geoloc-map-meta {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;

    .geolocationInputs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      .longitude-input-group { margin-left: 5px; }
    }

  }

  #geoloc-map-draw {
    position: relative;
    flex: 3;
  }

  #httpTasksRunningSpinner {
    flex: 1;
  }
}

button {
  .mini {
    min-width: 0px;
    line-height: 30px;
  }
}

.geolocatedPhotoMetadataTable {
  width: 100%;
}

.sub-map-infos {
  color: #C5C5C5;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px;

  &.has-data {
    color: black;
  }
}

.lat-lng-dms-wrapper, .lat-lng-dec-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  .lat-lng-dms-wrapper, .lat-lng-dec-wrapper {
    justify-content: center;
    .longitude-wrapper {
      margin-left: 70px;
    }
  }
}
@media only screen and (max-width: 360px) {
  .lat-lng-dms-wrapper, .lat-lng-dec-wrapper {
    justify-content: center;
    .longitude-wrapper {
      display: flex;
      align-items: baseline;
      flex-wrap: nowrap;
      margin-left: 37px;
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      ::ng-deep.mat-form-field-wrapper {
        max-width: 160px;
      }
    }
    .latitude-wrapper {
      display: flex;
      align-items: baseline;
      flex-wrap: nowrap;
      margin-left: -37px;
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      ::ng-deep.mat-form-field-wrapper {
        max-width: 160px;
      }
    }
  }
}


