<div class="table-preview-container">
  <div class="header table">
    <div class="title">
      <h3>Tableau n°{{ table.id }}</h3>
      <div class="icon-with-border" (click)="closeMe()">
        <mat-icon>close</mat-icon>
      </div>
    </div>
    <p>Informations</p>
  </div>
  <div class="content">
    <vl-table-basic-infos-preview [table]="table"></vl-table-basic-infos-preview>

    <mat-accordion>
      <!-- Table preview -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Aperçu du tableau</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <vl-table-render-preview [table]="table"></vl-table-render-preview>
      </mat-expansion-panel>

      <!-- Identification -->
      <!--<mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Identifications</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <vl-table-identifications-preview [table]="table"></vl-table-identifications-preview>
      </mat-expansion-panel>-->
    </mat-accordion>
  </div>
</div>
