@use '../../../_styles/colors.scss' as *;

.header {
  padding: 15px;
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .icon-with-border {
      width: 29px;
      height: 29px;
      padding-top: 2px;
      padding-left: 2px;
      border-width: 1px;
      border-style: solid;
      border-radius: 20px;
      cursor: pointer;
    }
  }
  &.table {
    background-color: $table-color;
    color: $table-color-text;
  }
  &.occurrence {
    background-color: $occurrence-color;
    color: $occurrence-color-text;
  }
}
.content {

}
