<mat-sidenav-container class="sidenav-container" (backdropClick)="closeSidenav()">
  <mat-sidenav #sidenav class="sidenav" position="end" (keydown.escape)="closeSidenav()">
    <div class="sidenav-content-wrapper">
      <div *ngIf="occurrenceInfo">
        <vl-occurrence-preview [occurrence]="occurrenceInfo" (close)="closePreview($event)"></vl-occurrence-preview>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <div class="container">
      <h1>Rechercher un relevé</h1>
      <!-- FILTERS -->
      <div class="filter-container">
        <mat-tab-group animationDuration="0" (selectedIndexChange)="selectedTabIndexChange($event)">
          <!-- ****************************************** -->
          <!-- Low level occurrence filter (ie idiotaxon) -->
          <!-- ****************************************** -->
          <mat-tab label="Espèces">
            <ng-template mat-tab-label>
              <img class="vl-base-element-icon inline" src="./assets/img/icons/occ-icon.jpg">
              Espèces
            </ng-template>
            <div class="tab-body-wrapper">
              <!-- search by "species" -->
              <div class="tab-section">
                <div class="section-title"></div>
                <div class="section-body">
                  <mat-chip-listbox></mat-chip-listbox> <!-- https://github.com/angular/material2/issues/9964#issuecomment-480287541 -->
                  <table class="must-not-table">
                    <thead>
                      <tr class="header">
                        <th class="title"></th>
                        <th class="taxo-input">
                          <vl-taxo-search-box
                            level="idiotaxon"
                            placeholder="Ajouter une espèce au filtre"
                            autoResetWhenSelected="true"
                            [defaultRepository]="defaultIdiotaxonRepository"
                            [showRepositoryInput]="true"
                            (newData)="addOccurrenceToFilter($event)">
                          </vl-taxo-search-box>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="row must">
                        <td class="title">Les relevés <b>doivent</b> contenir</td>
                        <!--<td class="title" *ngIf="mustOrShouldContain == 'should'">Les relevés <b>devraient</b> contenir</td>-->
                        <td>
                          <!-- must/should contain box -->
                          <div cdkDropList #mustContainList="cdkDropList" [cdkDropListData]="mustContainOccurrences" [cdkDropListConnectedTo]="[mustNotContainList]" (cdkDropListDropped)="dropOccurrenceBetweenLists($event)" class="occurrence-filter-box must">
                            <mat-chip-option cdkDrag *ngFor="let item of mustContainOccurrences" removable="true" (removed)="removeOccurrenceFromMustContainList(item)">
                              {{ item.name }} {{ item.author }}
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip-option>
                          </div>
                        </td>
                      </tr>
                      <tr class="row must-not">
                        <td class="title">Les relevés <b>ne doivent pas</b> contenir</td>
                        <td>
                          <!-- must not/should not contain box -->
                          <div cdkDropList #mustNotContainList="cdkDropList" [cdkDropListData]="mustNotContainOccurrences" [cdkDropListConnectedTo]="[mustContainList]" (cdkDropListDropped)="dropOccurrenceBetweenLists($event)" class="occurrence-filter-box must-not">
                            <mat-chip-option cdkDrag *ngFor="let item of mustNotContainOccurrences" removable="true" (removed)="removeOccurrenceFromMustNotContainList(item)">
                              {{ item.name }} {{ item.author }}
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip-option>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </mat-tab>

          <!-- ******************************************************** -->
          <!-- Hight level occurrence filter (ie synusy / microcenosis) -->
          <!-- ******************************************************** -->
          <mat-tab label="Relevés">
            <ng-template mat-tab-label>
              <img class="vl-base-element-icon inline" src="./assets/img/icons/rel-icon.jpg">
              Relevés
            </ng-template>
            <div class="tab-body-wrapper">
              <!-- search by "species" -->
              <div class="tab-section">
                <div class="section-title"></div>
                <div class="section-body">
                  <mat-chip-listbox></mat-chip-listbox> <!-- https://github.com/angular/material2/issues/9964#issuecomment-480287541 -->
                  <table class="must-not-table">
                    <thead>
                      <tr class="header">
                        <th class="title"></th>
                        <th class="taxo-input">
                          <vl-taxo-search-box
                            level="synusy"
                            placeholder="Ajouter un syntaxon au filtre"
                            autoResetWhenSelected="true"
                            [defaultRepository]="defaultSyntaxonRepository"
                            [showRepositoryInput]="true"
                            (newData)="addReleveToFilter($event)">
                          </vl-taxo-search-box>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="row must">
                        <td class="title">Les relevés <b>doivent</b> être</td>
                        <!--<td class="title" *ngIf="mustOrShouldContain == 'should'">Les relevés <b>devraient</b> contenir</td>-->
                        <td>
                          <!-- must/should contain box -->
                          <div cdkDropList #mustContainRelevesList="cdkDropList" [cdkDropListData]="mustContainReleves" [cdkDropListConnectedTo]="[mustNotContainRelevesList]" (cdkDropListDropped)="dropReleveBetweenLists($event)" class="releve-filter-box must">
                            <mat-chip-option cdkDrag *ngFor="let item of mustContainReleves" removable="true" (removed)="removeReleveFromMustContainList(item)">
                              {{ item.name }} {{ item.author }}
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip-option>
                          </div>
                        </td>
                      </tr>
                      <tr class="row must-not">
                        <td class="title">Les relevés <b>ne doivent pas</b> être</td>
                        <td>
                          <!-- must not/should not contain box -->
                          <div cdkDropList #mustNotContainRelevesList="cdkDropList" [cdkDropListData]="mustNotContainReleves" [cdkDropListConnectedTo]="[mustContainRelevesList]" (cdkDropListDropped)="dropReleveBetweenLists($event)" class="releve-filter-box must-not">
                            <mat-chip-option cdkDrag *ngFor="let item of mustNotContainReleves" removable="true" (removed)="removeReleveFromMustNotContainList(item)">
                              {{ item.name }} {{ item.author }}
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip-option>
                          </div>
                        </td>
                      </tr>
                      <tr class="level">
                        <td class="title">Niveau d'intégration</td>
                        <td class>
                          <mat-form-field>
                            <mat-select value="all" (selectionChange)="levelFilterChange($event.value)">
                              <mat-option value="all">Tous les niveaux</mat-option>
                              <mat-option value="synusy">Synusie (releve synusial ou sigmatiste)</mat-option>
                              <mat-option value="microcenosis">Microcénose (relevé sigmatiste)</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr class="level">
                        <td class="title">Strate</td>
                        <td class>
                          <mat-form-field>
                            <mat-select  value="all" (selectionChange)="layerFilterChange($event.value)">
                              <mat-option value="all">Toutes les strates</mat-option>
                              <mat-option *ngFor="let layer of layerList" [value]="layer.enum">{{ layer.name }} : {{ layer.description }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </mat-tab>

          <!-- *************** -->
          <!-- Geolocation filter -->
          <!-- *************** -->
          <mat-tab label="Localisation">
            <ng-template mat-tab-label>
              <mat-icon>place</mat-icon>
              Localisation
            </ng-template>
            <div class="tab-body-wrapper">
              <div class="tab-section">
                <div class="section-title"></div>
                <div class="section-body">
                  <vl-geo-search
                    (geoData)="geoDataFilterAdded($event)"></vl-geo-search>

                  <table class="geo-filters">
                    <tr>
                      <td>Filtre(s) par pays :</td>
                      <td>
                        <i *ngIf="geoFilters.countries.length === 0">Aucun filtre appliqué</i>
                        <mat-chip-set class="list country">
                          <mat-chip *ngFor="let country of geoFilters.countries" (removed)="removeGeoFilter(country)">
                            <b>{{ geoService.displayFn(country) }}</b>
                            <button matChipRemove><mat-icon>cancel</mat-icon></button>
                          </mat-chip>
                        </mat-chip-set>
                      </td>
                    </tr>
                    <tr>
                      <td>Filtre(s) par région(s) :</td>
                      <td>
                        <i *ngIf="geoFilters.regions.length === 0">Aucun filtre appliqué</i>
                        <mat-chip-set class="list region">
                          <mat-chip *ngFor="let region of geoFilters.regions" (removed)="removeGeoFilter(region)">
                            <b>{{ geoService.displayFn(region) }}</b>
                            <button matChipRemove><mat-icon>cancel</mat-icon></button>
                          </mat-chip>
                        </mat-chip-set>
                      </td>
                    </tr>
                    <tr>
                      <td>Filtre(s) par département(s) :</td>
                      <td>
                        <i *ngIf="geoFilters.counties.length === 0">Aucun filtre appliqué</i>
                        <mat-chip-set class="list county">
                          <mat-chip *ngFor="let county of geoFilters.counties" (removed)="removeGeoFilter(county)">
                            <b>{{ geoService.displayFn(county) }}</b>
                            <button matChipRemove><mat-icon>cancel</mat-icon></button>
                          </mat-chip>
                        </mat-chip-set>
                      </td>
                    </tr>
                    <tr>
                      <td>Filtre(s) par commune(s) :</td>
                      <td>
                        <i *ngIf="geoFilters.cities.length === 0">Aucun filtre appliqué</i>
                        <mat-chip-set class="list city">
                          <mat-chip *ngFor="let city of geoFilters.cities" (removed)="removeGeoFilter(city)">
                            <b>{{ geoService.displayFn(city) }}</b>
                            <button matChipRemove><mat-icon>cancel</mat-icon></button>
                          </mat-chip>
                        </mat-chip-set>
                      </td>
                    </tr>
                  </table>



                  <!-- Elevation -->
                  <!--<div class="elevation-filter">
                    <div class="row">
                      <div class="activator">
                        <mat-slide-toggle color="primary" (change)="elevationFilterActivationChange($event)" [checked]="elevationFilterOn">Filtrer l'altitude</mat-slide-toggle>
                      </div>
                      <div class="selector">
                        <ngx-slider [(value)]="elevationFilterLowValue" [(highValue)]="elevationFilterHighValue" (userChangeStart)="onUserChangeStartElevationValue($event)" (userChangeEnd)="onUserChangeEndElevationValue($event)" [options]="elevationFilterOptions"></ngx-slider>
                      </div>
                    </div>
                  </div>-->
                </div>
              </div>
            </div>
          </mat-tab>

          <!-- *********************** -->
          <!-- Author and date filters -->
          <!-- *********************** -->
          <mat-tab label="Auteur et date">
            <ng-template mat-tab-label>
              <mat-icon>perm_contact_calendar</mat-icon>
              Auteur, date et ref. biblio.
            </ng-template>
            <div class="tab-body-wrapper">
              <div class="tab-section">
                <div class="section-title"></div>
                <div class="section-body">
                  <!-- Authors -->
                  <table class="filters-authors">
                    <thead>
                      <th class="title"></th>
                      <th class="filter"></th>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="title">Auteur</td>
                        <td class="filter">
                          <vl-observer-search
                            placeholder="Auteur"
                            fuzzySearch="true"
                            clearAfterEmit="true"
                            (selectedObserver)="authorChange($event)"></vl-observer-search>
                          <mat-chip-listbox>
                            <mat-chip-option *ngFor="let filteredAuthor of filteredAuthors" [removable]="true">
                              <div class="chip-text-nowrap">{{ filteredAuthor.name }}</div>
                              <mat-icon matChipRemove (click)="removeFilteredAuthor(filteredAuthor)">cancel</mat-icon>
                            </mat-chip-option>
                          </mat-chip-listbox>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <!-- Date -->
                  <table class="filters-dates">
                    <thead>
                      <th class="title"></th>
                      <th class="filter"></th>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="title"><mat-slide-toggle [checked]="dateFilterOn" (change)="dateFilterActivationChange($event)" color="primary">Date d'obs.</mat-slide-toggle></td>
                        <td class="filter"><vl-metadata-filter [metadata]="fakeDateMetadata" [disabled]="!dateFilterOn" (filterValues)="dateFilterValuesChange($event)"></vl-metadata-filter></td>
                      </tr>
                    </tbody>
                  </table>

                  <!-- Biblio -->
                  <table class="filters-biblios">
                    <thead>
                      <th class="title"></th>
                      <th class="filter"></th>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="title">Ref. Biblio</td>
                        <td class="filter">
                          <vl-biblio-search
                            placeholder="Référence bibliographique"
                            fuzzySearch="true"
                            clearAfterEmit="true"
                            (selectedBiblio)="biblioChange($event)"></vl-biblio-search>
                          <mat-chip-listbox>
                            <mat-chip-option *ngFor="let filteredBiblio of filteredBiblios" [removable]="true" style="max-width: 500px;">
                              <div class="chip-text-nowrap">{{ filteredBiblio.title }}</div>
                              <mat-icon matChipRemove (click)="removeFilteredBiblio(filteredBiblio)">cancel</mat-icon>
                            </mat-chip-option>
                          </mat-chip-listbox>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </mat-tab>

          <!-- **************** -->
          <!-- Metadata filters -->
          <!-- **************** -->
          <mat-tab label="Métadonnées">
            <ng-template mat-tab-label>
              <mat-icon>local_offer</mat-icon>
              Métadonnées
            </ng-template>
            <div class="tab-body-wrapper">
              <div class="tab-section">
                <div class="section-title"></div>
                <div class="section-body">
                  <div class="metadata-search-bar">
                    <mat-form-field class="metadata-search-input">
                      <input matInput placeholder="Ajouter une métadonnée" aria-label="Ajouter une métadonnée" [matAutocomplete]="metadataauto" [formControl]="addMetadataInput">
                      <mat-autocomplete #metadataauto="matAutocomplete" (optionSelected)="addMetadataToFilter($event)" [displayWith]="displayMetadataAutocomplete">
                        <mat-option *ngFor="let metadata of filteredMetadatas | async" [value]="metadata">
                          <span *ngIf="!metadata.extendedFieldTranslations || metadata.extendedFieldTranslations.length == 0">{{metadata.fieldId}}</span>
                          <span *ngIf="metadata.extendedFieldTranslations.length > 0 && metadata.extendedFieldTranslations[0].description"><span>{{metadata.extendedFieldTranslations[0].label }}</span> | <small>{{ metadata.extendedFieldTranslations[0].description }}<span *ngIf="metadata.unit"> ({{ metadata.unit }})</span></small></span>
                          <span *ngIf="metadata.extendedFieldTranslations.length > 0 && !metadata.extendedFieldTranslations[0].description"><span>{{metadata.extendedFieldTranslations[0].label }}</span> <small><span *ngIf="metadata.unit"> ({{ metadata.unit }})</span></small></span>
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    <div class="button">
                      <button mat-flat-button (click)="toggleMetadataOptionsVisible()">
                        <span *ngIf="!showMetadataFilterOptions">Options</span>
                        <span *ngIf="showMetadataFilterOptions">Masquer les options</span>
                      </button>
                    </div>
                  </div>

                  <div class="metadata-search-options">
                    <div class="options" [hidden]="!showMetadataFilterOptions">
                      <div class="push-right">
                        <mat-slide-toggle color="primary" (change)="toggleMetadataFilterIncludeMissingMetadata()" [checked]="metadataFilterIncludeMissingMetadata">
                            Inclure les relevés sans métadonnées
                        </mat-slide-toggle>
                        <mat-icon (click)="openMetadataModal1()" style="cursor: pointer;">info</mat-icon>
                      </div>
                    </div>
                  </div>
                  <table class="filters-table">
                    <thead>
                      <th></th>
                      <th class="title"></th>
                      <th class="filter"></th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of metadataToFilter; let i = index;">
                        <td class="conjunction"><div *ngIf="i > 0">et </div></td>
                        <td class="title"><mat-slide-toggle [checked]="!item.disabled" (change)="toggleDisabledMetadata(item)" color="primary">{{ item.label }}</mat-slide-toggle></td>
                        <td class="filter"><vl-metadata-filter [metadata]="item.metadata" [metadataValueID]="item.id" [disabled]="item.disabled" deleteOption="true" (deletedMetadata)="deleteMetadataToFilter($event)" (filterValues)="metadataFilterValuesChange(item, $event)"></vl-metadata-filter></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </mat-tab>

          <!-- ******* -->
          <!-- Options -->
          <!-- ******* -->
          <mat-tab label="Options">
            <ng-template mat-tab-label>
              <mat-icon>more_horiz</mat-icon>
              Options
            </ng-template>
            <div class="tab-body-wrapper">
              <div class="tab-section">
                <div class="section-title"></div>
                <div class="section-body">
                  <table>
                    <tbody>
                      <tr>
                        <td><mat-slide-toggle [(ngModel)]="returnsChildrenLevelOccurrences" (change)="returnsChildrenLevelOccurrencesChange()" [disabled]="!returnsChildrenLevelOccurrencesEnabled">Relevés intégrés</mat-slide-toggle></td>
                        <td>
                          Extraire les relevés synusiaux inclus dans un relevé sigmatiste.<br />
                          Cette option est automatiquement désactivée si vous utilisez le filtre "Niveau d'intégration" ou "Strate".
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

      <!-- ******* -->
      <!-- RESULTS -->
      <!-- ******* -->
      <div class="spacer"></div>

      <div class="results-container">
        <div class="result-top-bar">
          <div class="results-title">
            <div *ngIf="searchedOccurrences.length == 0">
              <div class="result-title" *ngIf="noFilterApplied()">Aucun filtre appliqué</div>
              <div class="result-title" *ngIf="!noFilterApplied()">Aucun résultat</div>
            </div>
            <div class="result-title" *ngIf="resultCount == 1">1 résultat</div>
            <div class="result-title" *ngIf="resultCount > 1">{{ resultCount }} résultats</div>
          </div>
          <div class="results-button">
            <button mat-stroked-button (click)="addSelectedOccurrencesToTable()"
              color="primary"
              [disabled]="!selectedOccurrencesIds || selectedOccurrencesIds.length === 0">
                <mat-icon color="primary">add_circle_outline</mat-icon>
                Ajouter les relevés sélectionnés au tableau
            </button>
          </div>

        </div>

        <div class="table-results">
          <vl-occurrences-table-view
            [count]="resultCount"
            [size]="occurrencesPaginatorSize"
            [pageIndex]="occurrencesPageIndex"
            [orderedOccurrences]="orderedSearchedOccurrences"
            [selectable]="true"
            [isLoading]="isSearching"
            (pageChange)="_occurrencePageChanged($event)"
            (previewOccurrence)="previewOccurrenceAction($event)"
            (selectedOccurrences)="selectedOccurrencesChange($event)"></vl-occurrences-table-view>
        </div>
      </div>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>



