<table>
  <thead>
    <tr>
      <th class="label"> </th>
      <th class="value"> </th>
    </tr>
  </thead>
  <tbody>
    <!-- Creation -->
    <tr>
      <td class="item-header">Créé le</td>
      <td class="item-content">{{ occurrence.dateCreated | momentLocalDate }}</td>
    </tr>
    <tr>
      <td class="item-header">Par</td>
      <td class="item-content">{{ occurrence && occurrence.owner !== null ? occurrence.owner.firstname + ' ' + occurrence.owner.lastname : '?' }}</td>
    </tr>
    <!-- Observation -->
    <tr>
      <td class="item-header">Observateur(s)</td>
      <td class="item-content">{{ getObservers(occurrence) }}</td>
    </tr>
    <tr>
      <td class="item-header">Date d'observation</td>
      <td class="item-content" *ngIf="!occurrence.dateObserved">?</td>
      <td class="item-content" *ngIf="occurrence.dateObserved && !occurrence.dateObservedPrecision">{{ occurrence.dateObserved }}</td>
      <td class="item-content" *ngIf="occurrence.dateObserved && occurrence.dateObservedPrecision">{{ occurrence.dateObserved | momentLocalDate:occurrence.dateObservedPrecision }}</td>
    </tr>
    <!-- Identification + biblio -->
    <tr>
      <td class="item-header">Identifications</td>
      <td class="item-content"><vl-identification-inline [element]="occurrence"></vl-identification-inline></td>
    </tr>
    <tr>
      <td class="item-header">Source biblio.</td>
      <td class="item-content">{{ occurrence.vlBiblioSource }}</td>
    </tr>

    <!-- ImportLocation -->
    <tr>
      <td class="item-header">Précision de la localisation</td>
      <td class="item-content">{{ occurrence.locationAccuracy || '?' }}</td>
    </tr>
    <tr>
      <td class="item-header">Pays</td>
      <td class="item-content">{{ occurrence.country || '?' }}</td>
    </tr>
    <tr>
      <td class="item-header">Département</td>
      <td class="item-content">{{ occurrence.county || '?' }}</td>
    </tr>
    <tr>
      <td class="item-header">Commune</td>
      <td class="item-content">{{ occurrence.city || '?' }}</td>
    </tr>
    <tr>
      <td class="item-header">Code postal</td>
      <td class="item-content">{{ occurrence.postcode || '?' }}</td>
    </tr>
    <tr>
      <td class="item-header">Altitude</td>
      <td class="item-content">{{ occurrence.elevation ? occurrence.elevation + ' m' : '-' }}</td>
    </tr>
    <tr *ngIf="occurrence.elevation">
      <td class="item-header">Altitude estimée</td>
      <td class="item-content">{{ occurrence.isElevationEstimated ? 'oui' : 'non' }}</td>
    </tr>
    <tr>
      <td class="item-header">Nombre de taxons</td>
      <td class="item-content">{{ occurrence.childrenIds ? occurrence.childrenIds.length : 'inconnu' }}</td>
    </tr>

  </tbody>
</table>
