.occurrence-render-preview-wrapper {
  table {
    display: inline-block;
    width: 100%;
    font-size: .9em;
    tbody {
      display: inline-block;
      width: 100%;
    }
    tr {
      display: inline-block;
      width: 100%;
      td {
        padding-left: 10px;
        padding-right: 10px;
        &.layer {
          min-width: 40px;
          max-width: 40px;
        }
        &.repo {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          min-width: 60px;
          max-width: 60px;
        }
        &.label {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }
        &.value {

        }
      }
    }
  }
}
