#ws-phyto-container {

  .header, .fullwidth-block, .footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .header {
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url('../../../assets/wsPhyto/img/phytosocio.png');
    background-size: cover;
    color: white;

    h1 {
      font-size: 3em;
      margin-bottom: 0px;
    }
    h2 {
      font-size: 1.5em;
      text-align: center;
    }
  }

  .content {
    margin-top: 40px;
    .left-content {
      .functionality {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        margin-bottom: 15px;
        .icon {
          min-width: 100px;
          margin-right: 10px;
          color: lightgrey;
          display: flex;
          align-items: center;
          justify-content: center;
          mat-icon {
            margin-bottom: 12px;
          }
        }
        .img {
          min-width: 100px;
          margin-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          img { width: 35px; }
        }
        .text {
          p {
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .right-content {
      .tutos {
        display: flex;
        flex-direction: revert;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2em;
      }
    }
  }
}
