<div class="table-view-container" #TableViewContainer>
  <mat-progress-bar *ngIf="isLoading" class="progress-bar-top" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="isLoading" class="loading-shade"></div>

  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="_tables">

      <ng-container matColumnDef="custom_col_selectable" sticky>
        <th mat-header-cell *matHeaderCellDef style="width: 50px;"><mat-checkbox (change)="tablesAllSelectedChange($event)"></mat-checkbox></th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox
            [(ngModel)]="element.selected"
            [(indeterminate)]="element.isCurrentTable"
            [(disabled)]="element.isCurrentTable"
            (change)="tableSelectedChange(element, $event)"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="width: 90px;"> id </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Titre </th>
        <td mat-cell class="inline-text-cell" *matCellDef="let element" title="{{element.title || '-'}}"> {{ element.title || '-' }}</td>
      </ng-container>

      <ng-container matColumnDef="custom_col_identification">
        <th mat-header-cell *matHeaderCellDef> Identification </th>
        <td mat-cell class="inline-text-cell" *matCellDef="let element" title="{{ element.tableName || '-' }}"> {{ element.tableName || '-' }} </td>
      </ng-container>

      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Date de création </th>
        <td mat-cell *matCellDef="let element">
          <span>{{ element.createdAt | momentLocalDate }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="custom_col_actions">
        <th mat-header-cell *matHeaderCellDef class="action-cell"></th>
        <td mat-cell *matCellDef="let element" class="action-cell">
          <button mat-icon-button [matMenuTriggerFor]="actionsMenu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #actionsMenu="matMenu">
            <button mat-menu-item (click)="previewTableAction(element)">Aperçu</button>
            <button mat-menu-item *ngIf="deleteOption" (click)="deleteTableAction(element)">Supprimer</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator #TablesPaginator
                   [length]="count"
                   [pageSize]="size"
                   hidePageSize="false"
                   [pageSizeOptions]="[5, 10, 20, 100, 500, 1000]"
                   (page)="_pageChange($event)"></mat-paginator>
  </div>
</div>

