$vl-primary: #0997e7;
$vl-primary-light: #3ab7f9;
$vl-primary-lighter: #0997e7;
$vl-primary-dark: #076da8;
$vl-primary-dark-text: white;
$vl-secondary: #7ecfc7;
$vl-secondary-light: #7ecfc7;
$vl-secondary-lighter: #7ecfc7;
$vl-secondary-dark: #7ecfc7;

$vl-text-grey: #777676;
$vl-table-bg-color: rgba(0, 0, 0, 0.05);

$green: #278065;
$green-bg: #2780653e;
$blue: #0569A6;
$blue-bg: #0568a637;
$orange: #FD9A28;
$orange-bg: #fd9a2830;
$red: #C61518;
$red-bg: #c615183b;

$info: $vl-primary-dark;
$success: $green;
$warning: $orange;
$error: $red;

$blue-material: #3f51b5;
$blue-material-light: scale-color($blue-material, $lightness: 50%);

$table-color: $blue;
$table-color-text: white;
$table-color-light-bg: scale-color($table-color, $lightness: 80%);
$table-color-light-bg-text: white;
$sye-color: $orange;
$sye-color-text: black;
$sye-color-light-bg: scale-color($sye-color, $lightness: 80%);
$sye-color-light-bg-text: black;
$occurrence-color: $green;
$occurrence-color-text: white;
$occurrence-color-light-bg: scale-color($occurrence-color, $lightness: 80%);
$occurrence-color-light-bg-text: white;

$table-diagnosis-background: scale-color($table-color, $lightness: 95%);
$table-diagnosis-background-text: white;

$cell-color-transparency: .1;
$cell-color-transparency-highlight: .5;
$cell-color-0: #3f51b5;
$cell-color-1: #56b949;
$cell-color-2: #ee4035;
$cell-color-3: #26A7FF;
$cell-color-4: #FF5126;
$cell-color-5: #268AFF;
$cell-color-6: #FD9A28;
$cell-color-7: #162C9a;
$cell-color-8: #FFD027;
$cell-color-9: #7828FD;
$cell-color-10: #FDF028;
$cell-color-11: #FA5C65;
$cell-color-12: #37DC94;
