@use 'colors' as *;

/*
 * Mixins
 */

// Node & table cards
$maxWidthCard: 300;
@mixin occurrence-table-card() {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 0;
  margin-top: 5px;
  margin-bottom: 15px !important;
  min-width: #{$maxWidthCard}px;
  max-width: #{$maxWidthCard}px;
  border-top-width: 2px;
  border-top-style: solid;
  .flex {
    display: flex;
    font-size: .8em;
    &.top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .level {
        display: flex;
        flex-direction: row;
        padding-left: 8px;
        padding-right: 8px;
      }
      .score {
        color: lightgrey;
      }
    }
    &.identifications {
      flex-direction: row;
      .text-identification {
        margin-top: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        font-weight: bold;
      }
    }
    &.summary {
      flex-direction: column;
      justify-content: space-around;
      margin-top: 5px;
      margin-bottom: 5px;
      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      &.row {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        .item {
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: wrap;
          .sub-item {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            max-width: #{$maxWidthCard - 10}px;
          }
        }
      }
      &.col {
        flex-direction: row;
        .item {
          flex-direction: column;
        }
      }
      mat-icon.mat-icon-inline {
        font-size: 1.2em;
      }
    }
    &.bottom {
      justify-content: space-around;
    }
  }
}

mat-icon {
  &.grey {
    color: grey;
  }
}
