::ng-deep {
  .ngx-slider {
    .ngx-slider-bar {
      height: 3px !important;
    }
    .ngx-slider-pointer {
      width: 8px !important;
      height: 17px !important;
      margin-left: 1px;
      top: auto !important; /* to remove the default positioning */
      bottom: 0 !important;
      border-top-left-radius: 0px !important;
      border-top-right-radius: 0px !important;
      border: 1px solid white !important;
    }
    .ngx-slider-pointer:after {
      display: none;
    }
    .ngx-slider-bubble {
      bottom: 14px !important;
      font-size: 12px !important;
      .ngx-slider-model-high {
        padding: 2px 16px !important;
      }
    }
    .ngx-slider-limit {
      font-weight: bold !important;
    }
    .ngx-slider-tick {
      width: 1px !important;
      height: 10px !important;
      margin-left: 4px !important;
      border-radius: 0 !important;
      top: -1px !important;
    }
  }
  .ngx-slider:not([disabled]) {
    .ngx-slider-pointer {
      background-color: #3f51b5 !important;
    }
    .ngx-slider-limit {
      color: #3f51b5 !important;
    }
    .ngx-slider-tick {
      background: #3f51b5b3 !important;
    }
    .ngx-slider-selection {
      background-color: #3f51b5 !important;
    }
  }
}
