<a href="{{ createAccountUrl }}" target="_blank">Créer un compte</a>
<!--<div class="admin-create-user-wrapper">
  <div class="form-wrapper">
    <vl-create-user-form
      [redirectAfterAccountCreated]="false"
      [resetFormAfterAccountCreated]="true"></vl-create-user-form>
  </div>
</div>-->
