@use '@angular/material' as mat;
@use './app/_styles/colors.scss' as *;
@use 'vl-theme.scss' as *;
@import 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/_tables';
@import "leaflet/dist/leaflet.css";
@import "leaflet-draw/dist/leaflet.draw.css";
@import 'handsontable/dist/handsontable.full.css';
@include mat.all-component-themes($vl-theme);

html {
  font-size: 0.8em;
}
body {
  margin: 0;
  font-family: Muli, sans-serif;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: normal;

  *:focus {
    border: none;
    outline: none;
  }
}

// Button spinner
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.handsontable {
  .htDimmed {
    color: inherit;
  }
  td.group.title {
    font-weight: bold;
    background-image: url('./assets/img/table/pen-edit-extra-min.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-color: $vl-table-bg-color;
  }
  td.group.name {
    padding-left: 10px;
    &.aggregate {
      /*&::before {
        content: '[+] '
      }*/
    }
  }
  td.coef {
    text-align: center;
  }
  td.highlight {
    // font-weight: bold;
  }
  td {
    div.cell-name-layer {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      .name {
        padding-left: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &.aggregated {
          padding-left: 16px;
        }
      }
      .cell-infos {
        .aggregate {
          padding-right: 8px;
          color: #848484;
        }
        .layer {
          padding-right: 8px;
          color: #848484;
        }
      }

    }
  }
  td.synthetic {
    text-align: center;
    background-color: $vl-table-bg-color;
    /*&:not(.syntheticSye) {
      background-color: rgba(0, 0, 0, 0.1);
    }*/

    // &.sye-0 {background-color: rgba($cell-color-0, $cell-color-transparency); }
    // &.sye-1 {background-color: rgba($cell-color-1, $cell-color-transparency); }
    // &.sye-2 {background-color: rgba($cell-color-2, $cell-color-transparency); }
    // &.sye-3 {background-color: rgba($cell-color-3, $cell-color-transparency); }
    // &.sye-4 {background-color: rgba($cell-color-4, $cell-color-transparency); }

  }

  td.titleRowValue {
    text-align: center;
    background-color: $vl-table-bg-color;

    // &.sye-0 {background-color: $vl-table-bg-color; }
    // &.sye-1 {background-color: $vl-table-bg-color; }
    // &.sye-2 {background-color: $vl-table-bg-color; }
    // &.sye-3 {background-color: $vl-table-bg-color; }
    // &.sye-4 {background-color: $vl-table-bg-color; }

  }

  // td.sye-0 { color: $cell-color-0; }
  // td.sye-1 { color: $cell-color-1; }
  // td.sye-2 { color: $cell-color-2; }
  // td.sye-3 { color: $cell-color-3; }
  // td.sye-4 { color: $cell-color-4; }

  // th.sye-0 { background-color: rgba($cell-color-0, $cell-color-transparency);
  //   &.ht__highlight { background-color: rgba($cell-color-0, $cell-color-transparency-highlight);} }
  // th.sye-1 { background-color: rgba($cell-color-1, $cell-color-transparency);
  //   &.ht__highlight { background-color: rgba($cell-color-1, $cell-color-transparency-highlight);} }
  // th.sye-2 { background-color: rgba($cell-color-2, $cell-color-transparency);
  //   &.ht__highlight { background-color: rgba($cell-color-2, $cell-color-transparency-highlight);} }
  // th.sye-3 { background-color: rgba($cell-color-3, $cell-color-transparency);
  //   &.ht__highlight { background-color: rgba($cell-color-3, $cell-color-transparency-highlight);} }
  // th.sye-4 { background-color: rgba($cell-color-4, $cell-color-transparency);
  //   &.ht__highlight { background-color: rgba($cell-color-4, $cell-color-transparency-highlight);} }
}

// Material overwrite
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
.mat-tab-label {
  min-width: 100px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.mat-mdc-chip {
  .chip-text-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.container-vl {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2em;
}

#toast-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50px;
  right: 10px;
  z-index: 200;
}

// Table & occurrence id badges
@mixin id-badge {
  padding: 0.5em;
  border-radius: 3px;
  margin-right: 1em;
  font-weight: bold;
}

.table-id-badge {
  @include id-badge;
  background-color: $table-color;
  color: $table-color-text;
}

.occurrence-id-badge {
  @include id-badge;
  background-color: $occurrence-color;
  color: $occurrence-color-text;
}
