@use '@angular/material' as mat;
@use './app/_styles/colors.scss' as *;
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

@include mat.core();

// Create a palette : https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors

$md-vl-primary: (
    50 : #e1f3fc,
    100 : #b5e0f8,
    200 : #84cbf3,
    300 : #53b6ee,
    400 : #2ea7eb,
    500 : $vl-primary,
    600 : #088fe4,
    700 : #0684e0,
    800 : #057add,
    900 : #0269d7,
    A100 : #feffff,
    A200 : #cbe1ff,
    A400 : #98c4ff,
    A700 : #7fb5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-vl-accent: (
    50 : #e1edf5,
    100 : #b5d3e5,
    200 : #83b6d4,
    300 : #5199c2,
    400 : #2c83b5,
    500 : $vl-primary-dark,
    600 : #0665a0,
    700 : #055a97,
    800 : #04508d,
    900 : #023e7d,
    A100 : #aaceff,
    A200 : #77b0ff,
    A400 : #4492ff,
    A700 : #2a83ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$md-vl-warning: (
    50 : #fef8e1,
    100 : #fceeb4,
    200 : #fae383,
    300 : #f8d851,
    400 : #f7cf2b,
    500 : #f5c706,
    600 : #f4c105,
    700 : #f2ba04,
    800 : #f0b303,
    900 : #eea602,
    A100 : #ffffff,
    A200 : #fff5e1,
    A400 : #ffe3ae,
    A700 : #ffdb95,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$vl-theme-primary: mat.define-palette($md-vl-primary);
$vl-theme-accent: mat.define-palette($md-vl-accent);
$vl-theme-warn: mat.define-palette($md-vl-warning);

// Doc: https://material.angular.io/guide/typography
// Font family defined in styles.scss file for non angular material components
$vl-default-level: mat.define-typography-level(
  $font-family: Muli,
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);

$vl-custom-typography-config: mat.define-typography-config(
  $headline-1: $vl-default-level,
  $headline-2: $vl-default-level,
  $headline-3: $vl-default-level,
  $headline-4: $vl-default-level,
  $headline-5: $vl-default-level,
  $headline-6: $vl-default-level,
  $subtitle-1: $vl-default-level,
  $subtitle-2: $vl-default-level,
  $body-1: $vl-default-level,
  $body-2: $vl-default-level,
  $caption: $vl-default-level,
  $button: $vl-default-level,
);


$vl-theme: mat.define-light-theme((
  color: (
    primary: $vl-theme-primary,
    accent: $vl-theme-accent,
    warn: $vl-theme-warn,
  ),
  typography: $vl-custom-typography-config,
  density:0,
));


