@use '../../_styles/colors.scss' as *;

.vl-r-clustering-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  .header {
    padding: 15px;
    background-color: #EEEEEE;
    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
  .content {
    flex: 1 1 auto;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .img-wrapper {
      height: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    .no-content {
      color: $vl-text-grey;
      font-weight: bold;
      font-size: 1.2em;
      padding: 20px;
      text-align: center;
      .min { font-size: 0.8em; }
    }
  }
  .footer {
    padding: 15px;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    .form {
      display: flex;
      flex-direction: row;
      align-items: center;
      .dissimilarity-method-form-field {
        max-width: 150px;
      }
      .hcut-form-field {
        max-width: 250px;
      }
      button {
        margin-left: 5px;
      }
    }
    .actions {

    }
  }
}
