<div class="vl-r-clustering-wrapper">
  <div class="header">
    <div class="title">Cluster</div>
  </div>
  <div class="content">
    <div class="img-wrapper" *ngIf="rResponse && !isLoadingData">
      <img [src]="getImagePath()" (click)="switchGraph()"/>
    </div>
    <div class="loading" *ngIf="isLoadingData">
      <mat-spinner diameter="35"></mat-spinner>
    </div>
    <div class="no-content" *ngIf="!rResponse && !isLoadingData">
      <p>Afficher et utiliser le dendrogramme</p>
      <p class="min">Votre tableau doit contenir au moins 3 relevés.</p>
    </div>
  </div>
  <div class="footer">
    <div class="form">
      <mat-form-field class="dissimilarity-method-form-field">
        <mat-label>Méthode</mat-label>
        <mat-select [formControl]="dissimilarityMethodControl" (selectionChange)="selectedDissimilarityMethodChanged()">
          <mat-option *ngFor="let method of dissimilarityMethods" [value]="method">{{method}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="hcut-form-field">
        <mat-label>Niveau de coupure</mat-label>
        <input matInput type="number" step="0.05" placeholder="ex. 0.50" [formControl]="hCutFormControl" (change)="hCutInputChange()">
        <mat-error *ngIf="hCutFormControl.hasError('forbiddenValue')">
          Valuer décimale attendue (ex: 0.80)
        </mat-error>
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearHcut()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-stroked-button color="primary" (click)="refreshGraphWithHcut()" [disabled]="!rData || !rData.hcut">Valider</button>
    </div>
    <div class="actions">
      <button mat-stroked-button color="primary" (click)="applyClusters()" [disabled]="!rResponse || !rResponse.groups">{{ applyClustersButtonLabel }}</button>
    </div>
  </div>
</div>
