h1 {
  font-size: 2.5em !important;
}
.selected-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  .name { }
  .layer { }
}

.aggregate-rows-radio-groups {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
  .aggregate-row-radio-button { }
}
