<h1 mat-dialog-title xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Agréger les taxons</h1>
<mat-dialog-content class="mat-typography">
  <h3>Fonctionnement</h3>
  <p>Vous pouvez agréger plusieurs taxons (lignes) du tableau sous un même <b>taxon agrégateur</b> à partir de l'un des
  taxons sélectionnés <b>ou</b> en utilisant un autre taxon.</p>
  <p>Les cas les plus communs sont l'agrégation d'infra-taxons au rang spécifique, l'agrégation de taxons au genre ou
  l'agrégation de taxons de même rang mais renseignés dans des strates différentes.</p>
  <p>Aucune donnée n'est dégradée ou supprimée pour les taxons agrégés. Vous pouvez désagréger les taxons par la suite.</p>
  <p>Le coefficient le plus élevé est conservé pour chaque occurrence du taxon.</p>

  <h3>Taxons à agréger</h3>
  <div *ngFor="let selectedRow of data.selectedRows" class="selected-rows">
    <p class="selected-row"><span class="name">{{ selectedRow.displayName }}</span> <span class="layer">strate {{ selectedRow.layer }}</span></p>
  </div>

  <h3>Taxon agrégateur</h3>
  <!--<label id="aggregate-rows-radio-group-label">Sélectionnez le taxon agrégateur</label>-->
  <mat-accordion>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Utiliser l'un des taxons sélectionnés</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-radio-group
              aria-labelledby="aggregate-rows-radio-group-label"
              class="aggregate-rows-radio-groups"
              [(ngModel)]="data.aggregateRow">
        <mat-radio-button class="aggregate-row-radio-button" *ngFor="let selectedRow of data.selectedRows" [value]="selectedRow" (change)="radioChanged()">
          <div class="selected-row"><span class="name">{{ selectedRow.displayName }} </span> <span class="layer"> (strate {{ selectedRow.layer }})</span></div>
        </mat-radio-button>
      </mat-radio-group>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Utiliser un nouveau taxon</mat-panel-title>
      </mat-expansion-panel-header>
      <vl-taxo-search-box #tsbAggregateRows
              level="idiotaxon"
              placeholder="Taxon agrégateur"
              [autoResetWhenSelected]="false"
              [emitOccurrenceOnBlur]="true"
              defaultRepository="taxref"
              [showRepositoryInput]="true"
              (newData)="createRowDefinitionFromSelectedOccurrence($event)">
      </vl-taxo-search-box>
      <mat-form-field class="layer">
        <mat-select #layerValue formControlName="layer" (selectionChange)="layerChange(layerValue.value)" placeholder="Strate">
          <mat-option *ngFor="let l of layerList" [value]="l.name">{{ l.name }} : {{ l.description }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancelClick()">Annuler</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="data.aggregateRow" cdkFocusInitial [disabled]="!isFormValid()">Agréger</button>
</mat-dialog-actions>
