<h2>Importer un tableau</h2>
<div id="vl-import-table-container">
  <mat-stepper #stepper (selectionChange)="stepSelectionChange($event)"
                                   labelPosition="bottom"
                                   [class.full-width]="contentFullWidth"> <!-- -55 px : height of .action-table-finish div -->

    <!-- Override step icons -->
    <ng-template matStepperIcon="edit">
      <mat-icon>edit</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
      <mat-icon>done</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="active">
      <mat-icon>home</mat-icon>
    </ng-template>

    <!-- Custom icon with a context variable. -->
    <ng-template matStepperIcon="number" let-index="index">
      {{index + 1}}
    </ng-template>

    <!-- ************** -->
    <!-- 0. Upload file -->
    <!-- ************** -->
    <div class="step-container">
      <mat-step>
        <ng-template matStepLabel>{{ STEPS.file.label }}</ng-template>
        <div class="import-steps">
          <div class="step-ahead"></div>

          <div class="step-content">
            <vl-dropfile-box
              label="Ajouter un fichier à importer"
              labelHelp="Fichier CSV uniquement, 5 Mo maximum"
              maxFileSize=5000
              [allowedFileTypes]="allowedFileTypes"
              (acceptedFiles)="uploadedFiles($event)"
              (rejectedFiles)="rejectedFiles($event)"
              (deletedFiles)="deletedFiles($event)">
            </vl-dropfile-box>

            <div *ngIf="(importFileStatus | async) === 'pending'" class="import-table-notice">
              <p>Vous allez importer un tableau. Ce processus est rigoureux.</p>
              <p>
                Le tableau que vous fournissez doit suivre le modèle indiqué :
                <button mat-button>Télécharger le modèle</button>
              </p>
              <p>
                Une fois le tableau chargé, passez en revue chacune des 7 étapes afin de contrôler les données.
                À chaque étape, vous pouvez corriger certaines données <span class="color-tb-orange-light">non valides</span>.</p>
              <p>Dans la plupart des cas, vous pourrez finaliser l'import même si toutes les données ne sont pas conformes (elles ne seront alors pas importées)</p>
            </div>
          </div>

          <div class="step-status">
            <div class="step-status">
              <!-- Status-->
              <div class="status-box" [ngClass]="(importFileStatus | async)">
                <div class="tick">
                  <mat-icon *ngIf="(importFileStatus | async) === 'error'">priority_high</mat-icon>
                  <mat-icon *ngIf="(importFileStatus | async) === 'aborted'">priority_high</mat-icon>
                  <mat-icon *ngIf="(importFileStatus | async) === 'complete'">done</mat-icon>
                  <mat-icon *ngIf="(importFileStatus | async) === 'pending'">more_horiz</mat-icon>
                </div>
                <div class=content>
                  <div class="title">Importation du fichier</div>
                  <div class="sub-title" *ngFor="let message of (importFileMessages | async)">{{ message }}</div>
                </div>
                <div class="actions">
                  <!--<button mat-flat-button color="primary" matStepperNext>Continuer</button>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-step>
    </div>


    <!-- ************** -->
    <!-- 1. Names check -->
    <!-- ************** -->
    <mat-step>
      <ng-template matStepLabel>{{ STEPS.names.label }}</ng-template>
      <div class="import-steps">
        <div class="step-ahead">
          <div class="inline-form">
            <button mat-button (click)="setTaxonomicList()" [disabled]="(importFileStatus | async) !== 'complete' || (stepNames | async)?.started">Lancer la vérification des noms</button>
          </div>
        </div>

        <div class="step-content">
          <div style="width: 0; height: 0; overflow: hidden;"><input #hiddenInput></div>
          <div *ngIf="isLoadingTaxonomicList">Vérification des noms...</div>
          <div *ngIf="!isLoadingTaxonomicList && taxonomicList.length > 0">

            <table mat-table
                   *ngIf="taxonomicList.length > 0"
                   [dataSource]="taxonomicList"
                   multiTemplateDataRows
                   class="taxonomic-table">
              <ng-container matColumnDef="customColumn1">
                <th mat-header-cell *matHeaderCellDef style="width: 50px;"> Statut </th>
                <td mat-cell *matCellDef="let element">
                  <div class="status">
                    <mat-icon *ngIf="element.rim && element.rim.repository !== 'otherunknown'"
                              class="status-icon valid"
                              [ngbPopover]="popNameValidationContentValid" [popoverTitle]="popNameValidationTitleValid" container="body" triggers="mouseenter:mouseleave">check</mat-icon>
                    <mat-icon *ngIf="!element.rim || element.rim && element.rim.repository === 'otherunknown'"
                              class="status-icon warning"
                              [ngbPopover]="popNameValidationContentWarning" [popoverTitle]="popNameValidationTitleWarning" container="body" triggers="mouseenter:mouseleave">priority_high</mat-icon>
                  </div>
                  <!-- popover editing releves templates -->
                  <ng-template #popNameValidationTitleValid>Taxon</ng-template>
                  <ng-template #popNameValidationContentValid>Le taxon a pu être identifié dans le référentiel "{{ element.rim.repository }}"</ng-template>
                  <ng-template #popNameValidationTitleWarning>Taxon</ng-template>
                  <ng-template #popNameValidationContentWarning>Le taxon n'a pas pu être identifié dans un référentiel</ng-template>
                </td>
              </ng-container>

              <ng-container matColumnDef="repository">
                <th mat-header-cell *matHeaderCellDef style="min-width: 100px;"> Référentiel </th>
                <td mat-cell *matCellDef="let element">{{ element.rim.repository }}</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef style="width: 100%;"> Nom </th>
                <td mat-cell *matCellDef="let element" class="name-value" title="{{ getTaxoName(element) }}">
                  {{ getTaxoName(element) }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedTaxonomicColumns"></tr>
              <tr mat-row *matRowDef="let element; columns: displayedTaxonomicColumns;"></tr>
            </table>

            <!-- Uncomment to use tsb-search-box item (editable taxa)
            <div class="tsb-search-box">
              <vl-taxo-search-box
                [defaultRepository]="taxo.identification.repository"
                [startWithValue]="taxo.rim"
                [autoResetWhenSelected]="false"
                (newData)="updateTaxon(taxo, $event)">
              </vl-taxo-search-box>
            </div>
            -->
            <!-- popover editing releves templates -->
            <!--<ng-template #popNameValidationTitleValid>Taxon</ng-template>
            <ng-template #popNameValidationContentValid>Le taxon a pu être identifié dans le référentiel "{{ taxo.rim.repository }}"</ng-template>
            <ng-template #popNameValidationTitleWarning>Taxon</ng-template>
            <ng-template #popNameValidationContentWarning>Le taxon n'a pas pu être identifié dans un référentiel</ng-template>
            -->

          </div>
        </div>

        <div class="step-status">
          <div class="status-box" [ngClass]="(stepNames | async)?.currentStatus">
            <div class="tick">
              <mat-icon *ngIf="(stepNames | async)?.currentStatus === 'complete'">done</mat-icon>
              <mat-icon *ngIf="(stepNames | async)?.currentStatus === 'warning'">priority_high</mat-icon>
              <mat-icon *ngIf="(stepNames | async)?.currentStatus === 'error'">close</mat-icon>
              <mat-icon *ngIf="(stepNames | async)?.currentStatus === 'pending'">more_horiz</mat-icon>
            </div>
            <div class=content>
              <div class="title">{{ (stepNames | async)?.message }}</div>
              <div class="sub-title">{{ (stepNames | async)?.tip }}</div>
            </div>
            <div class="actions">
              <!--<button mat-flat-button color="primary" matStepperNext>Continuer</button>-->
            </div>
          </div>
        </div>
      </div>

    </mat-step>

    <!-- ************************ -->
    <!-- 2. Author and date check -->
    <!-- ************************ -->
    <mat-step>
      <ng-template matStepLabel>{{ STEPS.authorsDates.label }}</ng-template>

      <div class="import-steps">
        <div class="step-ahead">
          <div class="inline-form">
            <button mat-button (click)="setAuthorDateList()" [disabled]="(importFileStatus | async) !== 'complete' || (stepAuthorsDates | async)?.started">Lancer la vérification des auteurs et des dates</button>
          </div>
        </div>

        <div class="step-content">
          <div>
            <!-- table -->
            <div style="width: 100%;">
              <!-- Author table -->
              <table mat-table
                     *ngIf="authorList.length > 0"
                     [dataSource]="authorList"
                     multiTemplateDataRows
                     class="author-table">
                <ng-container matColumnDef="customColumn1">
                  <th mat-header-cell *matHeaderCellDef style="width: 50px;"> Statut </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="status">
                      <mat-icon *ngIf="isAuthorComplete(element)"
                                class="status-icon valid"
                                [ngbPopover]="popAuthorValidationContentValid" [popoverTitle]="popAuthorValidationTitleValid" container="body" triggers="mouseenter:mouseleave">check</mat-icon>
                      <mat-icon *ngIf="!isAuthorComplete(element)"
                                class="status-icon error"
                                [ngbPopover]="popAuthorValidationContentError" [popoverTitle]="popAuthorValidationTitleWarning" container="body" triggers="mouseenter:mouseleave">priority_high</mat-icon>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="authorUserInput">
                  <th mat-header-cell *matHeaderCellDef style="width: 250px;"> Auteur cité </th>
                  <td mat-cell *matCellDef="let element">{{ element.authorUserInput }}</td>
                </ng-container>

                <ng-container matColumnDef="customColumn2">
                  <th mat-header-cell *matHeaderCellDef> Valeur consolidée </th>
                  <td mat-cell *matCellDef="let element" style="display: flex; flex-direction: row; align-items: center;">
                    <vl-observer-search
                      placeholder="auteur"
                      [fuzzySearch]="observerFuzzySearch"
                      [observerStr]="element.authorUserInput"
                      [autoselectIfOneResult]="true"
                      (inputChange)="authorInputChange(element)"
                      (selectedObserver)="setSelectedAuthor(element, $event)"
                      (noResultForStr)="noResultForAuthorStr(element, $event)"></vl-observer-search>
                    <button mat-button *ngIf="element.noResult && !element.isAddingObserver" (click)="expandedElement = expandedElement === element ? null : element">Ajouter cet auteur</button>
                    <mat-spinner *ngIf="element.isAddingObserver" diameter="16"></mat-spinner>
                  </td>
                </ng-container>

                <ng-container matColumnDef="expandedDetailAuthor">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="displayedAuthorColumns.length" class="author-table-expandable-row">
                    <div class="element-detail"
                         [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                      <div *ngIf="element === expandedElement">
                        <div *ngIf="!element.isAddingObserver">
                          <p>L'observateur "{{ element.noResultFor }}" n'est pas référencé. Vous pouvez l'ajouter à la liste des observateurs (auteurs) pour qu'il soit pris en compte. Vérifiez la bonne ortographe du nom et veuillez respecter le format suivant : "P. Nom" (ex. "H. Passarge" / "J. Braun-Blanquet").</p>
                          <button mat-button (click)="createAndLinkObserver(element, element.noResultFor)">Ajouter {{ element.noResultFor }} à la liste des observateurs</button>
                        </div>
                        <div *ngIf="element.isAddingObserver">
                          <p style="display: flex; flex-direction: row; align-items: center; justify-content: center;">Enregistrement en cours, merci de patienter. <mat-spinner diameter="16"></mat-spinner></p>
                        </div>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedAuthorColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedAuthorColumns;"
                    [class.expanded-row]="expandedElement === element"
                ></tr> <!-- (click)="expandedElement = expandedElement === element ? null : element" -->
                <tr mat-row *matRowDef="let row; columns: ['expandedDetailAuthor']" class="detail-row" [class.expanded-row]="expandedElement === row"></tr>
              </table>

              <!-- Date table -->
              <table mat-table
                     *ngIf="dateList.length > 0"
                     [dataSource]="dateList"
                     class="date-table">
                <ng-container matColumnDef="customColumn1">
                  <th mat-header-cell *matHeaderCellDef style="width: 50px;"> Statut </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="status">
                      <mat-icon *ngIf="isDateComplete(element)"
                                class="status-icon valid"
                                [ngbPopover]="popDateValidationContentValid" [popoverTitle]="popDateValidationTitleValid" container="body" triggers="mouseenter:mouseleave">check</mat-icon>
                      <mat-icon *ngIf="!isDateComplete(element)"
                                class="status-icon error"
                                [ngbPopover]="popDateValidationContentError" [popoverTitle]="popDateValidationTitleWarning" container="body" triggers="mouseenter:mouseleave">priority_high</mat-icon>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="dateUserInput">
                  <th mat-header-cell *matHeaderCellDef style="width: 250px;"> Date </th>
                  <td mat-cell *matCellDef="let element">{{ element.dateUserInput }}</td>
                </ng-container>

                <ng-container matColumnDef="customColumn2">
                  <th mat-header-cell *matHeaderCellDef> Valeur consolidée </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.precision">{{ element.dateConsolided | momentLocalDate:element.precision }}</span>
                    <span *ngIf="!element.precision">{{ element.dateConsolided }}</span>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedDateColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedDateColumns;"></tr>
              </table>
            </div>
          </div>
        </div>

        <!-- popover authors templates -->
        <ng-template #popAuthorValidationTitleValid>Auteur</ng-template>
        <ng-template #popAuthorValidationContentValid>L'auteur a été identifié</ng-template>
        <ng-template #popAuthorValidationTitleWarning>Auteur</ng-template>
        <ng-template #popAuthorValidationContentError>L'auteur' n'a pas pu être identifié. Veuillez le sélectionner manuellement à l'aide du champ de recherche.</ng-template>

        <!-- popover dates templates -->
        <ng-template #popDateValidationTitleValid>Date</ng-template>
        <ng-template #popDateValidationContentValid>La date est valide</ng-template>
        <ng-template #popDateValidationTitleWarning>Date</ng-template>
        <ng-template #popDateValidationContentError>La date n'est pas valide</ng-template>

        <div class="step-status">
          <div class="status-box" [ngClass]="(stepAuthorsDates | async)?.currentStatus">
            <div class="tick">
              <mat-icon *ngIf="(stepAuthorsDates | async)?.currentStatus === 'complete'">done</mat-icon>
              <mat-icon *ngIf="(stepAuthorsDates | async)?.currentStatus === 'warning'">priority_high</mat-icon>
              <mat-icon *ngIf="(stepAuthorsDates | async)?.currentStatus === 'error'">close</mat-icon>
              <mat-icon *ngIf="(stepAuthorsDates | async)?.currentStatus === 'pending'">more_horiz</mat-icon>
            </div>
            <div class=content>
              <div class="title">{{ (stepAuthorsDates | async)?.message }}</div>
              <div class="sub-title">{{ (stepAuthorsDates | async)?.tip }}</div>
            </div>
            <div class="actions">
              <!--<button mat-flat-button color="primary" matStepperNext>Continuer</button>-->
            </div>
          </div>
        </div>
      </div>



    </mat-step>

    <!-- *********** -->
    <!-- 3. ImportLocation -->
    <!-- *********** -->
    <mat-step>
      <ng-template matStepLabel>{{ STEPS.places.label }}</ng-template>

      <div class="import-steps">
        <div class="step-ahead">
          <div class="inline-form">
            <button mat-button (click)="setLocationList()" [disabled]="(importFileStatus | async) !== 'complete' || (stepPlaces | async)?.started">Lancer la vérification des localisations</button>
          </div>
        </div>

        <div class="step-content">
          <div *ngIf="locationList.length > 0">
            <div class="step-localization-wrapper">
              <!-- table -->
              <div>
                <table mat-table
                       [dataSource]="locationList"
                       class="location-table">
                  <!-- custom column 2 -->
                  <ng-container matColumnDef="customColumn2">
                    <th mat-header-cell *matHeaderCellDef> Statut </th>
                    <td mat-cell *matCellDef="let element">
                      <div class="status">
                        <mat-icon *ngIf="isLocationComplete(element)"
                                  class="status-icon valid"
                                  [ngbPopover]="popNameValidationContentValid" [popoverTitle]="popNameValidationTitleValid" container="body" triggers="mouseenter:mouseleave">check</mat-icon>
                        <mat-icon *ngIf="!isLocationComplete(element)"
                                  class="status-icon warning"
                                  [ngbPopover]="popNameValidationContentWarning" [popoverTitle]="popNameValidationTitleWarning" container="body" triggers="mouseenter:mouseleave">priority_high</mat-icon>
                      </div>
                    </td>
                  </ng-container>

                  <!-- id -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Rel. </th>
                    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                  </ng-container>

                  <!-- Source and consolidated localization -->
                  <ng-container matColumnDef="source-consolidated">
                    <th mat-header-cell *matHeaderCellDef> Valeurs citées / consolidées </th>
                    <td class="location-source-consolidated" mat-cell *matCellDef="let element">
                      <div class="cell">
                        <div class="cell-header">Valeur citée :&nbsp;</div>
                        <div class="cell-value">
                          {{ hasNoLocationProvided(element) ? '&#8709;' : '[' + getLocationSource(element) + ']' }}&nbsp;
                          {{ getLocationSourceReadableAddress(element) }}
                        </div>
                      </div>
                      <hr>
                      <div class="cell">
                        <div class="cell-header">Valeur consolidée :&nbsp;</div>
                        <div class="cell-value">
                          {{ element.selectedLocation ? '[' + element.vlAccuracy + ']' || '?' : '-' }}&nbsp;
                          {{ element.selectedLocation && element.selectedLocation.readableAddress ? element.selectedLocation.readableAddress : '' }}
                        </div>
                      </div>
                    </td>
                  </ng-container>

                  <!-- elevation -->
                  <ng-container matColumnDef="elevation">
                    <th mat-header-cell *matHeaderCellDef> Altitude </th>
                    <td mat-cell *matCellDef="let element">
                      <div *ngIf="element.elevation !== null">{{ element.elevation }}<sup *ngIf="element.isElevationEstimated" matTooltip="Valeur estimée">*</sup></div>
                      <div *ngIf="element.elevation == null">
                        -
                        <!--<button mat-icon-button (click)="renewElevation(element)">
                          <mat-icon>autorenew</mat-icon>
                        </button>-->
                      </div>

                    </td>
                  </ng-container>

                  <!-- custom column -->
                  <ng-container matColumnDef="customColumn">
                    <th mat-header-cell *matHeaderCellDef class="action-buttons">  </th>
                    <td mat-cell *matCellDef="let element">
                      <div *ngIf="element.isLoading">
                        <mat-spinner diameter="16"></mat-spinner>
                      </div>
                      <div *ngIf="!element.isLoading">
                        <!-- no location-->
                        <div *ngIf="element.suggestedLocations.length === 0 && !element.selectedLocation">
                          <div class="localization-box-selector">
                            <span class="gray">Aucune valeur citée</span>
                            <button mat-icon-button matTooltip="Localisation à partir de la carte" (click)="localizeFromMap(element)"><mat-icon>map</mat-icon></button>
                          </div>
                        </div>
                        <!-- 1 location -->
                        <div *ngIf="element.selectedLocation">
                          <div class="localization-box-selector">
                            <button *ngIf="element.selectedLocation" mat-button (click)="showLocationOnMap(element)">Visualiser sur la carte</button>
                            <button mat-icon-button matTooltip="Localisation à partir de la carte" disabled><mat-icon>map</mat-icon></button>
                          </div>
                        </div>
                      </div>
                      <!-- several location -->
                      <div *ngIf="element.suggestedLocations.length > 1">
                        <div class="localization-box-selector">
                          <mat-select (selectionChange)="localitySelectionChange(element, $event)" placeholder="Choisissez une localité">
                            <mat-option *ngFor="let suggestedLocation of element.suggestedLocations" [value]="suggestedLocation" (mouseenter)="previewLocationOnMap(suggestedLocation.location)">
                              <span *ngIf="suggestedLocation.location.geometry.type === 'Point'"><mat-icon inline="true">place</mat-icon></span>
                              <span *ngIf="suggestedLocation.location.geometry.type === 'MultiPoint'"><mat-icon inline="true">place</mat-icon></span>
                              <span *ngIf="suggestedLocation.location.geometry.type === 'LineString'"><mat-icon inline="true">maximize</mat-icon></span>
                              <span *ngIf="suggestedLocation.location.geometry.type === 'MultiLineString'"><mat-icon inline="true">timeline</mat-icon></span>
                              <span *ngIf="suggestedLocation.location.geometry.type === 'Polygon'"><mat-icon inline="true">crop_din</mat-icon></span>
                              <span *ngIf="suggestedLocation.location.geometry.type === 'MultiPolygon'"><mat-icon inline="true">crop_din</mat-icon></span>
                              <span>{{ suggestedLocation.readableAddress }}</span>
                            </mat-option>
                          </mat-select>
                          <button mat-icon-button matTooltip="Localisation à partir de la carte" (click)="localizeFromMap(element)"><mat-icon>map</mat-icon></button>
                        </div>
                      </div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedLocationColumns"></tr>
                  <tr mat-row *matRowDef="let element; columns: displayedLocationColumns;"></tr>
                </table>
              </div>
              <!-- map -->
              <div class="locationMap">
                <vl-geoloc-map
                  height="400px"
                  elevationProvider="mapQuest"
                  [showLatLngElevationInputs]="false"
                  [marker]="allowDrawMap"
                  [polyline]="allowDrawMap"
                  [polygon]="allowDrawMap"
                  [patchAddress]="patchMapAddress"
                  [patchLngLatDec]="patchMapLngLatDec"
                  [patchGeometry]="patchMapGeometry"
                  [setAddress]="setMapAddress"
                  [inputFocus]="setMapInputFocus"
                  [placeMarkerWhenReverseGeocoding]="false"
                  (location)="setCurrentLocation($event)">
                </vl-geoloc-map>
              </div>
            </div>

          </div>
        </div>

        <div class="step-status">
          <div class="status-box" [ngClass]="(stepPlaces | async)?.currentStatus">
            <div class="tick">
              <mat-icon *ngIf="(stepPlaces | async)?.currentStatus === 'complete'">done</mat-icon>
              <mat-icon *ngIf="(stepPlaces | async)?.currentStatus === 'warning'">priority_high</mat-icon>
              <mat-icon *ngIf="(stepPlaces | async)?.currentStatus === 'error'">close</mat-icon>
              <mat-icon *ngIf="(stepPlaces | async)?.currentStatus === 'pending'">more_horiz</mat-icon>
            </div>
            <div class=content>
              <div class="title">{{ (stepPlaces | async)?.message }}</div>
              <div class="sub-title">{{ (stepPlaces | async)?.tip }}</div>
            </div>
            <div class="actions">
              <!--<button mat-flat-button color="primary" matStepperNext>Continuer</button>-->
            </div>
          </div>
        </div>
      </div>


    </mat-step>

    <!-- *********** -->
    <!-- 4. Metadata -->
    <!-- *********** -->
    <mat-step>
      <ng-template matStepLabel>{{ STEPS.metadata.label }}</ng-template>

      <div class="import-steps">
        <div class="step-ahead">
          <div class="inline-form">
            <button mat-button (click)="setMetadataList()" [disabled]="(importFileStatus | async) !== 'complete' || (stepMetadata | async)?.started">Lancer la vérification des métadonnées</button>
          </div>
        </div>

        <div class="step-content">
          <!-- metadata list -->
          <table mat-table
                 *ngIf="flatMetadataList.length > 0"
                 [dataSource]="flatMetadataList" multiTemplateDataRows
                 class="metadata-table">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Rel. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="metadataName">
              <th mat-header-cell *matHeaderCellDef> Nom cité </th>
              <td mat-cell *matCellDef="let element"><span *ngIf="element.restrictedToLayer">[{{ element.restrictedToLayer }}] </span> {{element.metadataName}} </td>
            </ng-container>

            <ng-container matColumnDef="metadataValue">
              <th mat-header-cell *matHeaderCellDef> Valeur citée </th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="!element.isEditing">{{element.metadataValue}}</div>
                <div *ngIf="element.isEditing" class="metadata-edit-form">
                  <mat-form-field class="input">
                    <input matInput #metadataItemEditValue value="{{element.metadataValue}}">
                  </mat-form-field>
                  <button mat-button (click)="newMetadataValue(element, metadataItemEditValue.value)"><mat-icon>check</mat-icon></button>
                  <button mat-button (click)="stopEditingMetadata(element)"><mat-icon>clear</mat-icon></button>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="metadataModel">
              <th mat-header-cell *matHeaderCellDef> Métadonnée consolidée</th>
              <td mat-cell *matCellDef="let element">
                <!-- popover template -->
                <ng-template #popMetaTitle>[{{ element.metadataModel.fieldId }}] <b>{{ element.metadataModel.extendedFieldTranslations[0]?.label || '?' }}</b></ng-template>
                <ng-template #popMetaContent>
                  <div class="metadata-model-popover-content">
                    <div class="description">
                      <b>Description : </b>{{element.metadataModel.extendedFieldTranslations[0]?.description}}
                    </div>
                    <br />
                    <div *ngIf="!element.checkedValue.isValid" class="data-type-value-error">
                      <b>Erreur : </b>{{ element.checkedValue.errorMessage || '?'}}
                    </div>
                    <div class="data-type-value">
                      <b>Type : </b>{{element.metadataModel.dataType}}
                    </div>
                    <div class="min-max-value">
                      <b>Val. min/max : </b>{{element.metadataModel.minValue || element.metadataModel.minValue === 0 ? '0' : '-'}} / {{element.metadataModel.maxValue || '-'}}
                    </div>
                    <div class="default-value">
                      <b>Val. par défaut : </b>{{element.metadataModel.defaultValue || '-'}}
                    </div>
                    <div class="unit-value">
                      <b>Unité : </b>{{element.metadataModel.unit || '-'}}
                    </div>
                  </div>
                </ng-template>

                <!-- popover error template -->
                <ng-template #popMetaTitleError><b><i>"{{ element.metadataName }}"</i></b></ng-template>
                <ng-template #popMetaContentError>
                  <div class="metadata-model-popover-content">
                    <div class="data-type-value-error">
                      <b>Erreur : </b>Cette métadonnée est inconnue
                    </div>
                    <div class="description">
                      Nous ne parvenons pas à trouver de métadonnée valide pour "{{ element.metadataName }}"
                    </div>
                  </div>
                </ng-template>

                <span *ngIf="element.metadataModel" class="metadata-valid" [ngbPopover]="popMetaContent" [popoverTitle]="popMetaTitle" container="body" triggers="mouseenter:mouseleave">{{ element.metadataModel.fieldId }}</span>
                <span *ngIf="!element.metadataModel" class="metadata-error" [ngbPopover]="popMetaContentError" [popoverTitle]="popMetaTitleError" container="body" triggers="mouseenter:mouseleave">---</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="consolidedValue">
              <th mat-header-cell *matHeaderCellDef> Valeur consolidée </th>
              <td mat-cell *matCellDef="let element">
                <div class="flex-between">
                  <div *ngIf="element.metadataModel">
                    <div *ngIf="element.checkedValue.isValid">
                      <span *ngIf="element.metadataModel.dataType !== 'Date'" [ngClass]="{'metadata-valid': element.checkedValue.isValid, 'metadata-error': !element.checkedValue.isValid}">{{element.checkedValue.consolidedValue || '?'}}</span>
                      <span *ngIf="element.metadataModel.dataType === 'Date'" [ngClass]="{'metadata-valid': element.checkedValue.isValid, 'metadata-error': !element.checkedValue.isValid}">{{element.checkedValue.consolidedValue | momentLocalDate}}</span>
                    </div>
                    <div *ngIf="!element.checkedValue.isValid">
                      <span *ngIf="element.metadataModel.dataType !== 'Date'" class="metadata-error">---</span>
                      <span *ngIf="element.metadataModel.dataType === 'Date'" class="metadata-error">---</span>
                    </div>
                  </div>
                  <div *ngIf="!element.metadataModel">
                    <span class="metadata-error">---</span>
                  </div>
                  <button mat-icon-button
                          [disabled]="!element.metadataModel || (element.metadataModel && element.checkedValue.isValid)"
                          (click)="startEditingMetadata(element)">
                    <mat-icon matTooltip="{{!element.metadataModel || (element.metadataModel && element.checkedValue.isValid) ? 'Vous ne pouvez pas éditer cette métadonnée' : 'Éditer cette métadonnée' }}">edit</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedMetadataColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedMetadataColumns;"></tr>
          </table>
        </div>

        <div class="step-status">
          <div class="status-box" [ngClass]="(stepMetadata | async)?.currentStatus">
            <div class="tick">
              <mat-icon *ngIf="(stepMetadata | async)?.currentStatus === 'complete'">done</mat-icon>
              <mat-icon *ngIf="(stepMetadata | async)?.currentStatus === 'warning'">priority_high</mat-icon>
              <mat-icon *ngIf="(stepMetadata | async)?.currentStatus === 'error'">close</mat-icon>
              <mat-icon *ngIf="(stepMetadata | async)?.currentStatus === 'pending'">more_horiz</mat-icon>
            </div>
            <div class=content>
              <div class="title">{{ (stepMetadata | async)?.message }}</div>
              <div class="sub-title">{{ (stepMetadata | async)?.tip }}</div>
            </div>
            <div class="actions">
              <!--<button mat-flat-button color="primary" matStepperNext>Continuer</button>-->
            </div>
          </div>
        </div>
      </div>


    </mat-step>

    <!-- ********* -->
    <!-- 5. Biblio -->
    <!-- ********* -->
    <mat-step>
      <ng-template matStepLabel>{{ STEPS.biblio.label }}</ng-template>

      <div class="import-steps">
        <div class="step-ahead">
          <div class="inline-form">
            <button mat-button (click)="setBiblioList()" [disabled]="(importFileStatus | async) !== 'complete' || (stepBiblio | async)?.started">Lancer la vérification des références bibliographiques</button>
          </div>
        </div>

        <div class="step-content">
          <div>
            <!-- table -->
            <div style="width: 100%;">
              <!-- Biblio table -->
              <table mat-table
                     *ngIf="biblioList.length > 0"
                     [dataSource]="biblioList"
                     multiTemplateDataRows
                     class="biblio-table">
                <ng-container matColumnDef="customColumn1">
                  <th mat-header-cell *matHeaderCellDef style="width: 50px;"> Statut </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="status">
                      <mat-icon *ngIf="isBiblioComplete(element)"
                                class="status-icon valid"
                                [ngbPopover]="popBiblioValidationContentValid" [popoverTitle]="popBiblioValidationTitleValid" container="body" triggers="mouseenter:mouseleave">check</mat-icon>
                      <mat-icon *ngIf="!isBiblioComplete(element)"
                                class="status-icon warning"
                                [ngbPopover]="popBiblioValidationContentError" [popoverTitle]="popBiblioValidationTitleWarning" container="body" triggers="mouseenter:mouseleave">priority_high</mat-icon>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="biblioUserInput">
                  <th mat-header-cell *matHeaderCellDef style="width: 250px;"> Ref. biblio. citée</th>
                  <td mat-cell *matCellDef="let element">{{ element.biblioUserInput }}</td>
                </ng-container>



                <ng-container matColumnDef="customColumn2">
                  <th mat-header-cell *matHeaderCellDef> Valeur consolidée </th>
                  <td mat-cell *matCellDef="let element" style="display: flex; flex-direction: column; align-items: center;">
                    <vl-biblio-search
                      style="width: 100%"
                      placeholder="Ref. biblio."
                      [biblioStr]="element.biblioUserInput"
                      [autoselectIfOneResult]="autoSelectIfOneResultBiblio"
                      [fuzzySearch]="biblioFuzzySearch"
                      (inputChange)="biblioInputChange(element)"
                      (selectedBiblio)="setSelectedBiblio(element, $event)"
                      (noResultForStr)="noResultForBiblioStr(element, $event)"></vl-biblio-search>
                    <button mat-button *ngIf="element.noResult && !element.isAddingBiblio" (click)="expandedBiblioElement = expandedBiblioElement === element ? null : element">Ajouter cette référence biblio.</button>
                    <mat-spinner *ngIf="element.isAddingBiblio" diameter="16"></mat-spinner>
                  </td>
                </ng-container>

                <ng-container matColumnDef="expandedDetailBiblio">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="displayedBiblioColumns.length" class="biblio-table-expandable-row">
                    <div class="element-detail"
                         [@detailExpand]="element == expandedBiblioElement ? 'expanded' : 'collapsed'">
                      <div *ngIf="element === expandedBiblioElement">
                        <div *ngIf="!element.isAddingBiblio">
                          <p>La référence <br /><b>"{{ element.noResultFor }}"</b> <br />n'est pas référencée. Vous pouvez l'ajouter à la liste des références bibliographiques pour qu'elle soit prise en compte.
                            Vérifiez la bonne syntaxe de cete référence. Exemple :<br /><b>"Oberdorfer, E., 1957. Süddeutsche Pflanzengesellschaften. Pflanzensoziologie, 10, 567 p. Gustav Fischer. Jena."</b></p>
                          <button mat-button (click)="createAndLinkBiblio(element, element.noResultFor)">Ajouter cette donnée à la liste des références bibliographiques</button>
                        </div>
                        <div *ngIf="element.isAddingBiblio">
                          <p style="display: flex; flex-direction: row; align-items: center; justify-content: center;">Enregistrement en cours, merci de patienter. <mat-spinner diameter="16"></mat-spinner></p>
                        </div>
                      </div>
                    </div>
                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedBiblioColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedBiblioColumns;"
                    [class.expanded-row]="expandedBiblioElement === element"
                ></tr> <!-- (click)="expandedBiblioElement = expandedBiblioElement === element ? null : element" -->
                <tr mat-row *matRowDef="let row; columns: ['expandedDetailBiblio']" class="detail-row" [class.expanded-row]="expandedBiblioElement === row"></tr>
              </table>
            </div>
          </div>
        </div>

        <!-- popover biblio templates -->
        <ng-template #popBiblioValidationTitleValid>Ref. biblio.</ng-template>
        <ng-template #popBiblioValidationContentValid>La référence bibliographique a été identifiée</ng-template>
        <ng-template #popBiblioValidationTitleWarning>Ref. biblio.</ng-template>
        <ng-template #popBiblioValidationContentError>La référence bibliographique n'a pas pu être identifiée. Veuillez la selectionner manuellement à l'aide du champ de recherche.</ng-template>

        <div class="step-status">
          <div class="status-box" [ngClass]="(stepBiblio | async)?.currentStatus">
            <div class="tick">
              <mat-icon *ngIf="(stepBiblio | async)?.currentStatus === 'complete'">done</mat-icon>
              <mat-icon *ngIf="(stepBiblio | async)?.currentStatus === 'warning'">priority_high</mat-icon>
              <mat-icon *ngIf="(stepBiblio | async)?.currentStatus === 'error'">close</mat-icon>
              <mat-icon *ngIf="(stepBiblio | async)?.currentStatus === 'pending'">more_horiz</mat-icon>
            </div>
            <div class=content>
              <div class="title">{{ (stepBiblio | async)?.message }}</div>
              <div class="sub-title">{{ (stepBiblio | async)?.tip }}</div>
            </div>
            <div class="actions">
              <!--<button mat-flat-button color="primary" matStepperNext>Continuer</button>-->
            </div>
          </div>
        </div>
      </div>

    </mat-step>

    <!-- ***************** -->
    <!-- 6. Identification -->
    <!-- ***************** -->
    <mat-step >
      <ng-template matStepLabel>{{ STEPS.identifications.label }}</ng-template>

      <div class="import-steps">
        <div class="step-ahead">
          <div class="inline-form">
            <button mat-button (click)="setIdentificationList()" [disabled]="(importFileStatus | async) !== 'complete' || (stepIdentification | async)?.started">Lancer la vérification des identifications</button>
          </div>
        </div>

        <div class="step-content">
          <!-- grid -->
          <mat-grid-list *ngIf="identificationList && identificationList.table && identificationList.table.sye.length > 0" [cols]="identificationList.table.sye.length" rowHeight="50px">
            <!-- Table tile -->
            <mat-grid-tile
              [colspan]="identificationList.table.sye.length"
              rowspan="1"
              [style.background]="identificationList.table && identificationList.table.identification && identificationList.table.identification.repositoryIsAvailable ? '#c3d45d' : '#e6885b'">
              <div class="grid-tile _table">
                <div class="infos"></div>
                <div class="content">
                  <b>Tableau : </b>
                  <span *ngIf="identificationList.table.identification && identificationList.table.identification.consolidedIdentification"
                        title="{{ identificationList.table.identification.consolidedIdentification.name }} {{ identificationList.table.identification.consolidedIdentification.author ? identificationList.table.identification.consolidedIdentification.author : '' }}">
                      {{ identificationList.table.identification.consolidedIdentification.name }} {{ identificationList.table.identification.consolidedIdentification.author ? identificationList.table.identification.consolidedIdentification.author : '' }}
                    </span>
                  <span *ngIf="!identificationList.table.identification || !identificationList.table.identification.consolidedIdentification">non identifié</span>
                </div>
                <div class="actions">
                  <button mat-icon-button (click)="startEditingTableIdentification()"><mat-icon>edit</mat-icon></button>
                </div>
              </div>
            </mat-grid-tile>

            <!-- Sye tiles -->
            <mat-grid-tile
              *ngFor="let sye of identificationList.table.sye"
              colspan="1"
              rowspan="1"
              [style.background]="sye.identification && sye.identification.repositoryIsAvailable ? '#c9d693' : '#f0b797'">
              <div class="grid-tile sye">
                <div class="infos"></div>
                <div class="content">
                  <b>Groupe {{sye.id}} : </b>
                  <span *ngIf="sye.identification && sye.identification.consolidedIdentification"
                        title="{{ sye.identification.consolidedIdentification.name }} {{ sye.identification.consolidedIdentification.author ? sye.identification.consolidedIdentification.author : '' }}">
                    {{ sye.identification.consolidedIdentification.name }} {{ sye.identification.consolidedIdentification.author ? sye.identification.consolidedIdentification.author : '' }}
                  </span>
                  <span *ngIf="!sye.identification || !sye.identification.consolidedIdentification">non identifié</span>
                </div>
                <div class="actions">
                  <button mat-icon-button (click)="startEditingSyeIdentification(sye)"><mat-icon>edit</mat-icon></button>
                </div>
              </div>
            </mat-grid-tile>

            <!-- Releve tiles -->
            <mat-grid-tile
              *ngFor="let sye of identificationList.table.sye"
              colspan="1"
              rowspan="5"
              [style.background]="checkRelevesHaveConsolidedIdentification(sye.releves) ? '#f2f5e5a9' : '#fbeee6'">
              <div class="grid-tile releve">
                <div class="infos"></div>
                <div class="content">
                  <span><b>{{ sye.releves?.length }} relevé<span *ngIf="sye.releves?.length > 1">s</span></b></span>
                  <ul class="releves-names">
                    <li *ngFor="let cVal of getUniqConsolidedIdentification(sye.releves)" title="{{ cVal.name }} {{ cVal.author ? cVal.author : '' }}">
                      {{ cVal.name }}
                    </li>
                    <li *ngIf="countUnconsolidedIdentifications(sye.releves) > 0">{{ countUnconsolidedIdentifications(sye.releves) }} non identifié(s)</li>
                  </ul>
                </div>
                <div class="actions releve">
                  <button mat-icon-button (click)="startEditingRelevesIdentification(sye.releves)"><mat-icon>edit</mat-icon></button>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>

          <!-- identification inputs -->
          <!-- table -->
          <div *ngIf="isEditingTableIdentification" class="edition-identification">
            <div class="edition-identification-title"><span></span><span>Identification du tableau</span><button mat-icon-button (click)="stopEditingTableIdentification()"><mat-icon>close</mat-icon></button></div>
            <div class="edition-identification-box table">
              <div class="referenceId"><b>tab.</b></div>
              <div class="status">
                <mat-icon *ngIf="doesTableHasConsolidedIdentification()"
                          class="status-icon valid"
                          [ngbPopover]="popTableValidationContentValid" [popoverTitle]="popTableValidationTitleValid" container="body" triggers="mouseenter:mouseleave">check</mat-icon>
                <mat-icon *ngIf="!doesTableHasConsolidedIdentification()"
                          class="status-icon warning"
                          [ngbPopover]="popTableValidationContentWarning" [popoverTitle]="popTableValidationTitleWarning" container="body" triggers="mouseenter:mouseleave">priority_high</mat-icon>
              </div>
              <div class="content">
                <vl-taxo-search-box
                  level="synusy"
                  [defaultRepository]="identificationList.table.identification && identificationList.table.identification.repositoryIsAvailable ? identificationList.table.identification.repository : 'otherunknown'"
                  [startWithValue]="identificationList.table.identification && identificationList.table.identification.consolidedIdentification ? identificationList.table.identification.consolidedIdentification : fakeConsolidation(identificationList.table)"
                  [autoResetWhenSelected]="false"
                  (newData)="updateTableConsolidedIdentification($event)"
                ></vl-taxo-search-box>
              </div>
              <!-- popover editing releves templates -->
              <ng-template #popTableValidationTitleValid>Tableau</ng-template>
              <ng-template #popTableValidationContentValid>Le tableau a pu être identifié dans le référentiel "{{ identificationList.table.identification && identificationList.table.identification.consolidedIdentification ? identificationList.table.identification.consolidedIdentification.repository : 'Autre/inconnu' }}"</ng-template>
              <ng-template #popTableValidationTitleWarning>Tableau</ng-template>
              <ng-template #popTableValidationContentWarning>
                <span *ngIf="identificationList.table.identification && identificationList.table.identification.repository">Le tableau n'à pu être identifié dans le référentiel "{{ identificationList.table.identification.repository }}"<br /></span>
                <span *ngIf="identificationList.table.identification && identificationList.table.identification.repositoryIsAvailable">Le référentiel "{{ identificationList.table.identification.repository }}" existe mais aucune donnée portant le numéro nomenclatural "{{ identificationList.table.identification.nomen }}" n'est présente</span>
                <span *ngIf="identificationList.table.identification && !identificationList.table.identification.repositoryIsAvailable && identificationList.table.identification.repository !== ''">Le référentiel "{{ identificationList.table.identification.repository }}" n'existe pas</span>
                <span *ngIf="identificationList.table.identification && !identificationList.table.identification.repositoryIsAvailable && identificationList.table.identification.repository === ''">Aucun référentiel mentionné</span>
                <span *ngIf="!identificationList.table.identification">Aucun référentiel mentionné</span>
              </ng-template>
            </div>
          </div>

          <!-- sye -->
          <div *ngIf="isEditingSyeIdentification && editingSye !== null" class="edition-identification">
            <div class="edition-identification-title"><span></span><span>Identification du groupe "{{ editingSye.id }}"</span><button mat-icon-button (click)="stopEditingSyeIdentification()"><mat-icon>close</mat-icon></button></div>
            <div class="edition-identification-box sye">
              <div class="referenceId"><b>{{ editingSye.id }}</b></div>
              <div class="status">
                <mat-icon *ngIf="doesSyeHasConsolidedIdentification(editingSye)"
                          class="status-icon valid"
                          [ngbPopover]="popSyeValidationContentValid" [popoverTitle]="popSyeValidationTitleValid" container="body" triggers="mouseenter:mouseleave">check</mat-icon>
                <mat-icon *ngIf="!doesSyeHasConsolidedIdentification(editingSye)"
                          class="status-icon warning"
                          [ngbPopover]="popSyeValidationContentWarning" [popoverTitle]="popSyeValidationTitleWarning" container="body" triggers="mouseenter:mouseleave">priority_high</mat-icon>
              </div>
              <div class="content">
                <vl-taxo-search-box
                  level="synusy"
                  [defaultRepository]="editingSye.identification && editingSye.identification.repositoryIsAvailable ? editingSye.identification.repository : 'otherunknown'"
                  [startWithValue]="editingSye.identification && editingSye.identification.consolidedIdentification ? editingSye.identification.consolidedIdentification : fakeConsolidation(editingSye)"
                  [autoResetWhenSelected]="false"
                  (newData)="updateSyeConsolidedIdentification(editingSye, $event)"
                ></vl-taxo-search-box>
              </div>
              <!-- popover editing releves templates -->
              <ng-template #popSyeValidationTitleValid>Groupe n°. {{ editingSye.id }}</ng-template>
              <ng-template #popSyeValidationContentValid>Ce groupe a pu être identifié dans le référentiel "{{ editingSye.identification && editingSye.identification.consolidedIdentification ? editingSye.identification.consolidedIdentification.repository : 'Autre/inconnu' }}"</ng-template>
              <ng-template #popSyeValidationTitleWarning>Groupe n°. {{ editingSye.id }}</ng-template>
              <ng-template #popSyeValidationContentWarning>
                <span *ngIf="editingSye.identification && editingSye.identification.repository">Ce groupe n'à pu être identifié dans le référentiel "{{ editingSye.identification.repository }}"<br /></span>
                <span *ngIf="editingSye.identification && editingSye.identification.repositoryIsAvailable">Le référentiel "{{ editingSye.identification.repository }}" existe mais aucune donnée portant le numéro nomenclatural "{{ editingSye.identification.nomen }}" n'est présente</span>
                <span *ngIf="editingSye.identification && !editingSye.identification.repositoryIsAvailable && editingSye.identification.repository !== ''">Le référentiel "{{ editingSye.identification.repository }}" n'existe pas</span>
                <span *ngIf="editingSye.identification && !editingSye.identification.repositoryIsAvailable && editingSye.identification.repository === ''">Aucun référentiel mentionné</span>
                <span *ngIf="!editingSye.identification">Aucun référentiel mentionné</span>
              </ng-template>
            </div>
          </div>

          <!-- releves -->
          <div *ngIf="isEditingRelevesIdentification && editingReleves.length > 0" class="edition-identification">
            <div class="edition-identification-title"><span></span><span>Identification des relevés du groupe "{{ getSyeIdForReleve(editingReleves[0]) }}"</span><button mat-icon-button (click)="stopEditingRelevesIdentification()"><mat-icon>close</mat-icon></button></div>
            <div *ngFor="let releve of editingReleves" class="edition-identification-box releves">
              <div class="referenceId"><b>{{ releve.id }}</b></div>
              <div class="status">
                <mat-icon *ngIf="releve.identification?.repositoryIsAvailable && releve.identification?.consolidedIdentification"
                          class="status-icon valid"
                          [ngbPopover]="popReleveValidationContentValid" [popoverTitle]="popReleveValidationTitleValid" container="body" triggers="mouseenter:mouseleave">check</mat-icon>
                <mat-icon *ngIf="!releve.identification || !releve.identification?.consolidedIdentification"
                          class="status-icon warning"
                          [ngbPopover]="popReleveValidationContentWarning" [popoverTitle]="popReleveValidationTitleWarning" container="body" triggers="mouseenter:mouseleave">priority_high</mat-icon>
              </div>
              <div class="content">
                <vl-taxo-search-box
                  level="synusy"
                  [defaultRepository]="releve.identification.repositoryIsAvailable ? releve.identification.repository : 'otherunknown'"
                  [startWithValue]="releve.identification?.consolidedIdentification ? releve.identification?.consolidedIdentification : fakeConsolidation(releve)"
                  [autoResetWhenSelected]="false"
                  (newData)="updateReleveConsolidedIdentification(releve, $event)"
                ></vl-taxo-search-box>
              </div>
              <!-- popover editing releves templates -->
              <ng-template #popReleveValidationTitleValid>Rel n°. {{ releve.id }}</ng-template>
              <ng-template #popReleveValidationContentValid>Ce relevé a pu être identifié dans le référentiel "{{ releve.identification.consolidedIdentification.repository }}"</ng-template>
              <ng-template #popReleveValidationTitleWarning>Rel n°. {{ releve.id }}</ng-template>
              <ng-template #popReleveValidationContentWarning>
                <span *ngIf="releve.identification && releve.identification.consolidedIdentification">Ce relevé n'à pu être identifié dans le référentiel "{{ releve.identification.repository }}"<br /></span>
                <span *ngIf="releve.identification.repositoryIsAvailable">Le référentiel "{{ releve.identification ? releve.identification.repository : 'Autre/inconnu' }}" existe mais aucune donnée portant le numéro nomenclatural "{{ releve.identification.nomen }}" n'est présente</span>
                <span *ngIf="!releve.identification.repositoryIsAvailable && releve.identification && releve.identification.repository !== ''">Le référentiel "{{ releve.identification.repository }}" n'existe pas</span>
                <span *ngIf="!releve.identification.repositoryIsAvailable && releve.identification && releve.identification.repository === ''">Aucun référentiel mentionné</span>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="step-status">
          <!-- Status-->
          <div class="status-box" [ngClass]="(stepIdentification | async)?.currentStatus">
            <div class="tick">
              <mat-icon *ngIf="(stepIdentification | async)?.currentStatus === 'complete'">done</mat-icon>
              <mat-icon *ngIf="(stepIdentification | async)?.currentStatus === 'warning'">priority_high</mat-icon>
              <mat-icon *ngIf="(stepIdentification | async)?.currentStatus === 'error'">close</mat-icon>
              <mat-icon *ngIf="(stepIdentification | async)?.currentStatus === 'pending'">more_horiz</mat-icon>
            </div>
            <div class=content>
              <div class="title">{{ (stepIdentification | async)?.message }}</div>
              <div class="sub-title">{{ (stepIdentification | async)?.tip }}</div>
            </div>
            <div class="actions">
              <!--<button mat-flat-button color="primary" matStepperNext>Continuer</button>-->
            </div>
          </div>
        </div>
      </div>
    </mat-step>

    <!-- ******* -->
    <!-- 7. SAVE -->
    <!-- ******* -->
    <mat-step>
      <ng-template matStepLabel>Enregistrer</ng-template>

      <div class="step-content save">
        <h3>Prévisualiser le tableau</h3>
        <div class="preview-table">
          <button mat-button color="primary" (click)="setTable()" [disabled]="!allStepsCompleted()">Afficher le tableau</button>
        </div>
        <div *ngIf="tablePreviewIsSet">
          <h3>Enregistrer le tableau</h3>
          <vl-table-form [title]="null" [options]="{ setOwnerOccurrencesAsIRIs: false }"></vl-table-form>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
