@use '@angular/material' as mat;
@use '../../_styles/colors.scss' as *;

h2 {
  width: 100%;
  text-align: center;
  font-size: 20px;
}
#action_panel {
  height: 100%;
}
#vl-import-table-container {
  height: calc(100% - 30px);
  .mat-stepper-horizontal {
    height: 100%;
    .mat-horizontal-stepper-wrapper {
      height: 100%;
      .mat-horizontal-stepper-header-container { }
      .mat-horizontal-content-container {
        height: 100%;
        .mat-horizontal-stepper-content {
          .import-steps {
            height: 100%;
            display: flex;
            flex-direction: column;
            .step-ahead {

            }
            .step-content {
              flex: 1;
              overflow-y: scroll;

              .step-localization-wrapper {
                display: flex;
                flex-direction: row;
              }
            }
            .step-status {

            }
          }

        }
      }
      .step-status {
        margin-top: 15px;
      }
      &.full-width {
        .step-status {
          display: flex;
          flex-direction: row;
          justify-content: center;
          .status-box {
            max-width: 900px;
            width: 900px;
          }
        }
        .mat-horizontal-content-container {
          min-width: 95%;
        }
      }
    }
  }




  .import-table-notice {
    margin-top: 20px;
    font-size: 1.1em;
    color: #444444;
    text-align: center;
    span.color-tb-orange-light {
      background-color: $orange-bg;
    }
  }

  .inline-form {
    text-align: center;
  }

  .taxonomic-table {
    td.name-value {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .author-table {
    width: 100%;
    tr {
      th {
        padding-left: 5px;
        padding-right: 5px;
      }
      td {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    tr.detail-row:not(.expanded-row) {
      display: none;
      td.author-table-expandable-row {
        overflow: hidden;
        display: flex;
        border: none;
      }
    }
    tr.detail-row {
      td.author-table-expandable-row {
        text-align: center;
        padding: 20px;
      }
    }
  }

  .date-table {
    width: 100%;
    margin-top: 30px;
    tr {
      th {
        padding-left: 5px;
        padding-right: 5px;
      }
      td {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  .biblio-table {
    width: 100%;
    tr {
      th {
        padding-left: 5px;
        padding-right: 5px;
      }
      td {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    tr.detail-row:not(.expanded-row) {
      display: none;
      td.biblio-table-expandable-row {
        overflow: hidden;
        display: flex;
        border: none;
      }
    }
    tr.detail-row {
      td.biblio-table-expandable-row {
        text-align: center;
        padding: 20px;
      }
    }
  }

  .locationMap {
    min-width: 300px;
    width: 300px;
    max-width: auto;
    position: sticky;
    top: 0;
    &.hidden {
      min-width: 0;
      max-width: 0;
      width: 0;
    }
  }
  .location-table {
    width: 100%;
    tr {
      th {
        padding-left: 5px;
        padding-right: 5px;
        &.action-buttons { min-width: 300px; }
      }
      td {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        &.location-source-consolidated {
          .cell {
            display: flex;
            flex-direction: row;
            .cell-header {
              width: 130px;
              min-width: 130px;
              font-style: italic;
            }
            .cell-value { }
          }
          hr {
            border-top: dotted 1px;
            margin-top: 3px;
            margin-bottom: 3px;
          }
        }
      }
    }
    .localization-box-selector {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      .gray {
        color: gray;
      }
      button {

      }
    }
  }

  .metadata-table {
    width: 100%;

    .metadata-valid {
      cursor: default;
      padding: 5px;
      border-radius: 3px;
      background-color: $green-bg;
      &:hover {
        background-color: $green-bg;
      }
    }

    .metadata-error {
      cursor: default;
      padding: 5px;
      border-radius: 3px;
      background-color: $red-bg;
      &:hover {
        background-color: $red-bg;
      }
    }

    tr.metadata-detail-row {
      height: 0;
    }

    tr.metadata-element-row:not(.metadata-expanded-row):hover {
      background: #777;
    }

    tr.metadata-element-row:not(.metadata-expanded-row):active {
      background: #efefef;
    }

    .metadata-element-row td {
      // border-bottom-width: 0;
    }

    .metadata-element-detail {
      overflow: hidden;
      display: flex;
    }

    td {
      .flex-between {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // border-bottom: none;
      }
    }
  }

  .status-box {
    // position: absolute;
    // bottom: 0;
    // width: 90%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    .tick {
      width: 70px;
      height: 70px;
      margin-right: 0;
      padding: 8px;
      border-radius: 100px;
      box-shadow: 0 0 0 14pt white;
      z-index: 1;
      mat-icon {
        font-size: 54px;
        height: 60px;
        width: 60px;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: center;
      width: 100%;
      min-height: 75px;
      padding-left: 30px;
      border-radius: 0 0 0 15px;
      .title {
        font-weight: bold;
        font-variant: small-caps;
        font-size: 1.3em;
      }
      .sub-title {
        //
      }
    }
    .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 75px;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 0 15px 15px 0;
    }

    &.complete {
      .tick {
        border: 1px solid $green;
        mat-icon {
          color: $green;
        }
      }
      .content {
        background-color: $green-bg;
        .title {
          color: $green;
        }
        .sub-title {
          color: $green;
        }
      }
      .actions {
        background-color: $green-bg;
      }
    }
    &.warning {
      .tick {
        border: 1px solid $orange;
        mat-icon {
          color: $orange;
        }
      }
      .content {
        background-color: $orange-bg;
        .title {
          color: $orange;
        }
        .sub-title {
          color: $orange;
        }
      }
      .actions {
        background-color: $orange-bg;
      }
    }
    &.error {
      .tick {
        border: 1px solid $red;
        mat-icon {
          color: $red;
        }
      }
      .content {
        background-color: $red-bg;
        .title {
          color: $red;
        }
        .sub-title {
          color: $red;
        }
      }
      .actions {
        background-color: red-bg;
      }
    }
    &.pending {
      .tick {
        border: 1px solid grey;
        mat-icon {
          color: grey;
        }
      }
      .content {
        background-color: lightgrey;
        .title {
          color: black;
        }
        .sub-title {
          color: black;
        }
      }
      .actions {
        background-color: lightgrey;
      }
    }
  }

}

.metadata-model-popover-content {
  .data-type-value {
    font-size: .8em;
  }
  .data-type-value-error {
    font-size: .8em;
    color: $red;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $red-bg;
    margin-bottom: 10px;
  }
  .min-max-value {
    font-size: .8em;
  }
  .default-value {
    font-size: .8em;
  }
  .unit-value {
    font-size: .8em;
  }
}

.metadata-edit-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .input {
    max-width: 100px;
  }
  button {
    max-width: 30px;
  }
}

.grid-tile {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  max-width: 100%;
  padding: 10px;
  &.releve {
    display: block;
    height: 100%;
    overflow-y: scroll;
  }
  .infos {
    //
  }
  .content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    ul {
      padding: 0;
      li {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        list-style-position: inside;
        // list-style-type: none;
      }
    }
  }
  .actions {
    background-color: rgba(0,0,0,.05);
    border-radius: 20px;
    &.releve {
      position: absolute;
      top: 4px;
      right: 10px;
      display: block;
      width: 40px;
    }
  }
}

.edition-identification {
  @include mat.elevation(1);
  margin-top: 20px;
  padding: 15px;
  .edition-identification-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .edition-identification-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .referenceId {
      flex: 0;
      padding-left: 10px;
      padding-right: 10px;
    }
    .status {
      flex: 0;
      padding-left: 10px;
      padding-right: 10px;
    }
    .content {
      flex: 2;
    }
  }
}

mat-icon {
  &.status-icon {
    cursor: default;
    font-size: 1.8em;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    &.valid {
      color: $green;
      background-color: $green-bg;
    }
    &.warning {
      color: $orange;
      background-color: $orange-bg;
    }
    &.error {
      color: $red;
      background-color: $red-bg;
    }
  }
}

.step-content {
  overflow: overlay;
  &.save {
    h3 {
      text-align: center;
      font-size: 1.5em;
    }
    .preview-table {
      margin-bottom: 50px;
    }
  }
}

.mat-horizontal-content-container{
  height: 100%;
}
.mat-horizontal-stepper-content{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.name-identification-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  .status {
    flex: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  .tsb-search-box {
    flex: 1;
  }
}

.mat-horizontal-content-container {

  .mat-horizontal-stepper-content {
    display: flex;
    flex-direction: column;
  }
}

