<div class="container identification-wrapper empty-table" *ngIf="currentTableIsEmpty">
  <h1>Identifications</h1>
  <p class="no-table">Il n'y a aucun tableau de travail en cours.</p>
</div>

<div class="container identification-wrapper" *ngIf="!currentTableIsEmpty">
  <!-- --------------- -->
  <!-- IDENTIFICATIONS -->
  <!-- --------------- -->
  <h1>Identifications</h1>
  <div class="top-content">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Options </mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="6" rowHeight="30px">
          <mat-grid-tile colspan="2" rowspan="1">
            <mat-slide-toggle [(ngModel)]="showOccurrences">Afficher les occurrences</mat-slide-toggle>
          </mat-grid-tile>
          <mat-grid-tile colspan="4" rowspan="1">
            <span class="text-muted">Afficher les occurrences (relevés) </span>
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1">
            <mat-slide-toggle [(ngModel)]="showSynusies" [disabled]="!showOccurrences">Afficher toutes les strates</mat-slide-toggle>
          </mat-grid-tile>
          <mat-grid-tile colspan="4" rowspan="1">
            <span class="text-muted">Afficher les occurrences de rang inférieur à la microcénose</span>
          </mat-grid-tile>
        </mat-grid-list>


      </mat-expansion-panel>
    </mat-accordion>

    <div *ngIf="currentTable && currentTable.sye && currentTable.sye.length > 0">
      <div class="elements">

        <div class="element _table">
          <div class="title"><span>Tab. </span><span class="id">n° {{ currentTable.id }}</span></div>
          <div class="separator"></div>
          <div class="identification-cpt"><vl-identification-inline [element]="currentTable"></vl-identification-inline></div>
          <button mat-icon-button (click)="editTableIdentifications()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>

        <div *ngFor="let sye of currentTable.sye">
          <div class="element sye" [class.selected]="isSelectedSye(sye)">
            <div class="title"><span>SyE </span><span class="id">n° {{ sye.id }}</span></div>
            <div class="separator"></div>
            <div class="identification-cpt"><vl-identification-inline [element]="sye"></vl-identification-inline></div>
            <button mat-icon-button (click)="editSyeIdentifications(sye)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>

          <div *ngIf="showOccurrences">
            <div *ngFor="let occ of sye.occurrences">
              <div class="element occurrence" [class.selected]="isSelectedReleve(occ)">
                <div class="title"><span>Occ. </span><span class="id">n° {{ occ.id }}</span></div>
                <div class="separator"></div>
                <div class="identification-cpt"><vl-identification-inline [element]="occ"></vl-identification-inline></div>
                <button mat-icon-button (click)="editReleveIdentifications(occ)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>

              <!-- Are nested occurrences for a microcenosis ? -->
              <div *ngIf="showSynusies && occ.level === 'microcenosis' && occ.children && occ.children.length > 0">
                <div *ngFor="let child of occ.children">
                  <div class="element child-occurrence" [class.selected]="isSelectedReleve(child)">
                    <div class="title"><span>Occ. </span><span class="id">n° {{ child.id }}</span></div>
                    <div class="separator"></div>
                    <div class="identification-cpt"><vl-identification-inline [element]="child"></vl-identification-inline></div>
                    <button mat-icon-button (click)="editReleveIdentifications(child)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>

  <div class="spacer"></div>

  <!-- --------------- -->
  <!-- EDITING ELEMENTS-->
  <!-- --------------- -->
  <div class="bottom-content" *ngIf="isEditingElement">
    <div class="content-wrapper">
      <!-- ----------------- -->
      <!-- table ident. edit -->
      <!-- ----------------- -->
      <div class="content-edit" *ngIf="isEditingElement && editingTable !== null">
        <div class="title">Identifier le tableau n°{{ editingTable.id }}</div>
        <div class="identification-cpt">
          <span class="current-identifications mb-2">Ce tableau est actuellement identifié avec les valeurs suivantes :</span>
          <vl-identification-inline
            [element]="currentTable"
            allowDelete="true"
            (elementToDelete)="removeIdentification($event)"></vl-identification-inline>
        </div>
        <div class="input-cpt">
          <!--<span class="title mb-2">Vous allez lui ajouter l'identification suivante, en tant que "{{ selectedEditAs.label }}" :</span>-->
          <span class="title mb-2">Vous allez lui ajouter l'identification suivante :</span>
          <vl-taxo-search-box
            level="microcenosis"
            placeholder="Rechercher un nom de végétation"
            [defaultRepository]="defaultSyntaxonRepository"
            [attachRawData]=true
            (newData)="newIdentifcationData($event)"></vl-taxo-search-box>
        </div>
        <div class="pending-identifications">
          <mat-chip-listbox class="identification-chips">
            <mat-chip-option
              color="primary"
              highlighted
              selectable="false"
              *ngFor="let pendingId of pendingIdentifications"
              removable="true"
              (removed)="removePendingIdentification(pendingId)">
              [{{ pendingId.repository }}] {{ pendingId.citationName }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div class="pending-identifications-to-remove" *ngIf="pendingIdentificationsToRemove.length > 0">
          <span class="title" *ngIf="pendingIdentificationsToRemove.length === 1">Vous allez supprimer l'identification suivante :</span>
          <span class="title" *ngIf="pendingIdentificationsToRemove.length > 1">Vous allez supprimer les identifications suivantes :</span>
          <mat-chip-listbox class="identification-chips">
            <mat-chip-option
              color="warn"
              highlighted
              selectable="false"
              *ngFor="let elementToRemove of pendingIdentificationsToRemove"
              removable="true"
              (removed)="removePendingIdentificationToRemove(elementToRemove)">
              [{{ elementToRemove.repository }}] {{ elementToRemove.taxonomicalName }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div class="options">
          <mat-checkbox class="apply-change-opt" (click)="changesShouldBeAppliedToAllSye($event)" [(ngModel)]="applyChangesToAllSye">Appliquer à tous les groupes de colonnes (SyE)</mat-checkbox>
          <mat-checkbox class="apply-change-opt" (click)="changesShouldBeAppliedToEntireTable($event)" [(ngModel)]="applyChangesToEntireTable">Appliquer à tous les éléments du tableau</mat-checkbox>
        </div>
        <div class="actions">
          <button mat-stroked-button (click)="stopEditing()" [disabled]="isApplyingChanges" [class.spinner]="isApplyingChanges">Annuler</button>
          <button mat-flat-button color="primary" (click)="applyChanges()" [disabled]="isApplyingChanges || (pendingIdentifications.length === 0 && pendingIdentificationsToRemove.length === 0)" [class.spinner]="isApplyingChanges">Appliquer</button>
        </div>
      </div>

      <!-- --------------- -->
      <!-- sye ident. edit -->
      <!-- --------------- -->
      <div class="content-edit" *ngIf="isEditingElement && editingSye !== null">
        <div class="title">Identifier le SyE n°{{ editingSye.id }}</div>
        <div class="identification-cpt">
          <span class="current-identifications mb-2">Ce SyE est actuellement identifié avec les valeurs suivantes :</span>
          <vl-identification-inline
            [element]="editingSye"
            allowDelete="true"
            (elementToDelete)="removeIdentification($event)"></vl-identification-inline>
        </div>
        <div class="input-cpt">
          <span class="title mb-2">Vous allez lui ajouter l'identification suivante :</span>
          <vl-taxo-search-box
            level="microcenosis"
            placeholder="Rechercher un nom de végétation"
            [defaultRepository]="defaultSyntaxonRepository"
            [attachRawData]=true
            (newData)="newIdentifcationData($event)"></vl-taxo-search-box>
        </div>
        <div class="pending-identifications">
          <mat-chip-listbox class="identification-chips">
            <mat-chip-option
              color="primary"
              highlighted
              selectable="false"
              *ngFor="let pendingId of pendingIdentifications"
              removable="true"
              (removed)="removePendingIdentification(pendingId)">
              [{{ pendingId.repository }}] {{ pendingId.citationName }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div class="pending-identifications-to-remove" *ngIf="pendingIdentificationsToRemove.length > 0">
          <span class="title" *ngIf="pendingIdentificationsToRemove.length === 1">Vous allez supprimer l'identification suivante :</span>
          <span class="title" *ngIf="pendingIdentificationsToRemove.length > 1">Vous allez supprimer les identifications suivantes :</span>
          <mat-chip-listbox class="identification-chips">
            <mat-chip-option
              color="warn"
              highlighted
              selectable="false"
              *ngFor="let elementToRemove of pendingIdentificationsToRemove"
              removable="true"
              (removed)="removePendingIdentificationToRemove(elementToRemove)">
              [{{ elementToRemove.repository }}] {{ elementToRemove.taxonomicalName }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div class="options">
          <mat-checkbox class="apply-change-opt" [(ngModel)]="applyChangesToAllRelevesOfEditedSye">Appliquer à tous les relevés de ce groupe de colonnes (SyE)</mat-checkbox>
        </div>
        <div class="actions">

          <button mat-stroked-button (click)="stopEditing()" [disabled]="isApplyingChanges" [class.spinner]="isApplyingChanges">Annuler</button>
          <button mat-flat-button color="primary" (click)="applyChanges()" [disabled]="isApplyingChanges || (pendingIdentifications.length === 0 && pendingIdentificationsToRemove.length === 0)" [class.spinner]="isApplyingChanges">Appliquer</button>
        </div>
      </div>

      <!-- ------------------ -->
      <!-- releve ident. edit -->
      <!-- ------------------ -->
      <div class="content-edit" *ngIf="isEditingElement && editingReleve !== null">
        <div class="title">Identifier le relevé n°{{ editingReleve.id }}</div>
        <div class="identification-cpt">
          <span class="current-identifications mb-2">Ce relevé est actuellement identifié avec les valeurs suivantes :</span>
          <vl-identification-inline
            [element]="editingReleve"
            allowDelete="true"
            (elementToDelete)="removeIdentification($event)"></vl-identification-inline>
        </div>
        <div class="input-cpt">
          <span class="title mb-2">Vous allez lui ajouter l'identification suivante :</span>
          <vl-taxo-search-box
            level="microcenosis"
            placeholder="Rechercher un nom de végétation"
            [defaultRepository]="defaultSyntaxonRepository"
            [attachRawData]=true
            (newData)="newIdentifcationData($event)"></vl-taxo-search-box>
        </div>
        <div class="pending-identifications">
          <mat-chip-listbox class="identification-chips">
            <mat-chip-option
              color="primary"
              highlighted
              selectable="false"
              *ngFor="let pendingId of pendingIdentifications"
              removable="true"
              (removed)="removePendingIdentification(pendingId)">
              [{{ pendingId.repository }}] {{ pendingId.citationName }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div class="pending-identifications-to-remove" *ngIf="pendingIdentificationsToRemove.length > 0">
          <span class="title mb-2" *ngIf="pendingIdentificationsToRemove.length === 1">Vous allez supprimer l'identification suivante :</span>
          <span class="title mb-2" *ngIf="pendingIdentificationsToRemove.length > 1">Vous allez supprimer les identifications suivantes :</span>
          <mat-chip-listbox class="identification-chips">
            <mat-chip-option
              color="warn"
              highlighted
              selectable="false"
              *ngFor="let elementToRemove of pendingIdentificationsToRemove"
              removable="true"
              (removed)="removePendingIdentificationToRemove(elementToRemove)">
              [{{ elementToRemove.repository }}] {{ elementToRemove.taxonomicalName }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div class="actions">
          <button mat-stroked-button (click)="stopEditing()" [disabled]="isApplyingChanges" [class.spinner]="isApplyingChanges">Fermer</button>
          <button mat-flat-button color="primary" (click)="applyChanges()" [disabled]="isApplyingChanges || (pendingIdentifications.length === 0 && pendingIdentificationsToRemove.length === 0)" [class.spinner]="isApplyingChanges">Appliquer</button>
        </div>
      </div>

      <!-- edit as... -->
      <!-- @Todo : edit as user / organization / group / ... -->
      <!--
      <div class="edit-as">
        <mat-form-field>
          <mat-label>Éditer en tant que</mat-label>
          <mat-select [(value)]="selectedEditAs">
            <mat-option *ngFor="let item of editAs" [value]="item" [disabled]="item.disabled">
              {{ item.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      -->
    </div>

  </div>

</div>
