<div class="admin-container">
  <mat-toolbar class="sidenav-menu">
    <mat-toolbar-row>

      <button mat-button>
        <mat-icon class="example-icon" aria-hidden="false">dashboard</mat-icon>
        <span>Accueil</span>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <button mat-button (click)="router.navigate(['/admin/data-sources'])">
        <mat-icon class="example-icon" aria-hidden="false">storage</mat-icon>
        <span>Sources de données</span>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <button mat-button [matMenuTriggerFor]="menuUser">
        <mat-icon class="example-icon" aria-hidden="false">account_circle</mat-icon>
        <span>Utilisateurs</span>
      </button>
      <mat-menu #menuUser="matMenu">
        <button mat-menu-item (click)="router.navigate(['/admin/create-user'])">Créer</button>
        <button mat-menu-item (click)="router.navigate(['/admin/list-users'])">Liste</button>
      </mat-menu>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <button mat-button [matMenuTriggerFor]="menuMeta">
        <mat-icon class="example-icon" aria-hidden="false">local_offer</mat-icon>
        <span>Métadonnées</span>
      </button>
      <mat-menu #menuMeta="matMenu">
        <button mat-menu-item (click)="router.navigate(['/admin/metadata-test'])">Aperçu</button>
        <button mat-menu-item (click)="router.navigate(['/admin/metadata-manager'])">Gérer</button>
      </mat-menu>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <button mat-button (click)="router.navigate(['/admin/determination'])">
        <mat-icon class="example-icon" aria-hidden="false">settings</mat-icon>
        <span>Détermination (test)</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="admin-content">
    <router-outlet></router-outlet>
  </div>
</div>
